/*----------------------------------

	
	----------------------
	
/* Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Site Styles
	#Typography
	#Links
	#Lists
	#Images
	#Buttons
	#Forms
	#Misc 
	#Bootstrap */


/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }
		:focus { outline:0; }
        

/* #Basic Styles
================================================== */

	body {
		font: 14px/22px 'Source Sans Pro', 'Open Sans', Trebuchet MS, Helvetica, Arial, sans-serif;
		color: #3b454d;
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
		overflow-x: hidden;
		background: #f4f7f8 url(../images/bdbg1.png);
}


/* #Typography
================================================== */

	h1, h2, h3 {
		font-weight: 300;
	 }
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; color: #485159;}
	h1 { font-size: 50px; line-height: 59px; margin-bottom: 12px; letter-spacing: -2.5px; }
	h2 { font-size: 37px; line-height: 42px; margin-bottom: 10px; }
	h3 { font-size: 28px; line-height: 39px; margin-bottom: 8px; }
	h4 { font-size: 20px; line-height: 30px; margin-bottom: 10px; }
	h5 { font-size: 17px; line-height: 28px; margin-bottom: 7px; }
	h6 { font-size: 14px; line-height: 20px; margin-bottom: 4px; }
	.subheader { color: #849098; }
	h1.slight, h2.slight, h3.slight, h4.slight, h5.slight, h6.slight, p.slight, .blox.dark h4.tagline-thin.slight { color: #959da2; }
	h1.slight-dark, h2.slight-dark, h3.slight-dark, h4.slight-dark, h5.slight-dark, h6.slight-dark, p.slight-dark { color: #525558; }
	h1.extr { font-size:56px; font-weight:100; }
	h1.tagline-bold { font-size:36px; font-weight:800; line-height:1.24; }
	h4.tagline-thin { font-size:23px; line-height:32px; color:#464d52; font-weight:300; }
	h4.tagline-thin.slight { color: #858e93;}
	h4.slight { font-weight:300;}
	h5.title-bold { font-size:14px; font-weight:600; letter-spacing:1.6px; text-transform:uppercase; }
	h1 strong { font-weight:700; letter-spacing: -0.04em; }
	h4, h5, h6 { font-weight:400; }
	h5, h6 { color:#56595d; }
	h3 strong, h4 strong, h5 strong, h6 strong { font-weight:700;}
	h1.maxtitle { font-size:56px; line-height:60px; font-weight:100;}
	#wrap .slog-wrap-resp { max-width:1120px; margin-left:auto; margin-right:auto; position:relative; float:none;}
	.slog-tx1 { max-width:940px;}
	.slog-tx2 { max-width:762px;}
	.slog-tx3 { max-width:610px;}
	.slog-tx4 { max-width:400px;}
	.slog-tx5 { max-width:220px;}
	.slog-tx6 { max-width:482px;}
	.slog-tx1.aligncenter, .slog-tx2.aligncenter, .slog-tx3.aligncenter, .slog-tx4.aligncenter, .slog-tx5.aligncenter, 
	.aligncenter .slog-tx1, .aligncenter .slog-tx2, .aligncenter .slog-tx3, .aligncenter .slog-tx4, .aligncenter .slog-tx5 { margin-left:auto; margin-right:auto; text-align:center;}

	p { margin: 0 0 20px 0; color:#494c4e; font-size:14px; line-height:1.8; font-weight:400; }
	p, li { font-family: 'Varela', 'Source Sans Pro',  Helvetica, Arial, sans-serif;}
	li h1, li h2, li h3, li h4, li h5, li h6 { font-family: 'Source Sans Pro',  Helvetica, Arial, sans-serif;}
	p img { margin: 0; }
	p.lead { font-size: 21px; line-height: 27px; color: #818a92;}
	p.magic { font-size: 19px; line-height: 25px; margin: 0;}
	p.slog { font-size: 16px; line-height:26px; color: #6d6f71;}

	em { font-style: italic; }
	strong { font-weight: bold; }
	p strong { font-size:14px; }
	small { font-size: 75%; color: #969a9e; }
	p small { font-size:12px; font-weight:400; }
	i:hover { cursor:default;}
	a i:hover { cursor:pointer;}
	
/* Dropcaps */
    .dropcap1, .dropcap2, .dropcap3 { text-transform:uppercase; line-height:1; float: left; font-size: 44px; margin: 0 8px 0 0; font-family: Times, serif, Arial; }
	.dropcap2, .dropcap3 {	background: #4a4a4a; color: #fff; display: block; padding:10px; border-radius:5px; margin-top: -2px; }
	.dropcap3 { background: #0093d0; }
	
/* Text Highlights */	
	.highlight1 { padding:2px 5px; background:#85bc36; color:#fff; vertical-align:baseline; }
	.highlight2 { padding:2px 5px; background:#f4f4f4; color:#666; vertical-align:baseline; }
	.highlight3 { padding:3px 6px; background:#0093d0; color:#fff; vertical-align:baseline; }
	.highlight4 { background-color:#fffdcc; vertical-align:baseline; padding:1px 3px;}
	
/*	Blockquotes  */
	blockquote, blockquote p, q { font-size: 21px; line-height: 1.33; color: #2d3439; font-family: 'Arapey', serif; font-weight:300; font-style:italic;  }
	blockquote { position:relative; margin: 0 0 21px; padding: 18px 10px 14px 44px;}
	blockquote:before { position:absolute; left:15px; top:18px; content:'\201D'; font-size:38px; color:#424649; font-weight:bold; font-family: Georgia, Times, serif; }
	blockquote cite { display: block; font-style: italic;  font-size: 12px; color: #777f87; }
	blockquote cite:before { content: "\2014 \0020"; }
	blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }
	blockquote small { font-size:13px; font-style: italic;}
	blockquote img { max-width:100%; width:auto; display:inline; }

	hr { border: solid #e5e5e5; border-width: 1px 0 0; clear: both; margin: 14px 0 35px; height: 0; width: auto; }
	hr.boldbx { border-width: 4px 0 0; border-color:#efefef; }
	.container hr { margin-right: 10px; margin-left: 10px;}
	.container .columns hr, .container .column hr  { margin-right: 0px; margin-left: 0px;}
	
	pre, code { background:#f3f3f3; padding:5px 10px; font-family:"Courier New", Courier, monospace; font-size:12px; white-space:pre-wrap; }
		
	::selection { background: ##7A8957; color: #fff; }
	::-moz-selection { background: ##7A8957; color: #fff; }


/* #Links
================================================== */

	a, a:visited { color: #494345; text-decoration: none; outline: 0; }
	a:hover, a:focus { color: #e84c3d; }
	a:active { outline:none; opacity: 0.75; }


/* #Lists
================================================== */

	ul, ol { margin-bottom: 21px; margin-left: 3px; }
	ul { list-style: inside; }
	ol { list-style: decimal; }
	ol, ul.disc { margin-left: 20px; }
	ul.disc { list-style: disc outside; }
	ul ul, ul ol,
	ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%;  }
	ul ul li, ul ol li,
	ol ol li, ol ul li { margin-bottom: 6px; }
	li {line-height: 18px; margin-bottom: 14px; font-weight:400; color:#525559; }
	ul.large li { line-height: 21px; }
	li p { line-height: 18px; }
	ul.check li, li.check { background:url(../images/li-check.png) no-repeat left 4px; }
	ul.plus li, li.plus { background:url(../images/li-plus.png) no-repeat left 4px; }
	ul.minus li, li.minus { background:url(../images/li-minus.png) no-repeat left 3px; }
	ul.star li, li.star { background:url(../images/li-star.png) no-repeat left 4px; }
	ul.arrow li, li.arrow { background:url(../images/li-arrow.png) no-repeat left 4px; }
	ul.arrow2 li, li.arrow2 { background:url(../images/li-arrow2.png) no-repeat left 4px; }
	ul.square li, li.square { background:url(../images/li-square.png) no-repeat left 4px; }
	ul.circle li, li.circle { background:url(../images/li-circle.png) no-repeat left 5px; }
	ul.cross li, li.cross { background:url(../images/li-cross.png) no-repeat left 3px; }
	ul.check li, li.check, ul.plus li, li.plus, ul.minus li, li.minus, ul.star li, li.star,
	 ul.arrow li, li.arrow, ul.arrow2 li, li.arrow2, ul.square li, li.square,
	  ul.circle li, li.circle, ul.cross li, li.cross { padding:0 0 1px 16px; list-style:none;  } 
	    

/* #Images
================================================== */

	img.scale-with-grid {
		max-width: 100%;
		height: auto; }
		
	img.full-width {
		width: 100%;
		height: auto; }
	p img { margin-bottom:14px;}


/* #Buttons
================================================== */

	.button,
	button, a.price-send,
	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	.button.green,
	button.green, 
	input[type="submit"].green,
	input[type="reset"].green,
	input[type="button"].green  {
	  position:relative;
	  border:0 none;
	  border-radius:1px;
	  color: #fff;
	  display: inline-block;
	  font-size: 13px;
	  line-height:1;
	  text-transform:none;
	  font-family: 'Source Sans Pro',  Helvetica, Arial, sans-serif;
	  font-weight: 700;
	  text-decoration: none;
	  cursor: pointer;
	  margin-bottom: 21px;
	  margin-right:10px;
	  line-height: 1;
	  letter-spacing:1.6px;
	  padding: 14px 28px;
	  background: #677842;
	  -webkit-transition: all 0.28s ease;
	  -moz-transition: all 0.28s ease;
	  -o-transition: all 0.28s ease;
	  transition: all 0.28s ease;
	   }

	.button:hover,
	button:hover, a.price-send:hover,
	input[type="submit"]:hover,
	input[type="reset"]:hover,
	input[type="button"]:hover,
	.button.green:hover,
	button.green:hover, 
	input[type="submit"].green:hover,
	input[type="reset"].green:hover,
	input[type="button"].green:hover  {
		background: #9ecd40;
		-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.2) inset;
		-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.2) inset;
		box-shadow: 0px 0px 4px rgba(0,0,0,0.2) inset;
		
		}
		
	a.button:hover { padding: 14px 36px 14px 20px;}
		
	a.button:after { position: absolute; right: 17px; top:50%; margin-top:-6px; font-family: 'FontAwesome'; font-size: 12px; color:inherit; opacity:0; content: "\f061"; speak: none; font-style: normal; font-weight: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased;
	 -webkit-transition: all 0.33s ease;
	  -moz-transition: all 0.33s ease;
	  -o-transition: all 0.33s ease;
	  transition: all 0.33s ease;}
	a.button:hover:after {opacity:0.9; right:13px;}


	.button.full-width,
	button.full-width,
	input[type="submit"].full-width,
	input[type="reset"].full-width,
	input[type="button"].full-width {
		width: 100%;
		padding-left: 0 !important;
		padding-right: 0 !important;
		text-align: center; 
		}
		
	 .button.large,
	button.large,
	input[type="submit"].large,
	input[type="reset"].large,
	input[type="button"].large {
		padding: 19px 40px;
		font-size:14px;
		letter-spacing:2px;
		font-weight:600;
		 }
		 
	.button.large:hover {
		padding: 19px 50px 19px 30px;
		 }
		 
	 .button.small,
	button.small,
	input[type="submit"].small,
	input[type="reset"].small,
	input[type="button"].small {
		padding: 9px 20px;
		font-size: 11px;
		text-transform:uppercase;
		 }
		 
	.button.small:hover {
		padding: 9px 32px 9px 8px;
		 }
		 
	 .button.blue,
	button.blue,
	input[type="submit"].blue,
	input[type="reset"].blue,
	input[type="button"].blue {
	  background: #128abc;   
		 }
		 
	 .button.blue:hover,
	button.blue:hover, 
	input[type="submit"].blue:hover,
	input[type="reset"].blue:hover,
	input[type="button"].blue:hover {
		background: #32a6d6;
		}
		 
	 .button.red,
	button.red,
	input[type="submit"].red,
	input[type="reset"].red,
	input[type="button"].red {

	  background: #e53f51;   
		 }
		 
	  .button.red:hover,
	button.red:hover, 
	input[type="submit"].red:hover,
	input[type="reset"].red:hover,
	input[type="button"].red:hover {
		background: #eb5162;
		}
		 
	 .button.gray,
	button.gray,
	input[type="submit"].gray,
	input[type="reset"].gray,
	input[type="button"].gray {
	  color:#656f79;
	  text-shadow: 0 -1px #fff;
	  background: #f3f4f5;    
		 }
		 
		 		 
	  .button.gray:hover,
	button.gray:hover, 
	input[type="submit"].gray:hover,
	input[type="reset"].gray:hover,
	input[type="button"].gray:hover {
		background: #f6f7f7;
		}
				 
	 .button.cherry,
	button.cherry,
	input[type="submit"].cherry,
	input[type="reset"].cherry,
	input[type="button"].cherry {
	  background: #93516a;   
		 }
		 
	 .button.cherry:hover,
	button.cherry:hover, 
	input[type="submit"].cherry:hover,
	input[type="reset"].cherry:hover,
	input[type="button"].cherry:hover {
		background: #a45d78;
		}
						 
	 .button.orchid,
	button.orchid,
	input[type="submit"].orchid,
	input[type="reset"].orchid,
	input[type="button"].orchid {
	  background: #9661ab; 	  	  
		 }
		 
	 .button.orchid:hover,
	button.orchid:hover, 
	input[type="submit"].orchid:hover,
	input[type="reset"].orchid:hover,
	input[type="button"].orchid:hover {
		background: #a06ab5;
		}
								 
	 .button.pink,
	button.pink,
	input[type="submit"].pink,
	input[type="reset"].pink,
	input[type="button"].pink {
	  background: #e64883; 	  
		 }
		 
	 .button.pink:hover,
	button.pink:hover, 
	input[type="submit"].pink:hover,
	input[type="reset"].pink:hover,
	input[type="button"].pink:hover {
		background: #ea598f;
		}
										 
	 .button.orange,
	button.orange,
	input[type="submit"].orange,
	input[type="reset"].orange,
	input[type="button"].orange {
	  background: #f98805; 	  
		 }
		 
	 .button.orange:hover,
	button.orange:hover, 
	input[type="submit"].orange:hover,
	input[type="reset"].orange:hover,
	input[type="button"].orange:hover {
		background: #eb9634;
		}		
												 
	 .button.teal,
	button.teal,
	input[type="submit"].teal,
	input[type="reset"].teal,
	input[type="button"].teal {
	  background: #1fa79e; 
		 }
		 
	 .button.teal:hover,
	button.teal:hover, 
	input[type="submit"].teal:hover,
	input[type="reset"].teal:hover,
	input[type="button"].teal:hover {
		background: #34b7ae;
		}
		
														 
	 .button.skyblue,
	button.skyblue,
	input[type="submit"].skyblue,
	input[type="reset"].skyblue,
	input[type="button"].skyblue {
	  background: #b1ce70; 	  
		 }
		 
	 .button.skyblue:hover,
	button.skyblue:hover, 
	input[type="submit"].skyblue:hover,
	input[type="reset"].skyblue:hover,
	input[type="button"].skyblue:hover {
		background: #40511a;
		}
				
														 
	 .button.jade,
	button.jade,
	input[type="submit"].jade,
	input[type="reset"].jade,
	input[type="button"].jade {
	  background: #0aad80;   
		 }
		 
	 .button.jade:hover,
	button.jade:hover, 
	input[type="submit"].jade:hover,
	input[type="reset"].jade:hover,
	input[type="button"].jade:hover {
		background: #19bc8f;
		}


		
	a.button, .button.blue, .button.red, .button.cherry, .button.orchid, .button.pink, .button.orange, .button.teal {
		 color: #fff;
		 }
		
	  .button:active,
	button:active, a.price-send:active,
	input[type="submit"]:active,
	input[type="reset"]:active,
	input[type="button"]:active {
		color: #c1d7dc;
		opacity: 0.94;
		 }
		 
		 
	/* Bordered Buttons */		 
		.button.bordered-bot,
	button.bordered-bot,
	input[type="submit"].bordered-bot,
	input[type="reset"].bordered-bot,
	input[type="button"].bordered-bot {
		background:none !important;
		border:2px solid #dedede;
		color: #DADADA;
		text-shadow:none;
		letter-spacing:2px;
		text-transform:uppercase;
		}
		
	    .button.bordered-bot:hover,
	button.bordered-bot:hover,
	input[type="submit"].bordered-bot:hover,
	input[type="reset"].bordered-bot:hover,
	input[type="button"].bordered-bot:hover {
		border-color:#363f46;
		color:#363f46;
		}
		
	 .button.blue.bordered-bot,
	button.blue.bordered-bot,
	input[type="submit"].blue.bordered-bot,
	input[type="reset"].blue.bordered-bot,
	input[type="button"].blue.bordered-bot {
	  border-color: #fff;
	  color: #fff;   
		 }
		 
		 
	 .button.red.bordered-bot,
	button.red.bordered-bot,
	input[type="submit"].red.bordered-bot,
	input[type="reset"].red.bordered-bot,
	input[type="button"].red.bordered-bot {

	  border-color: #e53f51;
	  color: #e53f51;   
		 }
		 
				 
	 .button.cherry.bordered-bot,
	button.cherry.bordered-bot,
	input[type="submit"].cherry.bordered-bot,
	input[type="reset"].cherry.bordered-bot,
	input[type="button"].cherry.bordered-bot {
	  border-color: #93516a;
	  color: #93516a;   
		 }

						 
	 .button.orchid.bordered-bot,
	button.orchid.bordered-bot,
	input[type="submit"].orchid.bordered-bot,
	input[type="reset"].orchid.bordered-bot,
	input[type="button"].orchid.bordered-bot {
	  border-color: #9661ab;
	  color: #9661ab; 	  	  
		 }
		 
								 
	 .button.pink.bordered-bot,
	button.pink.bordered-bot,
	input[type="submit"].pink.bordered-bot,
	input[type="reset"].pink.bordered-bot,
	input[type="button"].pink.bordered-bot {
	  border-color: #e64883;
	  color: #e64883; 	  
		 }
		 
										 
	 .button.orange.bordered-bot,
	button.orange.bordered-bot,
	input[type="submit"].orange.bordered-bot,
	input[type="reset"].orange.bordered-bot,
	input[type="button"].orange.bordered-bot {
	  border-color: #f98805;
	  color: #f98805; 	  
		 }
		 		
												 
	 .button.teal.bordered-bot,
	button.teal.bordered-bot,
	input[type="submit"].teal.bordered-bot,
	input[type="reset"].teal.bordered-bot,
	input[type="button"].teal.bordered-bot {
	  border-color: #1fa79e;
	  color: #1fa79e; 
		 }
		
														 
	 .button.skyblue.bordered-bot,
	button.skyblue.bordered-bot,
	input[type="submit"].skyblue.bordered-bot,
	input[type="reset"].skyblue.bordered-bot,
	input[type="button"].skyblue.bordered-bot {
	  border-color: #b1ce70;
	  color: #b1ce70; 	  
		 }
				
														 
	 .button.jade.bordered-bot,
	button.jade.bordered-bot,
	input[type="submit"].jade.bordered-bot,
	input[type="reset"].jade.bordered-bot,
	input[type="button"].jade.bordered-bot {
	  border-color: #0aad80;
	  color: #0aad80;   
		 }
		 
		 
		.button.green.bordered-bot,
	button.green.bordered-bot,
	input[type="submit"].green.bordered-bot,
	input[type="reset"].green.bordered-bot,
	input[type="button"].green.bordered-bot {
	  border-color: #8fbe32;
	  color: #8fbe32;   
		 }
		 
		 
		 
	/* Buttons icon */
	.button i,
	button i,
	input[type="submit"] i,
	input[type="reset"] i,
	input[type="button"] i {
	  color: inherit;
	  font-size:16px; 
	  vertical-align:baseline;
	  line-height:1;
	  display:inline;
	  margin-right:7px;   
		 }
		 
	.button i.fa-none { margin:0; display:none;}

		 

	/* Fix for odd Mozilla border & padding issues */
	button::-moz-focus-inner,
	input::-moz-focus-inner {
    border: 0;
    padding: 0;
	}


/* #Forms
================================================== */

label,
input,
button,
select,
textarea {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}
input[type="radio"],
input[type="checkbox"] {
  margin-top: 1px 0 0;
  line-height: normal;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
select[multiple],
select[size] {
  height: auto !important;
}
input:focus,
select:focus,
textarea:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
form legend {
  margin: 15px 0px 10px 0px;
}
.form-control {
  background-color: #ffffff;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0.07);
  font-family: Arial, sans-serif;
  -webkit-appearance: none;
  color: #2c2c2c;
  outline: 0;
  height: 35px;
  padding: 9px 12px;
  line-height: normal;
  font-size: 14px;
  font-weight: normal;
  vertical-align: middle;
  min-height: 35px;
  -webkit-transition: all 0.12s ease;
  transition: all 0.12s ease;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-transition: background 0.2s linear 0s;
  transition: background 0.2s linear 0s;
}
.form-control:focus {
  border-color: rgba(0, 0, 0, 0.1);
  background-color: #f0f0f0;
  outline: 0 !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-control:focus::-moz-placeholder {
  color: inherit;
  opacity: 0.7;
}
.form-control:focus:-ms-input-placeholder {
  color: inherit;
  opacity: 0.7;
}
.form-control:focus::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.7;
}
.form-control::-moz-placeholder {
  color: inherit;
  opacity: 0.33;
}
.form-control:-ms-input-placeholder {
  color: inherit;
  opacity: 0.33;
}
.form-control::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.33;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background: #f8f8f8;
  color: rgba(98, 98, 98, 0.23);
}
/* Input Sizes
--------------------------------------------------
*/
.input-sm,
.form-horizontal .form-group-sm .form-control {
  font-size: 13px;
  min-height: 32px;
  height: 32px;
  padding: 8px 9px;
}
.input-lg,
.form-horizontal .form-group-lg .form-control {
  border-radius: 3px;
  font-size: 18px;
  height: 45px;
  padding: 11px 13px;
}
.input-xlg {
  height: 51px;
  font-size: 18px;
  line-height: 22px;
}
/* Checkboxes and Radio buttons 
--------------------------------------------------
*/
.radio,
.checkbox {
  margin-bottom: 10px;
  margin-top: 10px;
  padding-left: 0px;
}
.radio label,
.checkbox label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px !important;
  margin-right: 15px;
  font-size: 13px;
}
.radio label:before,
.checkbox label:before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 10px;
  position: absolute;
  left: 0px;
  background-color: #ffffff;
  border: 1px solid #d0d0d0;
}
.radio label {
  margin-bottom: 6px;
}
.radio label:before {
  bottom: 2.5px;
  border-radius: 99px;
  -webkit-transition: border 0.3s 0s cubic-bezier(0.455, 0.03, 0.215, 1.33);
  transition: border 0.3s 0s cubic-bezier(0.455, 0.03, 0.215, 1.33);
}
.radio input[type=radio]:checked + label:before {
  border-width: 5px;
}
.radio input[type=radio] {
  display: none;
}
.radio input[type=radio][disabled] + label {
  opacity: 0.65;
}
.radio.radio-success input[type=radio]:checked + label:before {
  border-color: #10cfbd;
}
.radio.radio-primary input[type=radio]:checked + label:before {
  border-color: #6d5cae;
}
.radio.radio-info input[type=radio]:checked + label:before {
  border-color: #3b4752;
}
.radio.radio-warning input[type=radio]:checked + label:before {
  border-color: #f8d053;
}
.radio.radio-danger input[type=radio]:checked + label:before {
  border-color: #f55753;
}
.radio.radio-complete input[type=radio]:checked + label:before {
  border-color: #48b0f7;
}
.checkbox input[type=radio][disabled] + label:after {
  background-color: #e6e6e6;
}
.checkbox label {
  transition: border 0.2s linear 0s, color 0.2s linear 0s;
  white-space: nowrap;
}
.checkbox label:before {
  top: 1.4px;
  border-radius: 3px;
  transition: border 0.2s linear 0s, color 0.2s linear 0s;
}
.checkbox label::after {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 3.2px;
  top: 0px;
  font-size: 11px;
  transition: border 0.2s linear 0s, color 0.2s linear 0s;
}
.checkbox label:after {
  border-radius: 3px;
}
.checkbox input[type=checkbox] {
  display: none;
}
.checkbox.checkbox-circle label:after {
  border-radius: 99px;
}
.checkbox.checkbox-circle label:before {
  border-radius: 99px;
}
.checkbox input[type=checkbox]:checked + label:before {
  border-width: 8px;
}
.checkbox input[type=checkbox]:checked + label::after {
  font-family: 'FontAwesome';
  content: "\F00C";
  color: #fff;
}
.checkbox input[type=checkbox][disabled] + label {
  opacity: 0.65;
}
.checkbox input[type=checkbox][disabled] + label:before {
  background-color: #eceff3;
}
.checkbox.right label {
  margin-right: 35px;
  padding-left: 0 !important;
}
.checkbox.right label:before {
  right: -35px;
  left: auto;
}
.checkbox.right input[type=checkbox]:checked + label {
  position: relative;
}
.checkbox.right input[type=checkbox]:checked + label::after {
  font-family: 'FontAwesome';
  content: "\F00C";
  position: absolute;
  right: -27px;
  left: auto;
}
.checkbox.check-success input[type=checkbox]:checked + label:before {
  border-color: #10cfbd;
}
.checkbox.check-primary input[type=checkbox]:checked + label:before {
  border-color: #6d5cae;
}
.checkbox.check-complete input[type=checkbox]:checked + label:before {
  border-color: #48b0f7;
}
.checkbox.check-warning input[type=checkbox]:checked + label:before {
  border-color: #f8d053;
}
.checkbox.check-danger input[type=checkbox]:checked + label:before {
  border-color: #f55753;
}
.checkbox.check-info input[type=checkbox]:checked + label:before {
  border-color: #3b4752;
}
.checkbox.check-success input[type=checkbox]:checked + label::after,
.checkbox.check-primary input[type=checkbox]:checked + label::after,
.checkbox.check-complete input[type=checkbox]:checked + label::after,
.checkbox.check-warning input[type=checkbox]:checked + label::after,
.checkbox.check-danger input[type=checkbox]:checked + label::after,
.checkbox.check-info input[type=checkbox]:checked + label::after {
  color: #ffffff;
}
.input-group.transparent .input-group-addon {
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.07);
}
/* Form layouts
--------------------------------------------------
*/
@media only screen and (min-width: 768px) {
  form .row {
    margin-left: 0;
    margin-right: 0;
  }
  form .row [class*='col-']:not(:first-child),
  form .row [class*='col-']:not(:last-child) {
    padding-right: 7px;
    padding-left: 7px;
  }
  form .row [class*='col-']:first-child {
    padding-left: 0;
  }
  form .row [class*='col-']:last-child {
    padding-right: 0;
  }
}
/* Form layouts  : Horizontal
--------------------------------------------------
*/
.form-horizontal .form-group {
  border-bottom: 1px solid #e6e6e6;
  padding-top: 19px;
  padding-bottom: 19px;
  margin-bottom: 0;
}
.form-horizontal .form-group:last-child {
  border-bottom: none;
}
.form-horizontal .form-group:hover .control-label {
  opacity: .6;
}
.form-horizontal .form-group.focused .control-label {
  opacity: 1;
}
.form-horizontal .form-group .control-label {
  text-align: left;
  opacity: .42;
  -webkit-transition: opacity ease 0.3s;
  transition: opacity ease 0.3s;
}
/* Form layouts  : Attached
--------------------------------------------------
*/
.form-group-attached .form-group.form-group-default {
  border-radius: 0;
  margin-bottom: 0;
}
.form-group-attached > div {
  margin: 0;
}
.form-group-attached > div:first-child.row > [class*='col-']:first-child .form-group-default {
  border-top-left-radius: 2px;
}
.form-group-attached > div:first-child.row > [class*='col-']:last-child .form-group-default {
  border-top-right-radius: 2px;
}
.form-group-attached > div:first-child.form-group-default {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.form-group-attached > div:last-child.row > [class*='col-']:first-child .form-group-default {
  border-bottom-left-radius: 2px;
}
.form-group-attached > div:last-child.row > [class*='col-']:last-child .form-group-default {
  border-bottom-right-radius: 2px;
}
.form-group-attached > div:last-child.form-group-default {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.form-group-attached > div.row > [class*='col-'] {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.form-group-attached > div.row > [class*='col-'] > .form-group-default {
  display: table;
  width: 100%;
}
.form-group-attached > div.row > [class*='col-']:not(:only-child):not(:last-child) > .form-group-default {
  border-right-color: transparent;
}
.form-group-attached > div:not(:last-child) .form-group-default,
.form-group-attached > div:not(:last-child).form-group-default {
  border-bottom-color: transparent;
}
/* Form layouts  : Responsive Handlers
--------------------------------------------------
*/
@media (max-width: 767px) {
  .form-group-attached .form-group-default {
    border-right-color: rgba(0, 0, 0, 0.07) !important;
  }
}
@media only screen and (min-width: 768px) {
  .form-group-attached > div.row {
    display: table;
    width: 100%;
  }
  .form-group-attached > div.row > [class*='col-'] {
    display: table-cell;
    height: 100%;
    float: none;
    vertical-align: top;
  }
  .form-group-attached > div.row > [class*='col-'] .form-group {
    height: 100%;
    width: 100%;
  }
}
/* Form Groups 
--------------------------------------------------
*/
.form-group {
  margin-bottom: 10px;
}
.form-group label:not(.error) {
  font-family: 'Montserrat';
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 600;
}
.form-group label .help {
  margin-left: 8px;
}
.form-group .help {
  font-size: 12px;
  color: rgba(98, 98, 98, 0.55);
}
.form-group-default {
  background-color: #fff;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-radius: 2px;
  padding-top: 7px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 4px;
  overflow: hidden;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}
.form-group-default.required:after {
  color: #f55753;
  content: "*";
  font-family: arial;
  font-size: 20px;
  position: absolute;
  right: 15px;
  top: 9px;
}
.form-group-default.disabled {
  background: #f8f8f8;
  color: rgba(98, 98, 98, 0.23);
}
.form-group-default.disabled input {
  opacity: .6;
}
.form-group-default.disabled.focused {
  background: #f8f8f8;
}
.form-group-default.disabled.focused label {
  opacity: 1;
}
.form-group-default.focused {
  border-color: rgba(0, 0, 0, 0.1) !important;
  background-color: #f0f0f0;
}
.form-group-default.focused label {
  opacity: .4;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
.form-group-default.has-error {
  background-color: rgba(245, 87, 83, 0.1);
}
.form-group-default.has-success .form-control-feedback,
.form-group-default.has-error .form-control-feedback {
  display: none !important;
}
.form-group-default.has-success .form-control,
.form-group-default.has-success .form-control:focus,
.form-group-default.has-error .form-control,
.form-group-default.has-error .form-control:focus {
  border: none;
  box-shadow: none;
}
.form-group-default.input-group {
  padding: 0;
}
.form-group-default.input-group > label {
  margin-top: 6px;
  padding-left: 12px;
}
.form-group-default.input-group > .form-control {
  margin-top: -2px;
  margin-bottom: 3px;
  padding-left: 12px;
}
.form-group-default.input-group .input-group-addon {
  height: calc(50px);
  min-width: calc(50px);
  border-radius: 0;
  border: none;
}
.form-group-default.input-group.focused .input-group-addon {
  border-color: rgba(0, 0, 0, 0.1);
}
.form-group-default .form-control {
  border: none;
  /* height: 25px; */
  min-height: 25px;
  padding: 0;
  margin-top: -4px;
  background: none;
  width: 500px;
}
.form-group-default .form-control.error {
  color: #2c2c2c;
}
.form-group-default .form-control:focus {
  background: none;
}
.form-group-default label {
  margin: 0;
  display: block;
  opacity: 1;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
.form-group-default label.label-lg {
  font-size: 13px;
  left: 13px;
  top: 9px;
}
.form-group-default label.label-sm {
  font-size: 11px;
  left: 11px;
  top: 6px;
}
.form-group-default label.highlight {
  opacity: 1;
}
.form-group-default label.fade {
  opacity: .5;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
.form-group-default > .input-lg {
  height: 29px;
  min-height: 29px;
  padding-left: 1px;
}
.form-group-default > .input-sm {
  min-height: 18px;
  height: 18px;
}
.form-group-default.form-group-default-select2 {
  padding: 0;
}
.form-group-default.form-group-default-select2 > label {
  position: absolute;
  z-index: 10;
  padding: 7px 12px 0 12px;
}
.form-group-default.form-group-default-select2 > label.label-lg {
  left: 0;
  top: 0;
}
.form-group-default.form-group-default-select2 > label.label-sm {
  left: 0;
  top: 0;
}
.form-group-default.form-group-default-select2 .select2-container .select2-choice {
  padding-top: 20px;
  height: 52px;
}
.form-group-default.form-group-default-select2 .select2-container .select2-choice .select2-arrow b:before {
  top: 20px;
}
.form-group-default.form-group-default-select2 .select2-container .select2-choice .select2-chosen {
  padding-left: 3px;
  padding-top: 1px;
}
.form-group-default.form-group-default-select2 .select2-container .select2-choices {
  padding-top: 20px;
  height: 52px;
  border: 0px;
}
.form-group-default.form-group-default-select2 > .input-lg {
  height: auto;
  padding: 0;
}
.form-group-default.form-group-default-select2 > .input-lg .select2-choice {
  padding-top: 20px;
  height: 56px;
}
.form-group-default.form-group-default-select2 > .input-sm {
  height: auto;
  padding: 0;
}
.form-group-default.form-group-default-select2 > .input-sm .select2-choice {
  padding-top: 20px;
  height: 46px;
}
.form-group-default.form-group-default-selectFx {
  padding: 0;
}
.form-group-default.form-group-default-selectFx > label {
  position: absolute;
  z-index: 10;
  padding: 7px 12px 0 12px;
}
.form-group-default.form-group-default-selectFx > label.label-lg {
  left: 0;
  top: 0;
}
.form-group-default.form-group-default-selectFx > label.label-sm {
  left: 0;
  top: 0;
}
.form-group-default.form-group-default-selectFx .cs-wrapper .cs-placeholder {
  padding-top: 28px;
  height: 52px;
  padding-left: 12px;
}
.form-group-default.form-group-default-selectFx .cs-wrapper .cs-select {
  height: auto;
}
.form-group-default.form-group-default-selectFx .cs-wrapper .cs-select > span:after,
.form-group-default.form-group-default-selectFx .cs-wrapper .cs-select .cs-selected span:after {
  top: 39px;
}
.form-group-default.form-group-default-selectFx .cs-wrapper .cs-select.input-lg .cs-placeholder {
  height: 60px;
}
.form-group-default.form-group-default-selectFx .cs-wrapper .cs-select.input-sm .cs-placeholder {
  height: 50px;
}
.form-group-default.form-group-default-selectFx .cs-wrapper .dropdown-placeholder {
  vertical-align: top;
}
/* Form validation
--------------------------------------------------
*/
.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline {
  color: #0da899;
}
.has-success .form-control {
  border-color: #0da899;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.has-success .form-control:focus {
  border-color: #09786e;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.has-success .input-group-addon {
  background: #f0f0f0;
  border: 1px solid rgba(0, 0, 0, 0.07);
  color: rgba(98, 98, 98, 0.47);
}
.has-success .form-control-feedback {
  color: #0da899;
}
.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline {
  color: #c9a843;
}
.has-warning .form-control {
  border-color: #c9a843;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.has-warning .form-control:focus {
  border-color: #a98b31;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.has-warning .input-group-addon {
  background: #f0f0f0;
  border: 1px solid rgba(0, 0, 0, 0.07);
  color: rgba(98, 98, 98, 0.47);
}
.has-warning .form-control-feedback {
  color: #c9a843;
}
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline {
  color: #f55753;
}
.has-error .form-control {
  border-color: #f55753;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.has-error .form-control:focus {
  border-color: #f22823;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.has-error .input-group-addon {
  background: #f0f0f0;
  border: 1px solid rgba(0, 0, 0, 0.07);
  color: rgba(98, 98, 98, 0.47);
}
.has-error .form-control-feedback {
  color: #f55753;
}
.error {
  font-size: 12px;
  color: #f55753;
  display: block;
}
/* Addon inputs
--------------------------------------------------
*/
.input-group-addon {
  background: #f0f0f0;
  border: 1px solid rgba(0, 0, 0, 0.07);
  color: rgba(98, 98, 98, 0.47);
  font-size: 14px;
  padding: 6px 9px;
  display: table-cell;
  border-radius: 3px;
  transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s, color 0.2s linear 0s, box-shadow 0.2s linear 0s, background 0.2s linear 0s;
}
.input-group-addon i {
  position: relative;
  top: 1px;
}
.input-group-addon.primary {
  background-color: #6d5cae;
  border: 1px solid #6d5cae;
  color: #ffffff;
}
.input-group-addon.primary .arrow {
  color: #6d5cae;
}
.input-group-addon.success {
  background-color: #0090d9;
  color: #ffffff;
}
.input-group-addon.success .arrow {
  color: #0090d9;
}
.input-group-addon.info {
  background-color: #1f3853;
  color: #ffffff;
}
.input-group-addon.info .arrow {
  color: #1f3853;
}
.input-group-addon.warning {
  background-color: #fbb05e;
  color: #ffffff;
}
.input-group-addon.warning .arrow {
  color: #fbb05e;
}
.input-group-addon.danger {
  background-color: #f35958;
  color: #ffffff;
}
.input-group-addon.danger .arrow {
  color: #f35958;
}
.input-group-addon .arrow {
  position: relative;
  right: -6px;
  color: #D1DADE;
  z-index: 100;
}
.input-group-addon .arrow:before {
  font-family: 'FontAwesome';
  content: "\f0da";
  font-size: 23px;
  position: absolute;
  left: 17px;
  top: -2px;
}
.input-group-addon:last-child .arrow:before {
  font-family: 'FontAwesome';
  content: "\f0d9";
  font-size: 23px;
  position: absolute;
  left: -23px;
  top: -2px;
}
.input-group-addon:last-child input {
  border-left: 0px;
}

/* #Misc
================================================== */

	.remove-bottom { margin-bottom: 0 !important; }
	.half-bottom { margin-bottom: 7px !important; }
	.add-bottom { margin-bottom: 21px !important; }	

	.border-button { border: 1px; }

