
.gm-style .gm-style-cc span, .gm-style .gm-style-cc a, .gm-style .gm-style-mtc div { font-size: 10px; }
.gm-style { font-family: Roboto, Arial, sans-serif; font-size: 11px; font-weight: 400; text-decoration: none; }
.pac-container { z-index: 1000; border-radius: 2px; border-top-width: 1px; border-top-style: solid; border-top-color: rgb(217, 217, 217); font-family: Arial, sans-serif; box-shadow: rgba(0, 0, 0, 0.298039) 0px 2px 6px; box-sizing: border-box; overflow: hidden; position: absolute !important; background-color: rgb(255, 255, 255); }
.pac-container::after { content: ''; padding: 1px 1px 1px 0px; height: 16px; text-align: right; display: block; background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/powered-by-google-on-white2.png); background-size: 104px 16px; background-position: 100% 50%; background-repeat: no-repeat; }
.hdpi.pac-container::after { background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/powered-by-google-on-white2_hdpi.png); }
body { background: url(http://localhost/campnative/images/bdbg1.png) rgb(244, 247, 248); }
#wrap { display: block; margin: 0px auto; position: relative; padding: 0px; visibility: visible; clear: both; overflow: hidden; background: rgb(255, 255, 255); }
#wrap.boxed-wrap { display: block; margin: 0px auto; overflow: hidden; width: 1000px; -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 11px; box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 9px; border-bottom-style: none; visibility: visible; background: rgb(255, 255, 255); }
#wrap.boxed-wrap .container { width: 100%; }
#wrap p img { height: auto; }
#wrap.boxed-wrap #header { top: inherit; left: inherit; width: 1000px; }
#main-content.container { padding-top: 20px; }
.top-links img, .container .top-links p { float: left; margin: 4px 3px 0px 0px; }
.container .top-links p { color: rgb(217, 217, 217); font-weight: bold; font-size: 12px; line-height: 1; margin: 5px 9px 0px 0px; }
#header { z-index: 10000; width: 100%; padding: 15px 0px; background: rgb(255, 255, 255); }
#header h6, .top-bar h6, .top-inf h6 { font-size: 12px; margin: 18px 14px; font-weight: 600; color: rgb(121, 121, 121); display: inline-block; }
#header h6 i, .top-bar h6 i, .top-inf h6 i { font-size: 16px; color: rgb(106, 108, 117); display: inline; margin: 7px 4px; padding: 8px; border-radius: 50%; border: 1px solid rgb(233, 233, 233); vertical-align: middle; background: none; }
.logo { height: auto; float: left; }
.logo img { max-width: 100%; max-height: 100%; margin-top: 5px; }
.nav-wrap1 .container { width: auto; }
#header .img-logo-w1 { display: block; }
#header .img-logo-w2, #header .img-logo-w3 { display: none; }
.transparent-header-w #header .img-logo-w1, .transparent-header-w #header .img-logo-w3 { display: none; }
.transparent-header-w #header .img-logo-w2 { display: block; }
#header.sticky .img-logo-w2 { display: none; }
.logo-sticky { display: none; }
#search-form { float: right; margin: 20px 8px auto 0px; position: relative; padding-left: 14px; height: 24px; }
#search-form .search-text-box, #search-form2 .search-text-box2 { border: 3px solid rgb(162, 167, 177); box-shadow: none; cursor: text; font-size: 13px; color: rgb(68, 68, 68); min-height: 38px; height: 38px; line-height: 18px; padding: 7px 5px 8px 30px; transition: all 0.3s ease-in-out 0s; -webkit-transition: all 0.3s ease-in-out 0s; width: 1px; min-width: 210px; background-image: url(http://localhost/campnative/images/searchicon@2x.png); background-color: rgba(255, 255, 255, 0.729412); background-size: 16px 16px; background-position: 9px 9px; background-repeat: no-repeat; }
#search-form2 { display: none; position: relative; }
#search-form2 .search-text-box2 { width: 220px; margin: auto; position: relative; }
.search-form-box { position: absolute; right: -25px; display: none; margin-top: 24px; }
.search-form-box * { margin: 0px; }
.search-form-box::before { content: ''; display: block; position: absolute; right: 19px; width: 0px; height: 0px; border-style: solid; border-width: 7px; top: -14px; border-color: transparent transparent rgb(162, 167, 177); }
a.search-form-icon, a.search-form-icon:visited { display: block; width: 16px; height: 16px; color: rgb(170, 170, 170); }
a.search-form-icon i { color: rgb(170, 170, 170); border: 1px solid rgb(170, 170, 170); padding: 8px 9px; font-size: 11px; border-radius: 50%; }
a.search-form-icon:hover { color: rgb(85, 85, 85); }
#footer .col-md-4, #footer .col-md-3 { padding-right: 30px; }
#footer .widget ul.menu li::after { display: none; content: ''; }
#footer .widget ul.menu li { border: none; }
#footer .footer-in .widget ul.menu li:hover { background: none; }
.footer-in .col-md-12 .widget { text-align: center; }
.custom-footer-menu a, .blox.dark .custom-footer-menu a { display: block; color: rgb(255, 255, 255); padding: 4px 0px; }
.footer-navi a:hover, .custom-footer-menu a:hover { color: rgb(204, 204, 204); text-decoration: underline; }
.socialfollow { float: right; }
.socialfollow a { height: 38px; padding: 10px; float: left; text-decoration: none; display: block; border-radius: 2px; transition: all 0.31s ease; -webkit-transition: all 0.31s ease; }
.socialfollow a:first-of-type { margin-left: 0px; }
.footer-in .socialfollow a:hover { text-decoration: none; }
.socialfollow a.facebook:hover { background: rgb(59, 89, 150); }
.top-bar .socialfollow a.facebook:hover i, .our-team .socialfollow a.facebook:hover i { color: rgb(59, 89, 150); }
.socialfollow a.twitter:hover { background: rgb(0, 172, 238); }
.top-bar .socialfollow a.twitter:hover i, .our-team .socialfollow a.twitter:hover i { color: rgb(0, 172, 238); }
.socialfollow a.vimeo:hover { background: rgb(13, 173, 214); }
.top-bar .socialfollow a.vimeo:hover i, .our-team .socialfollow a.vimeo:hover i { color: rgb(13, 173, 214); }
.socialfollow a.dribble:hover { background: rgb(213, 62, 104); }
.top-bar .socialfollow a.dribble:hover i, .our-team .socialfollow a.dribble:hover i { color: rgb(213, 62, 104); }
.socialfollow a.youtube:hover { background: rgb(203, 50, 44); }
.top-bar .socialfollow a.youtube:hover i, .our-team .socialfollow a.youtube:hover i { color: rgb(203, 50, 44); }
.socialfollow a.pinterest:hover { background: rgb(203, 32, 39); }
.top-bar .socialfollow a.pinterest:hover i, .our-team .socialfollow a.pinterest:hover i { color: rgb(203, 32, 39); }
.socialfollow a.google:hover { background: rgb(195, 57, 28); }
.top-bar .socialfollow a.google:hover i, .our-team .socialfollow a.google:hover i { color: rgb(195, 57, 28); }
.socialfollow a.linkedin:hover { background: rgb(0, 115, 178); }
.top-bar .socialfollow a.linkedin:hover i, .our-team .socialfollow a.linkedin:hover i { color: rgb(0, 115, 178); }
.socialfollow a.rss:hover { background: rgb(242, 154, 29); }
.top-bar .socialfollow a.rss:hover i, .our-team .socialfollow a.rss:hover i { color: rgb(242, 154, 29); }
.socialfollow a.instagram:hover { background: rgb(69, 115, 153); }
.top-bar .socialfollow a.instagram:hover i, .our-team .socialfollow a.instagram:hover i { color: rgb(69, 115, 153); }
.socialfollow a.other-social:hover { background: rgb(255, 93, 94); }
.top-bar .socialfollow a.other-social:hover i, .our-team .socialfollow a.other-social:hover i { color: rgb(255, 93, 94); }
.socialfollow img { opacity: 0.79; }
.socialfollow i { font-size: 18px; color: rgb(255, 255, 255); opacity: 0.95; }
#footer.litex .socialfollow i { color: rgb(52, 52, 52); }
#footer.litex .socialfollow a:hover i { color: rgb(255, 255, 255); }
.top-bar .socialfollow { float: right; margin-right: 10px; }
.top-bar .socialfollow img { opacity: 0.97; }
.top-bar .socialfollow a, .our-team .socialfollow a { padding: 4px; margin: 1px 4px; height: 26px; background: none; }
.top-bar .socialfollow i, .our-team .socialfollow i { color: rgb(151, 151, 151); transition: all 0.25s ease; -webkit-transition: all 0.25s ease; }
.top-bar .socialfollow a:hover, .our-team .socialfollow a:hover { background: none; }
#side-nav li.current a, #side-nav li.current a::after { color: rgb(0, 147, 208); }
.blox .social-media { text-align: center; }
.blox .social-media a { text-align: center; padding: 0px 10px; margin-bottom: 20px; display: inline-block; }
.blox .social-media a i { border: 2px solid transparent; font-size: 4em; padding: 30px; border-radius: 50%; color: rgb(255, 255, 255); margin-bottom: 20px; display: block; transition: all 0.8s ease-in-out; -webkit-transition: all 0.8s ease-in-out; background: rgba(15, 15, 15, 0.6); }
.blox .social-media a:hover i { color: rgb(255, 255, 255); border: 2px solid rgb(255, 255, 255); }
.blox .social-media a span { transition: all 0.8s ease-in-out; -webkit-transition: all 0.8s ease-in-out; color: transparent; text-transform: uppercase; font-size: 16px; font-weight: 600; text-shadow: rgb(33, 65, 83) 0px 0px 5px; }
.blox .social-media a:hover span { color: rgb(255, 255, 255); }
#social-media.active.facebook { background: rgb(59, 89, 150) !important; }
#social-media.active.twitter { background: rgb(0, 172, 238) !important; }
#social-media.active.dribble { background: rgb(213, 62, 104) !important; }
#social-media.active.google { background: rgb(195, 57, 28) !important; }
#social-media.active.instagram { background: rgb(69, 115, 153) !important; }
#social-media.blox .social-media a span { display: none; }
#social-media.blox .social-media a i { font-size: 2em; border: 1px solid transparent; margin: 0px; padding: 20px; background: none; }
#social-media.blox .social-media a { margin: 20px 0px; }
#social-media.blox .social-media a:hover i { border: 1px solid rgb(255, 255, 255); }
.brdr-r1, .brdr-r2 { border-right-width: 1px; border-right-style: solid; border-right-color: rgb(229, 229, 229); }
.blox.dark .brdr-r1, .blox.dark .brdr-r2, .blox.dark .brdr-l1, .blox.dark .brdr-l2 { border-color: rgba(255, 255, 255, 0.498039); }
.aligncenter { text-align: center; }
.aligncenter { text-align: center; }
#scroll-top a { padding: 4px 8px 6px; border-radius: 4px; position: fixed; bottom: 48px; right: 32px; display: none; opacity: 0.89; z-index: 499841; background: rgb(129, 140, 144); }
#scroll-top a i { font-size: 16px; color: rgb(255, 255, 255); }
#scroll-top a:hover { cursor: pointer; background-color: rgb(255, 204, 0); }
body.error404 .blox.dark { padding-bottom: 120px; padding-top: 60px; }
.container .pie p { margin-bottom: 0px; }
p, #nav ul li, .textwidget, .widget-tabs li, .alert { font-family: proxima-nova, Varela, 'Source Sans Pro', Helvetica, Arial, sans-serif; }
.icon-box3 h5, h3.lintex, .respo-tagline, a.magicmore { font-family: proxima-nova, 'Source Sans Pro', Helvetica, Arial, sans-serif; }
nav.primary .portfolioFilters a, .max-title2 h2, .max-title4 h2, .zoomex2 h6, .max-counter.s-counter .max-count, .widget h4.subtitle, .postmetadata h6, .blog-post h3, .blog-single-post h1, .pin-ecxt h6, .icon-box h4, .icon-box4 h5, .latest-b2 *, .our-process-item h5, h6.blog-date, .testimonial-brand h5, .max-counter.s-counter h5, .callout h3, .pin-box h4, h1.portfolio-item-title, .works-item-cat-box, .works-item-date-box, .vc_progress_bar .vc_single_bar .vc_label, .wpb_accordion h3, .testimonial-brand h5 em, .tmpl-ex h4 { font-family: futura-pt, 'Source Sans Pro', Helvetica, Arial, sans-serif; }
.breadcrumbs-w .container { padding-left: 20px; }
#wrap p img, .wpb_single_image.wpb_content_element img { height: auto; max-width: 100%; }
.wp-pagenavi a:hover, .wp-pagenavi span.current { border-color: rgb(239, 239, 239); background: rgb(253, 253, 253); }
.wp-pagenavi span.current { font-weight: bold; }
#mapView.min { width: 0%; }
#mapView.min .mapPlaceholder { display: none; }
.btn { border-radius: 2px; text-decoration: none; }
.no-touch .btn-gray:hover, .btn-gray:focus, .btn-gray:active, .btn-gray.active, .open > .dropdown-toggle.btn-gray { color: rgb(255, 255, 255); background-color: rgb(51, 51, 51); }
.no-touch .btn-o.btn-gray:hover, .btn-o.btn-gray:focus, .btn-o.btn-gray:active, .btn-o.btn-gray.active, .open > .dropdown-toggle.btn-o.btn-gray { color: rgb(255, 255, 255); background-color: rgb(153, 153, 153); }
.no-touch .btn-white:hover, .btn-white:focus, .btn-white:active, .btn-white.active, .open > .dropdown-toggle.btn-white { color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); }
.no-touch .btn-o.btn-white:hover, .btn-o.btn-white:focus, .btn-o.btn-white:active, .btn-o.btn-white.active, .open > .dropdown-toggle.btn-o.btn-white { color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); }
.no-touch .btn-black:hover, .btn-black:focus, .btn-black:active, .btn-black.active, .open > .dropdown-toggle.btn-black { color: rgb(255, 255, 255); background-color: rgb(0, 0, 0); }
.no-touch .btn-o.btn-black:hover, .btn-o.btn-black:focus, .btn-o.btn-black:active, .btn-o.btn-black.active, .open > .dropdown-toggle.btn-o.btn-black { color: rgb(255, 255, 255); background-color: rgb(0, 0, 0); }
.no-touch .btn-green:hover, .btn-green:focus, .btn-green:active, .btn-green.active, .open > .dropdown-toggle.btn-green { color: rgb(255, 255, 255); background-color: rgb(6, 139, 133); }
.no-touch .btn-o.btn-green:hover, .btn-o.btn-green:focus, .btn-o.btn-green:active, .btn-o.btn-green.active, .open > .dropdown-toggle.btn-o.btn-green { color: rgb(255, 255, 255); background-color: rgb(14, 170, 166); }
.no-touch .btn-blue:hover, .btn-blue:focus, .btn-blue:active, .btn-blue.active, .open > .dropdown-toggle.btn-blue { color: rgb(255, 255, 255); background-color: rgb(8, 100, 146); }
.no-touch .btn-o.btn-blue:hover, .btn-o.btn-blue:focus, .btn-o.btn-blue:active, .btn-o.btn-blue.active, .open > .dropdown-toggle.btn-o.btn-blue { color: rgb(255, 255, 255); background-color: rgb(29, 130, 170); }
.no-touch .btn-magenta:hover, .btn-magenta:focus, .btn-magenta:active, .btn-magenta.active, .open > .dropdown-toggle.btn-magenta { color: rgb(255, 255, 255); background-color: rgb(126, 17, 95); }
.no-touch .btn-o.btn-magenta:hover, .btn-o.btn-magenta:focus, .btn-o.btn-magenta:active, .btn-o.btn-magenta.active, .open > .dropdown-toggle.btn-o.btn-magenta { color: rgb(255, 255, 255); background-color: rgb(155, 21, 110); }
.no-touch .btn-yellow:hover, .btn-yellow:focus, .btn-yellow:active, .btn-yellow.active, .open > .dropdown-toggle.btn-yellow { color: rgb(255, 255, 255); background-color: rgb(223, 164, 18); }
.no-touch .btn-o.btn-yellow:hover, .btn-o.btn-yellow:focus, .btn-o.btn-yellow:active, .btn-o.btn-yellow.active, .open > .dropdown-toggle.btn-o.btn-yellow { color: rgb(255, 255, 255); background-color: rgb(234, 177, 52); }
.no-touch .btn-red:hover, .btn-red:focus, .btn-red:active, .btn-red.active, .open > .dropdown-toggle.btn-red { color: rgb(255, 255, 255); background-color: rgb(210, 42, 42); }
.no-touch .btn-o.btn-red:hover, .btn-o.btn-red:focus, .btn-o.btn-red:active, .btn-o.btn-red.active, .open > .dropdown-toggle.btn-o.btn-red { color: rgb(255, 255, 255); background-color: rgb(234, 61, 54); }
.no-touch .btn-facebook:hover, .btn-facebook:focus, .btn-facebook:active, .btn-facebook.active, .open > .dropdown-toggle.btn-facebook { color: rgb(255, 255, 255); background-color: rgb(57, 82, 133); }
.no-touch .btn-o.btn-facebook:hover, .btn-o.btn-facebook:focus, .btn-o.btn-facebook:active, .btn-o.btn-facebook.active, .open > .dropdown-toggle.btn-o.btn-facebook { color: rgb(255, 255, 255); background-color: rgb(67, 96, 156); }
.no-touch .btn-twitter:hover, .btn-twitter:focus, .btn-twitter:active, .btn-twitter.active, .open > .dropdown-toggle.btn-twitter { color: rgb(255, 255, 255); background-color: rgb(73, 147, 204); }
.no-touch .btn-o.btn-twitter:hover, .btn-o.btn-twitter:focus, .btn-o.btn-twitter:active, .btn-o.btn-twitter.active, .open > .dropdown-toggle.btn-o.btn-twitter { color: rgb(255, 255, 255); background-color: rgb(85, 172, 238); }
.no-touch .btn-google:hover, .btn-google:focus, .btn-google:active, .btn-google.active, .open > .dropdown-toggle.btn-google { color: rgb(255, 255, 255); background-color: rgb(196, 68, 51); }
.no-touch .btn-o.btn-google:hover, .btn-o.btn-google:focus, .btn-o.btn-google:active, .btn-o.btn-google.active, .open > .dropdown-toggle.btn-o.btn-google { color: rgb(255, 255, 255); background-color: rgb(221, 75, 57); }
.no-touch .btn-pinterest:hover, .btn-v:focus, .btn-pinterest:active, .btn-pinterest.active, .open > .dropdown-toggle.btn-pinterest { color: rgb(255, 255, 255); background-color: rgb(181, 29, 34); }
.no-touch .btn-o.btn-pinterest:hover, .btn-o.btn-pinterest:focus, .btn-o.btn-pinterest:active, .btn-o.btn-pinterest.active, .open > .dropdown-toggle.btn-o.btn-pinterest { color: rgb(255, 255, 255); background-color: rgb(203, 32, 39); }
.btn > .state, .btn.active > .state-active { display: inline-block; }
.btn.active > .state, .btn > .state-active { display: none; }
.no-touch a.text-gray:hover { color: rgb(51, 51, 51); }
.no-touch a.text-green:hover { color: rgb(6, 139, 133); }
.no-touch a.text-blue:hover { color: rgb(8, 100, 146); }
.no-touch a.text-magenta:hover { color: rgb(126, 17, 95); }
.no-touch a.text-yellow:hover { color: rgb(223, 164, 18); }
.no-touch a.text-red:hover { color: rgb(210, 42, 42); }
.no-touch a.bg-green:hover { background-color: rgb(6, 139, 133); }
.no-touch a.bg-red:hover { background-color: rgb(210, 42, 42); }
.no-touch a.bg-blue:hover { background-color: rgb(8, 100, 146); }
.no-touch a.bg-yellow:hover { background-color: rgb(223, 164, 18); }
.no-touch a.bg-magenta:hover { background-color: rgb(126, 17, 95); }
hr { border-style: solid; border-color: rgb(229, 229, 229); border-width: 1px 0px 0px; clear: both; margin: 5px 0px 10px; height: 0px; width: auto; }
*::-webkit-input-placeholder { color: rgb(64, 81, 26); font-style: italic; }
.top_adbox1, .top_adbox2, .top_adh, .top_adsense, .top_adv, .top_adv_content, .top_advert, .top_advertisement, .top_advertising_lb, .top_advertizing_cnt, .top_bar_ad, .top_big_ads, .top_container_ad, .top_corner_ad, .top_header_ad, .top_header_ad_inner, .top_right_ad, .top_rightad, .top_sponsor, .topad-area, .topad-bar, .topad-bg, .topad2, .topadbar, .topadblock, .topadbox, .topads-spacer, .topadspace, .topadspot, .topadtara, .topadvertisementsegment, .topbar-ad-unit, .topboardads, .topcontentadvertisement, .topfootad, .topicDetailsAdRight, .topic_inad, .topnavSponsor, .topratedBoxAD, .topsidebarad, .topstoriesad, .toptenAdBoxA, .tourFeatureAd, .tower-ad-abs, .tower-ads-container, .towerAd, .towerAdLeft, .towerAds, .tower_ad, .tower_ad_disclaimer, .towerad, .tp-ad-label, .tp_ads, .tr-ad-adtech-placement, .tr-ad-inset, .trafficAdSpot, .trb_gptAd, .trb_header_adBanner_large, .trb_masthead_adBanner, .trb_pageAdHolder, .trc-content-sponsored, .trc-content-sponsoredUB, .treeAdBlockWithBanner_right, .tribal-ad, .trip_ad_center, .trueads, .ts-ad_unit_bigbox, .ts-banner_ad, .ts-featured_ad, .tsmAd, .ttlAdsensel, .tto-sponsored-element, .tucadtext, .tvs-mpu, .two-col-ad-inArticle, .twoColumnAd, .two_ads, .twoadcoll, .twoadcolr, .tx_smartadserver_pi1, .txt-ads, .txtAd, .txtAd5, .txtAds, .txt_ad, .txt_ads, .txtad_area, .txtadvertise, .tynt-ad-container, .type_adscontainer, .type_miniad, .type_promoads, .tz_ad300_widget, .tz_ad_widget, .uds-ad, .uds-ads, .ui-ad, .ukAds, .ukn-banner-ads, .ukn-inline-advert, .unSponsored, .under-player-ads, .under_ads, .undertimyads, .uniAdBox, .uniAds, .uniblue-text-ad, .unit-ad, .universalboxADVBOX01, .universalboxADVBOX03, .universalboxADVBOX04a, .unspoken-adplace, .upcloo-adv-content, .upper-ad-space, .us-advertisement, .us-txt-ad, .useful_banner_manager_rotation_widget, .useful_banner_manager_widget, .usenext, .v5rc_336x280ad, .vAd_160x600, .vadvert, .vbox-verticalad, .ve2_post_adsense, .vert-ad, .vert-ad-ttl, .vert-ads, .vert-adsBlock, .vertad, .vertical-adsense, .verticalAd, .vertical_ad, .vertical_ads, .verticalad, .verysmallads, .vidadtext, .video-about-ad, .video-ad-short, .video-ads, .video-adtech-mpu-ad, .video-innerAd-320x250, .videoAd-wrapper, .videoBoxAd, .video_ad, .video_ads, .video_ads_overdiv, .video_ads_overdiv2, .video_advertisement_box, .video_top_ad, .view-adverts, .view-image-ads, .view-promo-mpu-right, .view-site-ads, .view-video-advertisements, .viewContentItemAd, .view_ad, .view_ads_advertisements, .view_ads_bottom_bg, .view_ads_bottom_bg_middle, .view_ads_content_bg, .view_ads_top_bg, .view_ads_top_bg_middle, .view_rig_ad, .views-field-field-ad, .views-field-field-adbox-1, .views-field-field-adbox-2, .virgin-mpu, .vl-ad-item, .vod_ad, .vs-advert-300x250, .vs_dfp_standard_postbit_ad, .vsw-ads, .vswAdContainer, .vt_h1_ad, .vxp_ad300x250, .w-ad-box, .wAdvert, .w_AdExternal, .wa_adsbottom, .wahAd, .wahAdRight, .wallAd, .wall_ad, .wall_ad_hd, .wallad, .wantads, .waterfall-ad-anchor, .wazi-ad-link, .wd-adunit, .wdca_ad_item, .wdca_custom_ad, .wdp_ad, .wdp_adDiv, .wdt_ads, .weather-ad-wrapper, .weather-sponsor-ad, .weather-sponsorDiv, .weatherAdSpot, .weather_ad, .weatherad, .web-result-sponsored, .webad-cnt, .webads336x280, .webadvert-container, .well-ad, .wfb-ad, .wg-ad-square, .wide-ad, .wide-ad-container, .wide-ad-outer, .wide-advert, .wide-footer-ad, .wide-header-ad, .wide-skyscraper-ad, .wideAdTable, .widePageAd, .wide_ad, .wide_ad_unit, .wide_ad_unit_top, .wide_ads, .wide_google_ads, .wide_grey_ad_box, .wide_sponsors, .widead, .wideadbox, .widget-ad, .widget-ad-codes, .widget-ad-sky, .widget-ad-zone, .widget-ad300x250, .widget-adcode, .widget-ads, .widget-adsense, .widget-adv, .widget-advertisement, .widget-entry-ads-160, .widget-group-Ads, .widget-highlight-ads, .widget-text-ad, .widgetAdScrollContainer, .widgetYahooAds, .widget_ad, .widget_ad-widget, .widget_ad125, .widget_ad_300x250_atf, .widget_ad_300x250_btf, .widget_ad_300x250_btf_b, .widget_ad_boxes_widget, .widget_ad_rotator, .widget_ad_widget, .widget_admanagerwidget, .widget_adrotate_widgets, .widget_ads, .widget_adsblock, .widget_adsensem, .widget_adsensewidget, .widget_adsingle, .widget_adv_location, .widget_advert_content, .widget_advert_widget, .widget_advertisement, .widget_advertisements, .widget_advertisment, .widget_advwidget, .widget_adwidget, .widget_bestgoogleadsense, .widget_boss_banner_ad, .widget_catchbox_adwidget, .widget_cevo_contentad, .widget_customadvertising, .widget_cxad, .widget_econaabachoadswidget, .widget_emads, .widget_fearless_responsive_image_ad, .widget_googleads, .widget_internationaladserverwidget, .widget_ione-dart-ad, .widget_island_ad, .widget_maxbannerads, .widget_nb-ads, .widget_new_sponsored_content, .widget_openxwpwidget, .widget_plugrush_widget, .widget_sdac_bottom_ad_widget, .widget_sdac_companion_video_ad_widget, .widget_sdac_footer_ads_widget, .widget_sdac_skyscraper_ad_widget, .widget_sdac_top_ad_widget, .widget_sej_sidebar_ad, .widget_sidebarad_300x250, .widget_sidebarad_300x600, .widget_sidebaradwidget, .widget_sponsored_content, .widget_uds-ads, .widget_vb_sidebar_ad, .widget_wnd_ad_widget, .widget_wpshower_ad, .widgetads, .width-ad-slug, .wikia-ad, .wikia_ad_placeholder, .wingadblock, .wis_adControl, .wixAdsdesktopBottomAd, .wl-ad, .wn-ad, .wnIframeAd, .wnMultiAd, .wnad, .wp125_write_ads_widget, .wp125ad, .wp125ad_1, .wp125ad_2, .wp_bannerize, .wpadvert, .wpbrad, .wpbrad-ad, .wpbrad-zone, .wpfp_custom_ad, .wpi_ads, .wpn_ad_content, .wpproadszone, .wptouch-ad, .wpx-bannerize, .wrap-ads, .wrap_boxad, .wrapad, .wrapper-ad, .wrapper-ad-sidecol, .wrapper-google-ads, .wrapper_ad, .ws-ad, .wsSearchResultsRightSponsoredLinks, .wsSponsoredLinksRight, .wsTopSposoredLinks, .wx-adchoices, .wx-gptADS, .x-ad, .x-home-ad__content, .x-home-ad__content-inner, .x01-ad, .x03-adunit, .x04-adunit, .x81_ad_detail, .xads-blk-bottom-hld, .xads-blk-top-hld, .xads-blk-top2-hld, .xads-blk1, .xads-blk2, .xads-ojedn, .xmlad, .xs_epic_circ_ad, .xs_epic_sponsor_label, .xtopadvert, .y-ads, .y-ads-wide, .y5_ads, .y5_ads2, .y7-advertisement, .y7adHEAD, .y7adS, .y7s-lrec, .yaAds, .yad-sponsored, .yahoo-ad-leader-north, .yahoo-ad-leader-south, .yahoo-ad-lrec-north, .yahoo-banner-ad-container, .yahoo-sponsored, .yahoo-sponsored-links, .yahoo-sponsored-result, .yahooAd, .yahooAds, .yahooContentMatch, .yahoo_ad, .yahoo_ads, .yahooad-image, .yahooad-urlline, .yahooads, .yahootextads_content_bottom, .yan-sponsored, .yat-ad, .yellow_ad, .yfi-fp-ad-logo, .ygrp-ad, .yieldads-160x600, .yieldads-728x90, .yl-lrec-wrap, .yls-sponlink, .yom-ad-LREC, .yom-ad-LREC2, .yom-ad-LREC3, .yom-ad-MREC2, .yom-ad-moneyball, .youradhere, .youtubeSuperLeaderBoardAdHolder, .youtubeSuperLeaderOverallAdArea, .yrail_ad_wrap, .yrail_ads, .ysmsponsor, .ysp-dynamic-ad, .ysponsor, .yt-adsfull-widget, .yui3-ad, .yw-ad, .z-sponsored-block, .zRightAdNote, .zc-grid-ad, .zc-grid-position-ad, .zem_rp_promoted, .zeti-ads, a[href^="//adbit.co/?a=Advertise&"], [onclick^="window.open('http://adultfriendfinder.com/search/"], a[data-redirect^="this.href='http://paid.outbrain.com/network/redir?"], a[href$="/vghd.shtml"], a[href^=" http://ads.ad-center.com/"], a[href^="http://1phads.com/"], a[href^="http://360ads.go2cloud.org/"], a[href^="http://NowDownloadAll.com"], a[href^="http://ad-apac.doubleclick.net/"], a[href^="http://ad.au.doubleclick.net/"], a[href^="http://ad.yieldmanager.com/"], a[href^="http://adexprt.me/"], a[href^="http://adf.ly/?id="], a[href^="http://adlev.neodatagroup.com/"], a[href^="http://ads.activtrades.com/"], a[href^="http://ads.ad-center.com/"], a[href^="http://ads.affbuzzads.com/"], a[href^="http://ads.integral-marketing.com/"], a[href^="http://ads.pheedo.com/"], a[href^="http://ads2.williamhill.com/redirect.aspx?"], a[href^="http://adserver.adtech.de/"], a[href^="http://adserver.adtechus.com/"], a[href^="http://adserver.itsfogo.com/"], a[href^="http://adserving.liveuniversenetwork.com/"], a[href^="http://adserving.unibet.com/"], a[href^="http://adsrv.keycaptcha.com"], a[href^="http://adtransfer.net/"], a[href^="http://affiliate.coral.co.uk/processing/"], a[href^="http://affiliate.glbtracker.com/"], a[href^="http://affiliate.godaddy.com/"], a[href^="http://affiliates.score-affiliates.com/"], a[href^="http://aflrm.com/"], a[href^="http://amzn.to/"] > img[src^="data"], a[href^="http://api.ringtonematcher.com/"], a[href^="http://api.taboola.com/"][href*="/recommendations.notify-click?app.type="], a[href^="http://at.atwola.com/"], a[href^="http://banners.victor.com/processing/"], a[href^="http://bc.vc/?r="], a[href^="http://bcp.crwdcntrl.net/"], a[href^="http://bestorican.com/"], a[href^="http://bluehost.com/track/"], a[href^="http://bonusfapturbo.nmvsite.com/"], a[href^="http://bs.serving-sys.com/"], a[href^="http://buysellads.com/"], a[href^="http://c.actiondesk.com/"], a[href^="http://campaign.bharatmatrimony.com/track/"], a[href^="http://cdn3.adexprts.com/"], a[href^="http://chaturbate.com/affiliates/"], a[href^="http://cinema.friendscout24.de?"], a[href^="http://clickserv.sitescout.com/"], a[href^="http://clk.directrev.com/"], a[href^="http://clkmon.com/adServe/"], a[href^="http://codec.codecm.com/"], a[href^="http://connectlinking6.com/"], a[href^="http://cpaway.afftrack.com/"], a[href^="http://d2.zedo.com/"], a[href^="http://data.ad.yieldmanager.net/"], a[href^="http://databass.info/"], a[href^="http://down1oads.com/"], a[href^="http://dwn.pushtraffic.net/"], a[href^="http://easydownload4you.com/"], a[href^="http://elitefuckbook.com/"], a[href^="http://feedads.g.doubleclick.net/"], a[href^="http://fileloadr.com/"], a[href^="http://freesoftwarelive.com/"], a[href^="http://fsoft4down.com/"], a[href^="http://fusionads.net"], a[href^="http://galleries.pinballpublishernetwork.com/"], a[href^="http://galleries.securewebsiteaccess.com/"], a[href^="http://games.ucoz.ru/"][target="_blank"], a[href^="http://gca.sh/user/register?ref="], a[href^="http://getlinksinaseconds.com/"], a[href^="http://go.seomojo.com/tracking202/"], a[href^="http://greensmoke.com/"], a[href^="http://hd-plugins.com/download/"], a[href^="http://hdplugin.flashplayer-updates.com/"], a[href^="http://hyperlinksecure.com/go/"], a[href^="http://install.securewebsiteaccess.com/"], a[href^="http://k2s.cc/pr/"], a[href^="http://keep2share.cc/pr/"], a[href^="http://landingpagegenius.com/"], a[href^="http://latestdownloads.net/download.php?"], a[href^="http://lp.ezdownloadpro.info/"], a[href^="http://lp.ilivid.com/"], a[href^="http://lp.ncdownloader.com/"], a[href^="http://n.admagnet.net/"], a[href^="http://online.ladbrokes.com/promoRedirect?"], a[href^="http://paid.outbrain.com/network/redir?"][target="_blank"], a[href^="http://pokershibes.com/index.php?ref="], a[href^="http://refer.webhostingbuzz.com/"], a[href^="http://ryushare.com/affiliate.python"], a[href^="http://secure.hostgator.com/~affiliat/"], a[href^="http://secure.signup-page.com/"], a[href^="http://secure.signup-way.com/"], a[href^="http://serve.williamhill.com/promoRedirect?"], a[href^="http://server.cpmstar.com/click.aspx?poolid="], a[href^="http://sharesuper.info/"], a[href^="http://t.wowtrk.com/"], a[href^="http://taboola-"][href*="/redirect.php?app.type="], a[href^="http://tour.affbuzzads.com/"], a[href^="http://track.adform.net/"], a[href^="http://tracking.crazylead.com/"], a[href^="http://tracking.deltamediallc.com/"], a[href^="http://ul.to/ref/"], a[href^="http://uploaded.net/ref/"], a[href^="http://www.123-reg.co.uk/affiliate2.cgi"], a[href^="http://www.1clickdownloader.com/"], a[href^="http://www.1clickmoviedownloader.info/"], a[href^="http://www.FriendlyDuck.com/AF_"], a[href^="http://www.adbrite.com/mb/commerce/purchase_form.php?"], a[href^="http://www.adshost2.com/"], a[href^="http://www.adxpansion.com"], a[href^="http://www.affbuzzads.com/affiliate/"], a[href^="http://www.amazon.co.uk/exec/obidos/external-search?"], a[href^="http://www.babylon.com/welcome/index?affID"], a[href^="http://www.badoink.com/go.php?"], a[href^="http://www.clickansave.net/"], a[href^="http://www.clkads.com/adServe/"], a[href^="http://www.dealcent.com/register.php?affid="], a[href^="http://www.dl-provider.com/search/"], a[href^="http://www.down1oads.com/"], a[href^="http://www.download-provider.org/"], a[href^="http://www.downloadthesefiles.com/"], a[href^="http://www.downloadweb.org/"], a[href^="http://www.drowle.com/"], a[href^="http://www.epicgameads.com/"], a[href^="http://www.faceporn.net/free?"], a[href^="http://www.firstclass-download.com/"], a[href^="http://www.firstload.com/affiliate/"], a[href^="http://www.firstload.de/affiliate/"], a[href^="http://www.fonts.com/BannerScript/"], a[href^="http://www.freefilesdownloader.com/"], a[href^="http://www.friendlyduck.com/AF_"], a[href^="http://www.graboid.com/affiliates/"], a[href^="http://www.idownloadplay.com/"], a[href^="http://www.incredimail.com/?id="], a[href^="http://www.ireel.com/signup?ref"], a[href^="http://www.linkbucks.com/referral/"], a[href^="http://www.menaon.com/installs/"], a[href^="http://www.mobileandinternetadvertising.com/"], a[href^="http://www.my-dirty-hobby.com/?sub="], a[href^="http://www.myfreepaysite.com/sfw.php?aid"], a[href^="http://www.myfreepaysite.com/sfw_int.php?aid"], a[href^="http://www.mysuperpharm.com/"], a[href^="http://www.myvpn.pro/"], a[href^="http://www.on2url.com/app/adtrack.asp"], a[href^="http://www.paddypower.com/?AFF_ID="], a[href^="http://www.pheedo.com/"], a[href^="http://www.pinkvisualgames.com/?revid="], a[href^="http://www.plus500.com/?id="], a[href^="http://www.quick-torrent.com/download.html?aff"], a[href^="http://www.revenuehits.com/"], a[href^="http://www.ringtonematcher.com/"], a[href^="http://www.roboform.com/php/land.php"], a[href^="http://www.seekbang.com/cs/"], a[href^="http://www.sex.com/?utm_source="], a[href^="http://www.sfippa.com/"], a[href^="http://www.streamate.com/exports/"], a[href^="http://www.streamtunerhd.com/signup?"], a[href^="http://www.text-link-ads.com/"], a[href^="http://www.torntv-downloader.com/"], a[href^="http://www.torntvdl.com/"], a[href^="http://www.uniblue.com/cm/"], a[href^="http://www.urmediazone.com/signup"], a[href^="http://www.usearchmedia.com/signup?"], a[href^="http://www.wantstraffic.com/"], a[href^="http://www.webtrackerplus.com/"], a[href^="http://www1.clickdownloader.com/"], a[href^="http://wxdownloadmanager.com/dl/"], a[href^="http://xads.zedo.com/"], a[href^="http://yads.zedo.com/"], a[href^="http://z1.zedo.com/"], a[href^="http://zevera.com/afi.html"], a[href^="https://ad.doubleclick.net/"], a[href^="https://bs.serving-sys.com"], a[href^="https://dltags.com/"], a[href^="https://secure.eveonline.com/ft/?aid="], a[href^="https://www.FriendlyDuck.com/AF_"], a[href^="https://www.dsct1.com/"], a[href^="https://www.firstload.com/affiliate/"], a[href^="https://www.oboom.com/ad/"], a[href^="https://www.share-online.biz/affiliate/"], a[onmousedown^="this.href='http://paid.outbrain.com/network/redir?"][target="_blank"], a[onmousedown^="this.href='http://paid.outbrain.com/network/redir?"][target="_blank"] + .ob_source, a[onmousedown^="this.href='http://staffpicks.outbrain.com/network/redir?"][target="_blank"], a[onmousedown^="this.href='http://staffpicks.outbrain.com/network/redir?"][target="_blank"] + .ob_source, a[onmousedown^="this.href='https://paid.outbrain.com/network/redir?"][target="_blank"], a[onmousedown^="this.href='https://paid.outbrain.com/network/redir?"][target="_blank"] + .ob_source, a[style="display:block;width:300px;min-height:250px"][href^="http://li.cnet.com/click?"], div[id^="YFBMSN"], div[id^="acm-ad-tag-"], iframe[id^="google_ads_iframe"], iframe[src^="http://cdn1.adexprt.com/"], iframe[src^="http://cdn2.adexprt.com/"], img[alt^="Fuckbook"], input[onclick^="window.open('http://www.FriendlyDuck.com/AF_"], input[onclick^="window.open('http://www.friendlyduck.com/AF_"], p[id^="div-gpt-ad-"], script[src^="http://free-shoutbox.net/app/webroot/shoutbox/sb.php?shoutbox="] + #freeshoutbox_content, .brandpost_inarticle, #main-content > [style="padding:10px 0 0 0 !important;"], td[valign="top"] > .mainmenu[style="padding:10px 0 0 0 !important;"], #rhs_whistleout_widget, #wo-widget-wrap, #assetsListings[style="display: block;"], #magnify_widget_playlist_item_companion, #flowplayer > div[style="position: absolute; width: 300px; height: 275px; left: 222.5px; top: 85px; z-index: 999;"], #flowplayer > div[style="z-index: 208; position: absolute; width: 300px; height: 275px; left: 222.5px; top: 85px;"], .Mpopup + #Mad > #MadZone, .l-container > #fishtank, #center_col > #_Emc, #center_col > #resultStats + #tads, #center_col > #resultStats + #tads + #res + #tads, #center_col > #resultStats + div + #res + #tads, #center_col > #resultStats + div[style="border:1px solid #dedede;margin-bottom:11px;padding:5px 7px 5px 6px"], #center_col > #taw > #tvcap > .rscontainer, #center_col > div[style="font-size:14px;margin-right:0;min-height:5px"] > div[style="font-size:14px;margin:0 4px;padding:1px 5px;background:#fff8e7"], #cnt #center_col > #res > #topstuff > .ts, #main_col > #center_col div[style="font-size:14px;margin:0 4px;padding:1px 5px;background:#fff7ed"], #mbEnd[cellspacing="0"][cellpadding="0"], #mclip_container:last-child, #mn #center_col > div > h2.spon:first-child, #mn #center_col > div > h2.spon:first-child + ol:last-child, #resultspanel > #topads, #rhs_block > #mbEnd, #rhs_block > .ts[cellspacing="0"][cellpadding="0"][style="padding:0"], #rhswrapper > #rhssection[border="0"][bgcolor="#ffffff"], #ssmiwdiv[jsdisplay], #tads + div + .c, #tads.c, #tadsb.c, #tadsto.c, #topstuff > #tads, .GB3L-QEDGY .GB3L-QEDF- > .GB3L-QEDE-, .GFYY1SVD2 > .GFYY1SVC2 > .GFYY1SVF5, .GFYY1SVE2 > .GFYY1SVD2 > .GFYY1SVG5, .GHOFUQ5BG2 > .GHOFUQ5BF2 > .GHOFUQ5BG5, .GJJKPX2N1 > .GJJKPX2M1 > .GJJKPX2P4, .GKJYXHBF2 > .GKJYXHBE2 > .GKJYXHBH5, .GPMV2XEDA2 > .GPMV2XEDP1 > .GPMV2XEDJBB, .ch[onclick="ga(this,event)"], .commercial-unit-desktop-rhs, .commercial-unit-desktop-top, .lads[width="100%"][style="background:#FFF8DD"], .mod > ._jH + .rscontainer, .mw > #rcnt > #center_col > #taw > #tvcap > .c, .mw > #rcnt > #center_col > #taw > .c, .ra[align="left"][width="30%"], .ra[align="right"][width="30%"], .ra[width="30%"][align="right"] + table[width="70%"][cellpadding="0"], .rhsvw[style="background-color:#fff;margin:0 0 14px;padding-bottom:1px;padding-top:1px;"], .rscontainer > .ellip, #ads > .dose > .dosesingle, #content > #center > .dose > .dosesingle, #content > #right > .dose > .dosesingle, #header + #content > #left > #rlblock_left, #recommendations a[rel="nofollow"][onclick^="window.open('http://api.taboola.com/"][href="#"], .trc_rbox .syndicatedItem, .trc_rbox_border_elm .syndicatedItem, .trc_rbox_div .syndicatedItem, .trc_rbox_div .syndicatedItemUB, .trc_rbox_div a[target="_blank"][href^="http://tab"], .trc_related_container div[data-item-syndicated="true"], #MAIN.ShowTopic > .ad, div[id^="mainads"], .__y_elastic .__y_item, .__y_inner > .__y_item, .__y_outer, .__yinit .__y_item, .__ywl .__y_item, .__ywvr .__y_item, .__zinit .__y_item, .icons-rss-feed + .icons-rss-feed div[class$="_item"], .inlineNewsletterSubscription + .inlineNewsletterSubscription div[class$="_item"], .jobs-information-call-to-action + .jobs-information-call-to-action div[class$="_item"], #boxes-box-zergnet_module, #zergnet, #zergnet-widget, #zergnet-wrapper, .module-zerg, .widget-ami-zergnet, .widget_ok_zergnet_widget, .zergnet, .zergnet-widget-container, .zergnetBLock, .zergnetpower, div[id^="zergnet-widget-"], #AD_banner, #AdColumn, #AdContainer, #AdHeader, #AdImage, #Adcode, #AdvertiseFrame, #Advertisements, #BottomAdContainer, #BottomAds, #ContentAd, #PreRollAd, #RightAdBlock, #TopAd, #ad-area, #ad-background, #ad-bg, #ad-bottom, #ad-container, #ad-header, #ad-header-728x90, #ad-leaderboard, #ad-main, #ad-right, #ad-text, #ad-top, #ad-top-banner-placeholder, #ad-top-wrapper, #ad-unit, #ad-wrapper, #ad468, #ad728, #ad728x90, #adBanner, #adBelt, #adComponentWrapper, #adDiv, #adFrame, #adGallery, #adHeader, #adHolder, #adLayer, #adLeader, #adPosition0, #adText, #ad_1, #ad_2, #ad_3, #ad_4, #ad_5, #ad_728_90, #ad_area, #ad_banner, #ad_center, #ad_content, #ad_header, #ad_leaderboard, #ad_overlay, #ad_space, #ad_square, #ad_table, #ad_unit, #ad_wrap, #ad_wrapper, #adaptv_ad_player_div, #adbackground, #adbanner, #adbar, #adblock, #adboard, #adbody, #adbox, #adcode, #adcontainer, #adcontainer1, #adcontent, #adhead, #adheader, #adimg1, #adlayer, #adnews, #adposition3, #adright, #ads-col, #adsHeader, #ads_bottom, #ads_right, #ads_top, #ads_wrapper, #adsdiv, #adsense, #adsense_block, #adsense_inline, #adsensewide, #adspace, #adspace_top, #adspot-300x250-pos-1, #adspot-300x250-pos-2, #adtext, #adtop, #adv-masthead, #adv-top, #advert1, #advert2, #advertise, #advertisement1, #advertisetop, #advertising_wrapper, #adverts, #advtop, #adwrapper, #banner-ad, #bannerAd, #bannerAdWrapper, #banner_topad, #bannerad, #bigAd, #bigad, #body_ad, #bottomAd, #bottomAds, #bottom_ad, #centerads, #cmn_ad_tag_head, #companionAd, #content-header-ad, #contentAd, #content_ads, #content_adv, #contentad, #dart-container-728x90, #dfp_ad_Entry_728x90, #dfp_ad_Home_728x90, #divAd, #div_prerollAd_1, #download_ad, #featuread, #featured-ads, #featuredAds, #footer_ad, #footer_ads, #game-ad, #googlead, #gridAdSidebar, #head-ad, #header-ads, #headerAd, #headerAdContainer, #header_ad, #homead, #ka_adRightSkyscraperWide, #leaderAd, #leaderBoardAd, #leaderboard-ad, #leaderboard-advertisement, #leaderboardad, #left-ad, #left_ads, #leftad, #leftads, #logoAd, #logo_ad, #mainAd, #main_ad, #mpu2, #mpu2_container, #mpu_container, #msad, #myAd, #overlay_ad, #player_ads, #pre_advertising_wrapper, #prerollAd, #promo-ad, #publicidad, #reklama, #rh-ad, #right_ads, #right_adsense, #search-sponsor, #searchAd, #search_ads, #sideAd, #side_ads, #sidebar-ads, #sidebar_ads, #skybox-ad, #sponsorAdDiv, #sponsorText, #sponsoredlinks, #sponsors-home, #takeover_ad, #top-ad, #topAd, #topAdSpace, #topAdSpace_div, #topAdvert, #topBannerAd, #top_ad, #top_ads, #topad, #topbannerad, #under_story_ad, #videoAd, .ADBAR, .AdBody:not(body), .AdBox, .AdInfo, .AdTitle, .AdvertContainer, .HomeAds, .RelatedAds, .SponsoredContent, .ad-300x250, .ad-banner, .ad-block, .ad-border, .ad-btn, .ad-button, .ad-cat, .ad-cell, .ad-display, .ad-enabled, .ad-holder, .ad-img, .ad-inner, .ad-item, .ad-leader, .ad-leaderboard, .ad-left, .ad-link, .ad-links, .ad-panel, .ad-placement, .ad-right, .ad-section, .ad-served, .ad-sidebar, .ad-square, .ad-stack, .ad-text, .ad-top, .ad-unit, .ad-unit-300-wrapper, .ad-vertical-container, .ad-wide, .ad-wrap, .ad-wrapper, .ad160, .ad300, .ad468, .ad728, .ad90, .adBlock, .adBottomBoard, .adBox, .adContent, .adDiv, .adElement, .adFrame, .adFrameCnt, .adHead, .adHeader, .adHeaderblack, .adHeadline, .adHolder, .adHoldert, .adImg, .adItem, .adLink, .adMiddle, .adMod, .adModule, .adOverlay, .adPanel, .adPod, .adResult, .adRight, .adRotator, .adSpace, .adSpot, .adText, .adTitle, .adTopHome, .adWidget, .adWrap, .ad_1, .ad_160, .ad_160x600, .ad_2, .ad_3, .ad_728x90, .ad_960, .ad_Right, .ad_block, .ad_body, .ad_container, .ad_description, .ad_global_header, .ad_head_rectangle, .ad_header, .ad_img { display: none !important; orphans: 4321 !important; }
#sky-ad, #sky-ads, #sky-left, #sky-right, #sky-top-ad, #skyAd, #skyAdContainer, #skyAdNewsletter, #skyScraperAd, #skyScrapperAd, #skyWrapperAds, #sky_ad, #sky_advert, #skyads, #skyadwrap, #skyline_ad, #skyscrapeAd, #skyscraper-ad, #skyscraperAd, #skyscraperAdContainer, #skyscraperAdWrap, #skyscraperAds, #skyscraperWrapperAd, #skyscraper_ad, #skyscraper_advert, #skyscraperadblock, #skyscrapper-ad, #slide_ad, #slidead, #slideboxad, #slider-ad, #sliderAdHolder, #slider_ad, #slideshow-middle-ad, #slideshowAd, #slideshow_ad_300x250, #sm-banner-ad, #smallAd, #smallBannerAdboard, #small_ad, #small_ad_banners_vertical, #small_ads, #smallad, #smallads, #smallerAd, #smxTextAd, #socialAD, #socialBarAd, #socialBarAdMini, #some-ads, #some-ads-holder, #some-more-ads, #source_ad, #source_content_ad, #spec_offer_ad2, #special-deals-ad, #specialAd_one, #specialAd_two, #special_ads, #specialadfeatures, #specialadvertisingreport_container, #specials_ads, #speed_ads, #speeds_ads, #speeds_ads_fstitem, #speedtest_mrec_ad, #sphereAd, #sphereAd-wrap, #spl_ad, #spnAds, #spnslink, #sponBox, #sponLinkDiv_1, #sponLinkDiv_2, #spon_links, #sponlink, #sponlinks, #sponsAds, #sponsLinks, #spons_links, #sponseredlinks, #sponsor-flyout-wrap, #sponsor-links, #sponsorAd, #sponsorAd1, #sponsorAd2, #sponsorBanners32, #sponsorBar, #sponsorBorder, #sponsorContainer0, #sponsorFooter, #sponsorLinkDiv, #sponsorLinks, #sponsorResults, #sponsorSpot, #sponsorTab, #sponsorTextLink, #sponsor_300x250, #sponsor_ads, #sponsor_banderole, #sponsor_bar, #sponsor_bottom, #sponsor_box, #sponsor_deals, #sponsor_div, #sponsor_footer, #sponsor_header, #sponsor_link, #sponsor_no, #sponsor_partner_single, #sponsor_posts, #sponsor_right, #sponsored-bucket, #sponsored-features, #sponsored-links, #sponsored-links-container, #sponsored-links-list, #sponsored-links-media-ads, #sponsored-listings, #sponsored-message, #sponsored-not, #sponsored-resources, #sponsored-text-links, #sponsored-widget, #sponsored1, #sponsoredAdvertisement, #sponsoredBottom, #sponsoredBox1, #sponsoredBox2, #sponsoredFeaturedHoz, #sponsoredHoz, #sponsoredLinks, #sponsoredLinksBox, #sponsoredLinks_Bottom, #sponsoredLinks_Top, #sponsoredList, #sponsoredResults, #sponsoredResultsWide, #sponsoredSiteMainline, #sponsoredSiteSidebar, #sponsoredTop, #sponsored_ads, #sponsored_ads_v4, #sponsored_container, #sponsored_content, #sponsored_game_row_listing, #sponsored_head, #sponsored_label, #sponsored_link, #sponsored_link_bottom, #sponsored_links, #sponsored_v12, #sponsoredads, #sponsoredlinks_cntr, #sponsoredlinks_left_wrapper, #sponsoredlinkslabel, #sponsoredresultsBottom_body, #sponsoredresults_top, #sponsoredwellcontainerbottom, #sponsoredwellcontainertop, #sponsorlink, #sponsors-block, #sponsorsBox, #sponsorsContainer, #sponsors_right_container, #sponsors_top_container, #sponsorsads1, #sponsorsads2, #sponsorship-box, #sponsorshipBadge, #sporsored-results, #sports_only_ads, #spotadvert, #spotadvert1, #spotadvert2, #spotadvert3, #spotadvert5, #spotlight-ad-container-block, #spotlight-ad_iframe, #spotlight-ads, #spotlightAds, #spotlight_ad, #spotlightad, #spr_ad_bg, #spreadly-advertisement-container, #sprint_ad, #sqAd, #sq_ads, #square-ad, #square-ad-box, #square-ad-space, #square-ad-space_btm, #square-ads, #square-sponsors, #squareAd, #squareAdBottom, #squareAdSpace, #squareAdTop, #squareAdWrap, #squareAds, #square_ad, #square_lat_adv, #squaread, #squareadAdvertiseHere, #squared_ad, #srp_adsense-top, #ss-ad-container, #ss-ad-overlay, #st_topads, #starad, #start_middle_container_advertisment, #stationad, #sticky-ad, #sticky-ad-container, #stickyAdBlock, #stickyBottomAd, #stickySkyAd, #stickyads, #stopAdv, #stopAdvt, #story-90-728-area, #story-ad, #story-ad-a, #story-ad-b, #story-ad-top, #story-ad-wrap, #story-leaderboard-ad, #story-page-leaderboard-ad, #story-sponsoredlinks, #storyAd, #storyAdWrap, #story_ad, #story_ads, #story_main_mpu, #story_unseen_ad, #storyad2, #storyblock-ad, #style_ad_bottom, #subAdsFooter, #subbgad, #subheaderAd, #submenu-ads, #subpage-ad-right, #subpage-ad-top, #subpageAd, #subpage_234x60ad, #sugarad-stitial-overlay, #super_ad, #svp-ad, #swads, #sway-banner-ad, #sway-banner-ad-container, #sway-banner-ad1, #sweep_right_ad, #sweep_top_ad, #swfAd1, #swfAd5, #syn_headerad_zone, #synch-ad, #systemad_background, #t7ad, #tabAdvertising, #table_ads, #taboola-ad, #tailResultAd, #takeover-ad, #takeoverad, #targetWeeklyAd, #targetWeeklyAdLogo, #targeted-ads, #tblAd, #tblReklama2, #tbl_googlead, #tbo_headerads, #tcwAd, #td-GblHdrAds, #td-applet-ads_2_container, #td-applet-ads_container, #tdBannerTopAds, #tdGoogleAds, #td_adunit1, #td_adunit1_wrapper, #td_adunit2, #td_sponsorAd, #teaser-adtag-left, #teaser-adtag-right, #temp-ads, #template_ad_leaderboard, #template_affiliates, #tertiary_advertising, #test_adunit_160_article, #text-ad, #text-ads, #text-link-ads, #text-linkAD, #textAd, #textAd1, #textAds, #textAdsTop, #text_ad, #text_ads, #text_advert, #textad, #textad3, #textad_block, #textads_right_container, #textlink-advertisement, #textsponsor, #tf_page_ad_content_bottom, #tgAD_imu_2, #tgAD_imu_3, #tgAD_imu_4, #the-last-ad-standing, #theAd, #theadsADT3, #thefooterad, #thelistBottomAd, #themis-ads, #third_party_ads, #thisisnotanad, #thistad, #thread-ad, #ti-sway-ad, #tile-ad, #tileAds, #tilia_ad, #tippytop-ad, #title-sponsor-banner, #title-wide-sponsored-by, #tmcomp_ad, #tmgAd_div_mpu_1, #tmglBannerAd, #tmn_ad_1, #tmn_ad_2, #tmn_ad_3, #tmp2_promo_ad, #tnt_ad_column, #toaster_ad, #tobsideAd, #today_ad_bottom, #toolbarSlideUpAd, #top-ad-970x250, #top-ad-banner, #top-ad-container, #top-ad-content, #top-ad-menu, #top-ad-position-inner, #top-ad-rect, #top-ad-unit, #top-ad-wrapper, #top-adblock, #top-adds, #top-ads, #top-ads-1, #top-ads-contain, #top-ads-tabs, #top-adspot, #top-advert, #top-advertisement, #top-advertisements, #top-banner-ad, #top-leaderboard-ad, #top-left-ad, #top-middle-add, #top-right-ad, #top-search-ad-wrapper, #top-sidebar-ad-300x250, #top-story-ad, #top100_ad300right, #top100_ad300rightbottom, #top2_ads, #top300x250ad, #top3_ads, #top728ad, #topAD, #topAd300x250_, #topAd728x90, #topAdArea, #topAdBanner, #topAdBar, #topAdBox, #topAdContainer, #topAdDropdown, #topAdHolder, #topAdSenseDiv, #topAdShow, #topAdcontainer, #topAds, #topAds1, #topAds2, #topAdsContainer, #topAdsDiv, #topAdsG, #topAdv, #topAdvBox, #topAdvert-09, #topBannerAdContainer, #topContentAdTeaser, #topImgAd, #topLBAd, #topLeaderAdAreaPageSkin, #topLeaderboardAd, #topMPU, #topMpuContainer, #topNavLeaderboardAdHolder, #topOpenXAdSlot, #topOverallAdArea, #topRightBlockAdSense, #topSponsoredLinks, #top_AD, #top_ad-sense, #top_ad_area, #top_ad_banner, #top_ad_block, #top_ad_box, #top_ad_container, #top_ad_game, #top_ad_inventory, #top_ad_parent, #top_ad_strip, #top_ad_td, #top_ad_unit, #top_ad_wrapper, #top_ad_zone, #top_adblock_fix, #top_add, #top_ads_container, #top_ads_region, #top_ads_wrap, #top_adsense_cont, #top_adspace, #top_adv, #top_adv-v2, #top_adv_220, #top_adv_728, #top_advert, #top_advert_box, #top_advertise, #top_advertising, #top_container_ad, #top_content_ad_inner_container, #top_google_ad_container, #top_google_ads, #top_header_ad_wrapper, #top_mpu, #top_mpu_ad, #top_rectangle_ad, #top_right_ad, #top_span_ad, #top_sponsor_ads, #top_sponsor_text, #top_wide_ad, #topad-728x90, #topad1, #topad2, #topad728, #topad_holder, #topad_left, #topad_right, #topad_table, #topadbar, #topadblock, #topadcontainer, #topaddwide, #topadh, #topadone, #topads-spacer, #topads-wrapper, #topadsblock, #topadsdiv, #topadsense, #topadspace, #topadvert, #topadvertisements, #topadvertisementwrapper, #topadwrap, #topadz, #topadzone, #topbanner_ad, #topbanner_sponsor, #topbanneradtitle, #topbar-ad, #topbarAd, #topbar_Adc1_AdContainer, #topbarads, #topcustomad, #topheader_ads, #topicPageAdsense, #topleaderAd, #topleaderboardad, #topnav-ad-shell, #topnavad, #toppannonse, #topright-ad, #toprightAdvert, #toprightad, #toprow-ad, #topsidebar-ad, #topsponad, #topsponsorads, #topsponsored, #toptextad, #tour300Ad, #tour728Ad, #tourSponsoredLinksContainer, #tower1ad, #towerAdContainer, #towerad, #tr-ad, #tr-adv-banner, #trafficrevenue2, #transparentad, #travel_ad, #trc_google_ad, #trendex-sponsor-ad, #trib2-footer-ad-back, #trib2-leaderboard-ad-back, #tripleAdInner, #tripleAdOuter, #ts-ad_module, #ttp_ad_slot1, #ttp_ad_slot2, #tube_ad, #turnAD, #tut_ads, #twogamesAd, #txfPageMediaAdvertVideo, #txtAdcontainer2, #txtTextAd, #txt_link_ads, #txtads, #ugly-ad, #ui-about-these-ads-img, #ultraWideAdContainer, #under_content_ad, #undergameAd, #universalAdContainer, #uploadMrecAd, #upper-ads, #upperAdvertisementImg, #upperMpu, #upperRightAds, #upper_adbox, #upper_advertising, #upper_small_ad, #upperad, #urban_contentad_1, #urban_contentad_2, #urban_contentad_article, #usa_ad_728x90, #uvp_ad_container, #uzcrsite, #v_ad, #vap_adsense-top, #variant_adsLazyLoad, #vc_side_ad, #vdiAd, #vdls-adv, #vdls-advs, #vert-ads, #vertAd2, #vert_ad, #vert_ad_placeholder, #vertad1, #vertical_ad, #vertical_ads, #vhDivAdSlot300x250, #vid-left-ad, #vid-right-ad, #vidAdTop, #video-ad-companion-rectangle, #video-adv, #video-coverage-ad-300x250, #video-embed-ads, #video-header-advert, #video-in-player-ad, #video-in-player-ad-container, #video-under-player-ad, #videoAdvert, #videoCompanionAd, #videoPlayerAdLayer, #video_ads_background, #video_ads_overdiv, #video_adv, #video_advert, #video_advert2, #video_advert3, #video_advert_top, #video_cnv_ad, #video_embed_ads, #video_hor_bottom_ads, #video_overlay_ad, #video_vert_right_ads, #videoadlogo, #videoads, #videopageadblock, #view-photo-ad, #viewAd1, #view_ads_bottom_bg, #view_ads_bottom_bg_middle, #view_ads_content_bg, #view_ads_top_bg, #view_ads_top_bg_middle, #view_adtop, #viewer-ad-bottom, #viewer-ad-top, #viewer_ads_wrapper, #viewportAds, #viewvid_ad300x250, #visual-ad, #votvAds_inner, #vsw-ads, #vsw_ad, #wTopAd, #wXcds12-ad, #wallAd, #wall_advert, #wallpaper-ad-link, #wallpaperAd_left, #wallpaperAd_left3, #wallpaperAd_right, #wallpaperAd_right2, #wallpaperAd_right2_1, #wallpaper_flash_ad, #wallpaper_header_ad, #walltopad, #watch7-sidebar-ads, #weather-ad, #weather_sponsor, #weatherad, #weblink_ads_container, #websearchAdvert, #welcomeAdsContainer, #welcome_ad, #welcome_ad_mrec, #welcome_advertisement, #wf_ContentAd, #wf_FrontSingleAd, #wf_SingleAd, #wf_bottomContentAd, #wg_ads, #wgtAd, #wh_ad_4, #whatsnews_footer_ad, #whatsnews_top_ad, #whitepaper-ad, #whoisRightAdContainer, #whoisRightAdContainerBottom, #whoisRightAdContainerTop, #wibiyaAdRotation, #wibiyaToolbarAdUnitFlash, #wideAdd, #wide_ad_unit, #wide_ad_unit2, #wide_ad_unit_2, #wide_ad_unit_top, #wide_ad_unit_up, #wide_right_ad, #wideskyscraper_160x600_left, #wideskyscraper_160x600_right, #widget-ads-3, #widget-ads-4, #widget-adv-12, #widget-box-ad-1, #widget-box-ad-2, #widget-style-ad, #widgetADT3, #widget_Adverts, #widget_ad, #widget_advertisement, #widgetwidget_adserve2, #wl-pencil-ad, #wog-300x250-ads, #wow-ads, #wp-insert-ad-widget-1, #wp-topAds, #wp125adwrap_2c, #wp_ad_marker, #wp_pro_ad_system_ad_zone, #wrapAd, #wrapAdRight, #wrapAdTop, #wrapCommentAd, #wrapperAdsTopLeft, #wrapperAdsTopRight, #wrapperRightAds, #wrapper_ad_Top, #wrapper_ad_island2, #wrapper_sponsoredlinks, #x-ad-item-themed-skyscraper-placekeeper, #x-houseads, #x01-ad, #x300_ad, #xColAds, #xlAd, #xybrad, #y-ad-units, #y708-ad-expedia, #y708-ad-lrec, #y708-ad-partners, #y708-ad-ysm, #y708-advertorial-competitions, #y708-advertorial-marketplace, #yahoo-ads, #yahoo-ads-content, #yahoo-sponsors, #yahooAdsBottom, #yahooSponsored, #yahoo_ad, #yahoo_ad_contanr, #yahoo_ads, #yahoo_sponsor_links, #yahoo_sponsor_links_title, #yahoo_text_ad, #yahooad-tbl, #yahooads, #yan-advert-north, #yan-advert-nt1, #yan-question-advert, #yan-sponsored, #yatadsky, #ybf-ads, #yfi-sponsor, #yfi_ads_4x4, #yfi_fp_ad_fx, #yfi_fp_ad_mort, #yfi_fp_ad_nns, #yfi_pf_ad_mort, #ygrp-sponsored-links, #yieldaddiv, #ylf-lrec, #ylf-lrec2, #ymap_adbanner, #yn-gmy-ad-lrec, #yom-ad-tbs-as, #yrail_ads, #yreSponsoredLinks, #ysm_ad_iframe, #yt-adsfull-widget-2, #yt-adsfull-widget-3, #yw-sponsoredad, #zMSplacement1, #zMSplacement2, #zMSplacement3, #zMSplacement4, #zMSplacement5, #zMSplacement6, #zoneAdserverMrec, #zoneAdserverSuper, #zoneAdvertisment, #zone_a_ad, #zone_b_ad, #zone_c_ads, #zztextad, .AD-POST, .AD-Rotate, .AD-label300x250, .AD300x600-wrapper, .AD355125, .ADBnrArea, .ADCLOUD, .ADFooter, .ADITION, .ADLeader, .ADMiddle1, .ADPod, .ADStyle, .ADTextSingle, .AD_2, .AD_300x100, .AD_300x250, .AD_300x265, .AD_302x252, .AD_ALBUM_ITEMLIST, .AD_MOVIE_ITEM, .AD_MOVIE_ITEMLIST, .AD_MOVIE_ITEMROW, .AD_area, .AD_mid300, .AD_textinfo, .ADbox, .ADmid, .ADouter_div, .ADwidget, .Ad-300x100, .Ad-Container, .Ad-Container-976x166, .Ad-Header, .Ad-IframeWrap, .Ad-MPU, .Ad-Wrapper-300x100, .Ad-label, .Ad120x600, .Ad160x600, .Ad160x600left, .Ad160x600right, .Ad247x90, .Ad300x, .Ad300x250, .Ad300x250L, .Ad728x90, .AdBar, .AdBorder, .AdBox160, .AdBox7, .AdBox728, .AdBoxStyle, .AdBoxStyleHome, .AdCaption, .AdCommercial, .AdContainer160x600, .AdContainerBottom, .AdContainerBox308, .AdContainerModule, .AdFrameLB, .AdGraph, .AdGrayBox, .AdHeader, .AdHere, .AdHolder, .AdIndicator, .AdInline, .AdInline_left, .AdLeftbarBorderStyle, .AdMedium, .AdMessage, .AdModule, .AdModule_Content, .AdModule_ContentLarge, .AdModule_Hdr, .AdMultiPage, .AdPanel, .AdPlaceHolder, .AdProS728x90Container, .AdProduct, .AdRingtone, .AdScriptBox, .AdSectionHeader, .AdSense, .AdSenseLeft, .AdSidebar, .AdSlot, .AdSpace, .AdTextSmallFont, .AdTop, .AdUnit, .AdUnit300, .AdUnit300x250, .AdUnitBox, .AdWidget_ImageWidget, .AdZone120, .AdZone316, .Ad_120x600, .Ad_120x600_holder, .Ad_160x600_holder, .Ad_160x600_inner, .Ad_300x250, .Ad_300x250_holder, .Ad_468x60, .Ad_728x90, .Ad_728x90_holder, .Ad_C, .Ad_D, .Ad_D_Wrapper, .Ad_E_Wrapper, .Ad_Label, .Ad_Label_foursquare, .Ad_Right, .Ad_Tit, .Ad_container, .Adbuttons, .Adbuttons-sidebar, .AdnetBox, .Ads-768x90, .AdsBottom, .AdsBottom336X280, .AdsBoxBottom, .AdsBoxSection, .AdsBoxTop, .AdsLeft_list, .AdsLinks1, .AdsLinks2, .AdsPlayRight_list, .AdsRec, .Ads_3, .Ads_4, .Ads_forum, .Adsense, .AdsenseBox, .AdsenseBoxCenter, .AdsenseDivFooter, .AdsenseDownload, .AdsenseForum, .AdsenseLarge, .AdsenseTechsupport, .Adspottop, .Adv300x250, .Adv468, .AdvBoxSidebar, .Adv_Left, .Advert300x250, .AdvertMidPage, .AdvertiseWithUs, .Advertisehere2, .AdvertisementTextTag, .AdvertisementTop, .Advertisment, .AdvertorialTeaser, .Advman_Widget, .AffAD, .AffiliateAds, .AmazonSimpleAdmin_widget, .ArticleAd, .ArticleInlineAd, .BCA_Advertisement, .BGoogleAds300, .Banner300x250, .Banner468X60, .BannerAD728, .BannerAd, .Banner_Group, .Banner_Group_Ad_Label, .BigBoxAd, .BigBoxAdLabel, .BlockAd, .BlueTxtAdvert, .BottomAdContainer, .BottomAffiliate, .BottomGoogleAds, .BoxAd, .BoxAdWrap, .BoxSponsorBottom, .BtmAd, .BtmSponsAd, .ButtonAd, .CG_adkit_leaderboard, .CG_details_ad_dropzone, .CWReviewsProdInfoAd, .CollisionAdMarker, .ComAread, .CommentAd, .CommentGoogleAd, .ContentAd, .ContentAd2, .ContentAds, .DAWRadvertisement, .DartAdvert, .DeptAd, .DetachedAd, .DetailAds, .DisplayAd, .DomAdsDiv, .DoubleClickRefreshable, .EzAdsLUPro, .EzAdsSearchPro, .EzAdsWidget, .FT_Ad, .FeaturedAdIndexAd, .FlatAds, .FooterAdContainer, .FooterAds, .FooterTileAdOuter_Div, .Footer_AD_Links_DIV, .Footer_Default_AD_Message_DIV, .GAME_Ad160x600, .GOOGLE_AD, .G_ads, .G_ads_m, .GetRightAds, .GoogleAd, .GoogleAdInfo, .GoogleAdSencePanel, .GoogleAdSenseBottomModule, .GoogleAdSenseRightModule, .GoogleAdWords_container, .GoogleAdsBox, .GoogleAdsItem, .GoogleAdv, .Googleads728, .GreenHomeAd, .GridHouseAdRight, .HGLoneAdTitleFrame, .HPG_Ad_B, .HPNewAdsBannerDiv, .HPRoundedAd, .HeaderAd, .HeaderAds, .HeaderBannerAd, .HeaderLeaderAd, .HeadingAdSpace, .HomeAd1Label, .HomeContentAd, .HomeSidebarAd, .IABAdSpace, .IM_ad_unit, .InArticleAd, .IndexRightAd, .InternalAdPanel1, .JobListMidAd, .LL_Widget_Advertorial { display: none !important; orphans: 4321 !important; }
#lhsBottomAd, #li-right-geobooster-oas, #ligatus, #ligatusdiv, #lilo_imageAd, #linebreak-ads, #linkAdSingle, #linkAds, #link_ads, #linkads, #links-ads-detailnews, #listadholder, #liste_top_ads_wrapper, #listing-ad, #live-ad, #lj_ad_row, #load-adslargerect, #localAds, #logoAd2, #long-ad, #long-ad-box, #long-ad-space, #long-bottom-ad-wrapper, #longAdSpace, #longAdWrap, #long_advert_header, #long_advertisement, #lower-advertising, #lowerAdvertisement, #lowerAdvertisementImg, #lower_ad, #lowerads, #lowerthirdad, #lowertop-adverts, #lowertop-adverts-container, #lpAdPanel, #lrec_ad, #lrecad, #lsadvert-left_menu_1, #lsadvert-left_menu_2, #lsadvert-top, #mBannerAd, #m_top_adblock, #madison_ad_248_100, #madskills-ad-manager-0, #madskills-ad-manager-1, #madskills-ad-manager-2, #madskills-ad-manager-3, #magnify_player_continuous_ad, #main-ad, #main-ad160x600, #main-ad160x600-img, #main-ad728x90, #main-advert, #main-advert1, #main-advert2, #main-advert3, #main-bottom-ad, #main-bottom-ad-tray, #main-content-adcontent1, #main-header-ad-wrap, #main-header-ad-wrap-home, #main-right-ad-tray, #main-tj-ad, #mainAd1, #mainAdUnit, #mainAdvert, #mainAdvertismentP, #mainHeaderAdvertisment, #mainMenu_divTopAd, #mainPageAds, #mainPlaceHolder_coreContentPlaceHolder_rightColumnAdvert_divControl, #main_AD, #main_ads, #main_content_ad, #main_left_side_ads, #main_rec_ad, #main_top_ad, #main_top_ad_container, #major_ad, #maker-rect-ad, #mapAdvert, #marcoad, #marketing-promo, #marketplace-ad-1, #marketplace-ad-2, #marketplaceAds, #marquee_ad, #masSearchAd, #mason_adv_bp_1, #mason_adv_bp_2, #mason_adv_bp_3, #mason_adv_bp_4, #mason_adv_rn_2, #mastAd, #mastAdvert, #mast_ad_wrap, #mast_ad_wrap_btm, #mastad, #masterTopAds, #mastercardAd, #masthead-ad, #masthead_ad, #masthead_topad, #matchFooterAd, #mc_ad, #md-sidebar-video-companion-ad-loaded, #md_adLoader, #md_topad, #me-adspace-002, #med-rect-ad, #medRecAd, #medReqAd, #media-ad, #media-ad-thumbs, #mediaAdLeaderboard, #media_ad, #mediaget_box, #mediagoogleadsense, #mediaplayer_adburner, #medium-ad, #medium-rectangle-ad1, #mediumAdContainer, #mediumAdvertisement, #mediumRectangleAd, #mediumrectangle_300x250, #medrec_bottom_ad, #medrec_middle_ad, #medrec_top_ad, #medrectad, #medrectangle_banner, #memberad, #mens-journal-feature-ad, #menu-ads, #menuAds, #menuad, #menubanner-ad-content, #mgid-container, #mhheader_ad, #mi_story_assets_ad, #microAdDiv, #microsoft_ad, #mid-ad300x250, #mid-table-ad, #midAD, #midRightAds, #midRightTextAds, #mid_ad_div, #mid_ad_title, #mid_left_ads, #mid_mpu, #mid_roll_ad_holder, #midadd, #midadspace, #midadvert, #midbarad, #midbnrad, #midcolumn_ad, #middle-ad, #middle-ad-destin, #middle-story-ad-container, #middleRightColumnAdvert, #middle_ad, #middle_ads, #middle_bannerad, #middle_bannerad_section, #middle_body_advertising, #middle_mpu, #middle_sponsor_ads, #middlead, #middleads, #middleads2, #midpost_ad, #midrect_ad, #midstrip_ad, #mini-ad, #mini-panel-dart_stamp_ads, #mini-panel-dfp_stamp_ads, #miniAdsAd, #mini_ads_inset, #mn_ads, #moa-ads-long, #mobile_ad_spot_header, #mochila-column-right-ad-300x250, #mochila-column-right-ad-300x250-1, #mod-partner-center, #mod_ad, #mod_ad_top, #modal-ad, #modal_videoAd_wrapper, #module-ad-300x250, #module-ad-728x90, #module-google_ads, #module_ad, #module_box_ad, #module_sky_scraper, #monsterAd, #moogleAd, #more_ad, #moreads, #mos-adCarouselContainer, #mosBannerAd, #mosTileAds, #most_popular_ad, #motionAd, #movads10, #movieads, #mozo-ad, #mph-rightad, #mpr-ad-leader, #mpr-ad-wrapper-1, #mpr-ad-wrapper-2, #mpu-ad, #mpu-advert, #mpu-cont, #mpu-content, #mpu300250, #mpuAd, #mpuAdvert, #mpuContainer, #mpuDiv, #mpuInContent, #mpuSecondary, #mpuSlot, #mpuWrapper, #mpuWrapper600, #mpuWrapperAd, #mpuWrapperAd2, #mpu_300x250, #mpu_ad, #mpu_ad2, #mpu_adv, #mpu_banner, #mpu_box, #mpu_firstpost, #mpu_holder, #mpu_text_ad, #mpuad, #mpubox, #mpuholder, #mpuholder01, #mpusLeftAd, #mr_banner_topad, #mrec-advertisement, #mrecAdContainer, #mrecPlacement, #msAds, #ms_ad, #msnAds_inner, #msn_header_ad, #msnau_ad_medium_rectangle, #mtSponsor, #mts_ad_widget, #mu_2_ad, #multiLinkAdContainer, #multi_ad, #multibar-ads, #mvp_160_ad, #my-ads, #my-adsFPAD, #my-adsFPL, #my-adsFPT, #my-adsLREC, #my-adsMAST, #my-medium-rectangle-ad-1-container, #my-medium-rectangle-ad-2-container, #myads_HeaderButton, #n_sponsor_ads, #na_adblock, #name-advert, #namecom_ad_hosting_main, #narrow-ad, #narrow_ad_unit, #nat-ad-300x250, #natadad300x250, #nationalAd_secondary_btm, #nationalAd_secondary_top, #national_ad, #national_microlink_ads, #nationalad, #nativeadsteaser, #navAdBanner, #nav_ad, #nav_ad_728_mid, #navads-container, #navbar_ads, #navi_banner_ad_780, #navigation-ad, #nba160PromoAd, #nba300Ad, #nbaGI300ad, #nbaHeaderAds, #nbaHouseAnd600Ad, #nbaLeft600Ad, #nbaMidAds, #nbaVid300Ad, #nbabot728ad, #nbcAd300x250, #nbcShowcaseAds, #nc-header-ads, #network_header_ad_1, #new-ad-footer, #new-ad-leaderboard, #new-ad-sidebottom, #new-ad-sidetop, #newAd, #newPostProfileAd, #newPostProfileVerticalAd, #newTopAds, #new_ad_728_90, #new_ad_header, #new_topad, #newadmpu, #newads, #news_advertorial_content, #news_advertorial_top, #news_article_ad_mrec, #news_article_ad_mrec_right, #news_left_ad, #news_right_ad, #newstream_first_ad, #newuser_ad, #ng_rtcol_ad, #nib-ad, #nlrightsponsorad, #noresults_ad_container, #noresultsads, #northad, #northbanner-advert, #northbanner-advert-container, #notify_ad, #np_content_ads_module, #nrAds, #nrcAd_Top, #ns_ad1, #ns_ad2, #ns_ad3, #ntvads, #nuevo_ad, #oanda_ads, #oas_Middle, #oas_Middle1, #oas_Right, #oas_Right2, #oas_Top, #oas_Top1, #oas_asponsor, #oas_wide_skyscraper, #ob_sponsoredcontent, #oba_message, #objadscript, #oem_ad, #ofie_ad, #omnibar_ad, #onespot-ads, #online_ad, #onpageads, #onpageadstext, #onscroll-ad-holder-mpu2, #openx-slc, #openx-text-ad, #openx-widget, #openx_iframe, #osDirAd2Post, #osads_300, #outbrain-paid, #outbrainAdWrapper, #outbrain_dual_ad_fs_0_dual, #outbrain_vertical, #outerAd300, #outerTwrAd, #outer_div_top_ad, #outsideAds, #ovAd, #ovAdWrap, #ovadsense, #overlayadd, #overtureSponsoredLinks, #p-advert, #p-googlead, #p-googleadsense, #p2squaread, #p360_ad_unit, #p_lt_zoneContent_SubContent_p_lt_zoneRight_IFrameAd_panelAd, #page-ad-container-TopLeft, #page-ad-top, #page-advert-3rdrail, #page-advertising, #page-header-ad, #page-top-ad, #pageAdDiv, #pageAdds, #pageAds, #pageAdsDiv, #pageAdvert, #pageBannerAd, #pageOwnershipAd_side, #page_ad, #page_ad_top, #page_content_top_ad, #page_top_ad, #pageads_top, #pagebottomAd, #pagelet_adbox, #pagelet_netego_ads, #pagelet_search_ads2, #pagelet_side_ads, #pagination-advert, #paidlistingAds, #panel-ad, #panelAd, #panoAdBlock, #parade_300ad, #parade_300ad2, #partner-ad, #partnerAd, #partnerMedRec, #partnerSitesBannerAd, #partner_ads, #pause-ad, #pauseAd, #pb_report_ad, #pcworldAdBottom, #pcworldAdTop, #pencil-ad, #pencil-ad-container, #perm_ad, #permads, #pf-dialog-ads, #pg-ad-160x600, #pg-ad-item-160x600, #pgFooterAd, #pgHeaderAd, #pgSquareAd, #pgad_Bottom3, #photoAdvert, #photoAndAdBox, #photo_ad_google, #picad_div, #pinball_ad, #pixAd, #plAds, #player-advert, #player-below-advert, #playerAd, #playerAdsRight, #player_ad, #player_middle_ad, #player_top_ad, #playerad, #playvideotopad, #pmad-in1, #pnAd2, #pnl_BannerAdServed, #pod-ad-video-page, #pof_ads_Wrapper, #pop_ad, #popadwrap, #popoverAd, #popular-column-ad, #populate_ad_bottom, #populate_ad_left, #populate_ad_textupper, #populate_ad_textupper_textlink, #popupAd, #popupBottomAd, #popup_domination_lightbox_wrapper, #popupadunit, #portlet-advertisement-left, #portlet-advertisement-right, #pos_ContentAd2, #post-ad, #post-ad-hd, #post-ad-layer, #post-ads, #post-adsense-top-banner, #post-bottom-ads, #post-page-ad, #post-promo-ad, #post5_adbox, #postAd, #postNavigationAd, #post_ad, #post_addsense, #post_adsense, #post_adspace, #post_advert, #post_id_ad_bot, #postpageaddiv, #ppcAdverts, #pr_ad, #pr_advertising, #pre-footer-ad, #pregame_header_ad, #premSpons, #premier-ad-space, #preminumAD, #premiumAdTop, #premium_ad, #premium_ad_inside, #premiumad, #premiumads, #preroll_compainion_ad, #priceGrabberAd, #primary_mpu_placeholder, #prime-ad-space, #print-advertisement, #print-header-ad, #print_ads, #printads, #privateadbox, #privateads, #pro_ads_custom_widgets-2, #pro_ads_custom_widgets-3, #pro_ads_custom_widgets-5, #pro_ads_custom_widgets-7, #pro_ads_custom_widgets-8, #product-adsense, #profileAdHeader, #proj-bottom-ad, #promoAds, #promoFloatAd, #promo_ads, #ps-top-ads-sponsored, #ps-vertical-ads, #psmpopup, #pub-right-bottom-ads, #pub-right-top-ads, #pub468x60, #publicGoogleAd, #publicidad-video, #publicidad_120, #publicidadeLREC, #pulse360_1, #pushdownAdWrapper, #pushdown_ad, #pusher-ad, #pvadscontainer, #qaSideAd, #qm-ad-big-box, #qm-ad-sky, #qm-dvdad, #qpon_big_ad-teaser, #qtopAd-graybg, #quick_ads_frame_bottom, #quidgetad, #quigo, #quigo-ad, #quigo_ad, #quinAdLeaderboard, #r-ad-tag, #r-ads-listings, #r-ads-preview-top, #r1SoftAd, #r_ad3_ad, #r_adver, #rafael_side_ads_widget-5, #rail-ad-wrap, #rail-bottom-ad, #railAd, #rail_ad, #rail_ad1, #rail_ad2, #rbAdWrapperRt, #rbAdWrapperTop, #rc_edu_span5AdDiv, #rd_banner_ad, #reader-ad-container, #realEstateAds, #rearad, #recommendedAdContainer, #rect-ad, #rectAd, #rect_ad, #rectad, #rectangle-ad, #rectangleAd, #rectangleAdSpace, #rectangle_ad, #rectangle_ad_smallgame, #redirect-ad, #redirect-ad-modal, #reference-ad, #refine-300-ad, #refine-ad, #refreshable_ad5, #region-node-advert, #region-regions-ad-top, #region-top-ad, #reklam-728x90, #reklama_big, #reklama_left_body, #reklama_left_up, #reklama_right_up, #related-ads, #related-projects-sponsor, #related_ad, #related_ads, #related_ads_box, #relatedvideosads2, #relocation_ad_container, #remove_ads_button1, #remove_ads_button2, #removeadlink, #resultSponLinks, #resultsAdsBottom, #resultsAdsSB, #resultsAdsTop, #rg_right_ad, #rh-ad-container, #rh_tower_ad, #rhapsodyAd, #rhc_ads, #rhsBottomAd, #rhs_ads, #rhs_adverts, #rhsads, #rhsadvert, #richad, #right-ad, #right-ad-1, #right-ad-block, #right-ad-col, #right-ad-skin, #right-ad-title, #right-ad1, #right-adds, #right-ads, #right-ads-3, #right-ads-4, #right-advert, #right-bar-ad, #right-box-ad, #right-col-ad-600, #right-featured-ad, #right-mpu-1-ad-container, #right-uppder-adverts, #right-uppder-adverts-container, #right1-ad, #right160x600ads_part, #right2Ad_Iframe, #rightAD, #rightAd, #rightAd1, #rightAd160x600, #rightAd160x600two, #rightAd300x250, #rightAd300x250Lower, #rightAdBar, #rightAdColumn, #rightAdContainer, #rightAdDiv1, #rightAdDiv2, #rightAdDiv3, #rightAdHideLinkContainer, #rightAdHolder, #rightAd_Iframe, #rightAd_rdr, #rightAds, #rightAdsDiv, #rightBottomAd, #rightBoxAdvertisement, #rightBoxAdvertisementLast, #rightColAd, #rightColumnAds, #rightColumnMpuAd, #rightColumnSkyAd, #rightDoubleClick, #rightMortgageAd, #rightSideAd, #right_Ads2, #right_ad, #right_ad_2, #right_ad_box, #right_ad_container, #right_ad_top, #right_ad_wrapper, #right_ads_box, #right_adv1-v2, #right_advert, #right_advertisement, #right_advertising, #right_adverts, #right_bg_ad, #right_block_ads, #right_column_ad, #right_column_ad_container, #right_column_ads, #right_column_adverts, #right_column_internal_ad_container, #right_column_top_ad_unit, #right_gallery_ad, #right_mini_ad, #right_panel_ads, #right_rail_ad_header, #right_side_bar_ami_ad, #right_sidebar_ads, #right_top_gad, #rightad, #rightad1, #rightad2, #rightadBorder, #rightadBorder1, #rightadBorder2, #rightadContainer, #rightadd300, #rightadg, #rightadhome, #rightadpat, #rightads, #rightadsarea, #rightadvertbar-doubleclickads, #rightbar-ad, #rightbar_ad, #rightcol_mgid, #rightcol_sponsorad, #rightcolhouseads, #rightcollongad, #rightcolumn_300x250ad, #rightcolumn_ad_gam, #rightgoogleads, #rightinfoad, #rightrail-ad, #rightrail_ad-0, #rightside-ads, #rightside_ad, #rightskyad, #righttop-adverts, #righttop-adverts-container, #ringtone-ad-bottom, #ringtone-ad-top, #rm_ad_text, #rockmelt-ad-top, #rolldown-ad, #ros_ad, #rotating-ad-display, #rotating-ads-wrap, #rotating_ad, #rotatingads, #row-ad, #row2AdContainer, #rprightHeaderAd, #rpuAdUnit-0, #rrAdWrapper, #rr_MSads, #rr_ad, #rr_gallery_ad, #rside_ad, #rside_adbox, #rt-ad, #rt-ad-top, #rt-ad468, #rtAdvertisement, #rtMod_ad, #rt_side_top_google_ad, #rtcol_advert_1, #rtcol_advert_2, #rtm_div_562, #rtm_html_226, #rtm_html_920, #rtmm_right_ad, #rtmod_ad, #rtn_ad_160x600, #rubicsTextAd, #rxgcontent, #rxgfooter, #rxgheader, #rxgleftbar, #rxgrightbar, #sAdsBox, #s_ads_header, #say-center-contentad, #sb-ad-sq, #sb_ad_links, #sb_advert, #sbads-top, #scoreAD, #scroll-ad, #scroll_banner_ad, #scrollingads, #sct_side_ads, #sdac_bottom_ad_widget-3, #sdac_footer_ads_widget-3, #sdac_skyscraper_ad_widget-3, #sdac_top_ad_widget-3, #search-ad, #search-ads1, #search-google-ads, #search-sponsored-links, #search-sponsored-links-top, #searchAdFrame, #searchAdSenseBox, #searchAdSenseBoxAd, #searchAdSkyscraperBox, #searchAds, #search_ad, #search_result_ad, #searchresult_advert_right, #searchsponsor, #sec_adspace, #second-adframe, #second-adlayer, #second-right-ad-tray, #second-story-ad, #secondBoxAd, #secondBoxAdContainer, #second_ad_div, #secondad, #secondary_ad_inventory, #secondaryad, #secondrowads, #sect-ad-300x100, #sect-ad-300x250, #sect-ad-300x250-2, #section-ad, #section-ad-1-728, #section-ad-300-250, #section-ad-4-160, #section-ad-bottom, #section-blog-ad, #section-container-ddc_ads, #section-pagetop-ad, #section_ad, #section_advertisements, #section_advertorial_feature, #self-ad, #self_serve_ads, #sensis_island_ad_1, #sensis_island_ad_1_column, #sensis_island_ad_2, #sensis_island_ad_2_column, #sensis_island_ad_3, #sensis_island_ad_3_column, #serveAd1, #serveAd2, #serveAd3, #servfail-ads, #sew-ad1, #sew_advertbody, #sgAdHeader, #sgAdScGp160x600, #shoppingads, #shortads, #shortnews_advert, #show-ad, #show-player-right-ad, #showAd, #show_ads, #showads, #showcaseAd, #sic_superBannerAd-loader, #sic_superBannerAdTop, #side-ad, #side-ad-container, #side-ads, #side-ads-box, #side-banner-ad, #side-big-ad-bottom, #side-big-ad-middle, #side-boxad, #side-content-ad-1, #side-content-ad-2, #side-halfpage-ad, #side-skyscraper-ad, #sideABlock, #sideABlockHeader, #sideAd1, #sideAd2, #sideAdArea, #sideAdLarge, #sideAdSmall, #sideAdSub, #sideAds, #sideBannerAd, #sideBar-ads, #sideBarAd, #sideBySideAds, #sideSponsors, #side_ad, #side_ad_call, #side_ad_container_A, #side_ad_module, #side_ad_wrapper, #side_ads_by_google, #side_adv_2, #side_adverts, #side_longads, #side_sky_ad, #side_skyscraper_ad, #side_sponsors, #sidead, #sidead1, #sidead1mask, #sideadbox, #sideads, #sideads_container, #sideadscol, #sideadtop-to, #sideadvert, #sideadzone, #sidebar-125x125-ads, #sidebar-125x125-ads-below-index, #sidebar-ad, #sidebar-ad-300, #sidebar-ad-block, #sidebar-ad-boxes, #sidebar-ad-holdd, #sidebar-ad-holdd-middle, #sidebar-ad-loader, #sidebar-ad-middle, #sidebar-ad-space, #sidebar-ad-wrap, #sidebar-ad1, #sidebar-ad3, #sidebar-ad_dbl, #sidebar-ads-content, #sidebar-ads-narrow, #sidebar-ads-wide, #sidebar-adspace, #sidebar-adv, #sidebar-advertise-text, #sidebar-advertisement, #sidebar-banner300, #sidebar-left-ad, #sidebar-long-advertise, #sidebar-main-ad, #sidebar-post-120x120-banner, #sidebar-post-300x250-banner, #sidebar-scroll-ad-container, #sidebar-sponsor-link, #sidebar-sponsors, #sidebar-top-ad, #sidebar-top-ads, #sidebar2-ads, #sidebar2ads, #sidebarAd, #sidebarAd1, #sidebarAd2, #sidebarAdSense, #sidebarAdSpace, #sidebarAdUnitWidget, #sidebarAds, #sidebarAdvert, #sidebarSponsors, #sidebarTextAds, #sidebarTowerAds, #sidebar_ad, #sidebar_ad_1, #sidebar_ad_adam, #sidebar_ad_container, #sidebar_ad_top, #sidebar_ad_widget, #sidebar_ad_wrapper, #sidebar_adblock, #sidebar_ads_180, #sidebar_box_add, #sidebar_mini_ads, #sidebar_sponsoredresult_body, #sidebar_topad, #sidebar_txt_ad_links, #sidebarad, #sidebarad_300x600-33, #sidebarad_300x600-4, #sidebaradpane, #sidebaradsense, #sidebaradver_advertistxt, #sidebaradverts, #sidebard-ads-wrapper, #sidebargooglead, #sidebargoogleads, #sidebarrectad, #sideline-ad, #sidepad-ad, #simple_ads_manager_ad_widget-2, #simple_ads_manager_widget-3, #simple_ads_manager_widget-4, #simplyhired_job_widget, #single-ad, #single-ad-2, #single-adblade, #single-mpu, #singleAd, #singleAdsContainer, #single_ad_above_content, #singlead, #site-ad-container, #site-ads, #site-leaderboard-ads, #site-sponsors, #siteAdHeader, #site_body_header_banner_ad, #site_top_ad, #sitead, #sitemap_ad_left, #skcolAdSky, #skin-ad, #skinad-left, #skinad-right, #skinmid-ad, #skinmid-ad_iframe { display: none !important; orphans: 4321 !important; }
#dfp-article-related-mpu, #dfpAd, #dfp_ad_DictHome_300x250, #dfp_ad_DictHome_728x90, #dfp_ad_Entry_160x600, #dfp_ad_Entry_180x150, #dfp_ad_Entry_300x250, #dfp_ad_Entry_Btm_300x250, #dfp_ad_Entry_EntrySetA_300x250, #dfp_ad_Entry_EntrySetA_728x90, #dfp_ad_Entry_EntrySetB_300x250, #dfp_ad_Entry_EntrySetB_728x90, #dfp_ad_Entry_EntrySetC_728x90, #dfp_ad_Home_300x250, #dfp_ad_Home_Btm_300x250, #dfp_ad_IC_728x90, #dfp_ad_InternalAdX_300x250_right, #dfp_ad_Internal_EntryBr_300x250, #dfp_ad_Internal_Home_250x262, #dfp_ad_Result_728x90, #dfp_ad_SecContent_300x250, #dfp_ad_Thesaurus_728x90, #dfp_ad_mpu, #dfrads-widget-6, #dfrads-widget-7, #dhm-bar, #dict-adv, #direct-ad, #disable-ads-container, #displayAdSet, #displayad_bottom-page, #div-ad-1x1, #div-ad-1x1_3, #div-ad-2, #div-ad-bottom, #div-ad-coupon_1, #div-ad-coupon_10, #div-ad-coupon_11, #div-ad-coupon_12, #div-ad-coupon_2, #div-ad-coupon_3, #div-ad-coupon_4, #div-ad-coupon_5, #div-ad-coupon_6, #div-ad-coupon_7, #div-ad-coupon_8, #div-ad-coupon_9, #div-ad-flex, #div-ad-leaderboard, #div-ad-r, #div-ad-r1, #div-ad-top, #div-adid-4000, #div-vip-ad-banner, #divAdBox, #divAdHere, #divAdHorizontal, #divAdLeft, #divAdRight, #divAdSpecial, #divAdWrapper, #divAdd728x90, #divAdd_Right, #divAdd_Top, #divAds, #divAdsTop, #divAdv300x250, #divAdvertisement, #divAdvertisingSection, #divArticleInnerAd, #divBannerTopAds, #divBottomad1, #divBottomad2, #divDoubleAd, #divFoldersAd, #divFooterAd, #divFooterAds, #divLeftAd12, #divLeftRecAd, #divMenuAds, #divReklamaTop, #divRightNavAdsLoader, #divTopAd, #divTopAds, #divWNAdHeader, #divWNAdUnitLanding, #divWrapper_Ad, #div_ad_TopRight, #div_ad_float, #div_ad_holder, #div_ad_leaderboard, #div_content_mid_lft_ads, #div_googlead, #div_header_sponsors, #div_side_big_ad, #div_video_ads, #divadfloat, #divadsensex, #divmiddlerightad, #divuppercenterad, #divupperrightad, #dlads, #dmRosAdWrapper-MainNorth, #dmRosAdWrapper-east, #dni-advertising-skyscraper-wrapper, #dni-header-ad, #dnn_adSky, #dnn_adTop, #dnn_ad_banner, #dnn_ad_island1, #dnn_ad_skyscraper, #dnn_ad_sponsored_links, #dnn_banner_120x600, #dnn_banner_486x60, #dnn_ctl00_Ad2Pane, #dnn_dnn_dartBanner, #dnn_googleAdsense_a, #dnn_playerAd, #dnn_sponsoredLinks, #docmainad, #dogear_promo, #dotnAd_300x250_c20, #doubleClickAds3, #doubleClickAds_bottom_big_box, #doubleClickAds_bottom_skyscraper, #doubleClickAds_top_banner, #doubleclick-island, #download-leaderboard-ad-bottom, #download-leaderboard-ad-top, #downloadAd, #download_ads, #dp_ad_1, #dp_ads1, #ds-mpu, #dsStoryAd, #ds_ad_north_leaderboard, #dvAd2Center, #dynamicAdDiv, #dynamicAdWinDiv, #ear_ad, #eastAds, #editorsmpu, #elite-ads, #em_ad_superbanner, #embedAD, #embedded-ad, #embeded_ad_content_container, #entrylist_ad, #eshopad-728x90, #event_ads, #evotopTen_advert, #ex-ligatus, #ex_dart--ex_dart_header_ad, #exads, #expandableAd, #expandable_welcome_ad, #expanderadblock, #external-links-column-ad, #externalAd, #extra-search-ads, #extraAd, #ezadswidget-2, #f_ad, #f_adsky, #facebook-ad, #fb_adbox, #fb_rightadpanel, #fearless_responsive_image_ad-2, #featAds, #featureAd, #featureAdSpace, #feature_ad, #feature_adlinks, #featured-ad-left, #featured-ad-right, #featured-advertisements, #featuredAdContainer2, #featuredAdWidget, #featuredSponsors, #featured_ad_links, #featured_sponsor_cnt, #feed_links_ad_container, #feedjiti-footerTR, #ffsponsors, #file_sponsored_link, #fin_ad_728x90_bottom, #fin_advertorial_features, #fin_dc_ad_300x100_pos_1, #fin_ds_homepage_adtag_468x60, #first-300-ad, #first-adframe, #first-adlayer, #firstAdUnit, #first_ad, #first_ad_unit, #firstad, #fixedAd, #flAdData6, #fl_hdrAd, #flash_ads_1, #flashad, #flex_sponsored_links, #flexiad, #flipbookAd, #floatAD_l, #floatAD_r, #floatads, #floating-ad-spacer, #floating-ads, #floating-advert, #floatingAd, #floatingAds, #floating_ad, #floating_ad_container, #floatyContent, #foot-ad-1, #foot-add, #footAds, #footad, #footer-ad, #footer-ad-728, #footer-ad-block, #footer-ad-box, #footer-ad-col, #footer-ad-google, #footer-ad-large, #footer-ad-loader, #footer-ad-shadow, #footer-ad-unit, #footer-ad-wrapper, #footer-ads, #footer-adspace, #footer-adv, #footer-advert, #footer-advert-area, #footer-advertisement, #footer-adverts, #footer-adwrapper, #footer-affl, #footer-banner-ad, #footer-leaderboard-ad, #footer-sponsored, #footerAd, #footerAdBg, #footerAdBottom, #footerAdBox, #footerAdDiv, #footerAdLink, #footerAdd, #footerAds, #footerAdsPlacement, #footerAdvert, #footerAdvertisement, #footerAdverts, #footerGoogleAd, #footer_AdArea, #footer_ad_01, #footer_ad_block, #footer_ad_cloud, #footer_ad_container, #footer_ad_holder, #footer_ad_inventory, #footer_ad_modules, #footer_add, #footer_addvertise, #footer_adsense_ad, #footer_adspace, #footer_adv, #footer_advertising, #footer_leaderboard_ad, #footer_text_ad, #footerad, #footerad728, #footerads, #footeradsbox, #footeradvert, #form_bottomad, #forum_top_ad, #forumlist-ad, #four_ads, #fp_rh_ad, #fpad1, #fpad2, #fpv_companionad, #fr_ad_center, #frameAd, #frameTextAd2, #frame_admain, #free_ad, #frmRightnavAd, #frnAdSky, #frnBannerAd, #frnContentAd, #front-ad-cont, #front-page-advert, #frontPageAd, #front_ad728, #front_adtop_content, #front_advert, #front_mpu, #front_mpu_content, #frontlowerad, #frontpage_ad1, #frontpage_ad2, #ft-ad, #ft-ad-1, #ft-ad-container, #ft-ads, #ft_mpu, #full_banner_ad, #fulldown_ads_box, #fulldown_ads_frame, #fullsizebanner_468x60, #fullstory-google-textad, #fusionad, #fw-advertisement, #fwAdBox, #g-adblock2, #gAds, #gBnrAd, #gBottomRightAd, #g_ad, #g_adsense, #ga_300x250, #gads300x250, #gads_middle, #galleries-tower-ad, #gallery-ad, #gallery-ad-m0, #gallery-advert, #gallery-page-ad-bigbox, #gallery-random-ad, #gallery-slideshow-interstitial-ad, #gallery_ad, #gallery_ads, #gallery_header_ad, #galleryad1, #game-info-ad, #gameAdMiddle, #gameAdTopMiddle, #gameSquareAd, #game_header_ad, #game_profile_ad_300_250, #gamead, #gameads, #gamepage_ad, #gameplay_ad, #games-mpu-container, #games_ad_container, #gasense, #gbl_topmost_ad, #gcommonad, #genad, #geoAd, #gft-adChoicesCopy, #gglads, #gglads213A, #gglads213B, #ggogle_AD, #gl_ad_300, #glamads, #glinkswrapper, #global-banner-ad, #globalHeader_divAd, #globalLeftNavAd, #globalTopNavAd, #global_header_ad, #global_header_ad_area, #gm-ad-lrec, #gmi-ResourcePageAd, #gmi-ResourcePageLowerAd, #gnadww, #go-ads-double-2, #go-ads-double-3, #goad1, #goads, #gog_ad, #gooadtop, #google-ad, #google-ad-art, #google-ad-table-right, #google-ad-tower, #google-ads, #google-ads-bottom, #google-ads-bottom-container, #google-ads-container, #google-ads-header, #google-ads-left-side, #google-adsense, #google-adsense-for-content, #google-adsense-mpusize, #google-adv-728x90, #google-adwords, #google-afc, #google-top-ads, #google336x280, #google468x60, #googleAd, #googleAdArea, #googleAdBottom, #googleAdBox, #googleAdSenseAdRR, #googleAdTop, #googleAdView, #googleAdYarrp, #googleAd_words, #googleAds, #googleAdsFrame, #googleAdsSml, #googleAdsense, #googleAdsenseAdverts, #googleAdsenseBanner, #googleAdsenseBannerBlog, #googleAdwordsModule, #googleAfcContainer, #googleSearchAds, #googleShoppingAdsRight, #googleShoppingAdsTop, #googleSubAds, #googleTxtAD, #google_ad, #google_ad_468x60_contnr, #google_ad_EIRU_newsblock, #google_ad_below_stry, #google_ad_container, #google_ad_container_right_side_bar, #google_ad_inline, #google_ad_test, #google_ad_top, #google_ads, #google_ads_1, #google_ads_aCol, #google_ads_box, #google_ads_div_Blog_300, #google_ads_div_Front-160x600, #google_ads_div_Raw_Override, #google_ads_div_Second_160, #google_ads_div_header1, #google_ads_div_header2, #google_ads_div_video_wallpaper_ad_container, #google_ads_frame, #google_ads_frame1_anchor, #google_ads_frame2_anchor, #google_ads_frame3_anchor, #google_ads_frame4_anchor, #google_ads_frame5_anchor, #google_ads_frame6_anchor, #google_ads_frame_quad, #google_ads_frame_vert, #google_ads_test, #google_ads_top, #google_ads_wide, #google_adsense, #google_adsense_ad, #google_adsense_home_468x60_1, #google_textlinks, #googlead-leaderboard, #googlead-left, #googlead-post-mpu, #googlead-sidebar-middle, #googlead-sidebar-top, #googlead01, #googlead2, #googlead_outside, #googleadbig, #googleadleft, #googleads, #googleads1, #googleads_h_injection, #googleads_mpu_injection, #googleadsense, #googleadsense300x250, #googleadsrc, #googleadstop, #googlebanner, #googleblock300, #googlesponsor, #googletextads, #googtxtad, #gpt-ad-1, #gpt-ad-halfpage, #gpt-ad-rectangle1, #gpt-ad-rectangle2, #gpt-ad-skyscraper, #gpt-ad-story_rectangle3, #gpt_ad_panorama_top, #gpt_ad_small_insider_1, #gpt_unit_videoAdSlot1_0, #gridAdSidebarRight, #grid_ad, #grouponAdContainer, #gsyadrectangleload, #gsyadrightload, #gsyadtop, #gsyadtopload, #gtAD, #gtopadvts, #gtv_tabSponsor, #gwt-debug-ad, #h-ads, #hAd, #hAdv, #h_ads0, #h_ads1, #half-page-ad, #halfPageAd, #halfe-page-ad-box, #hb-header-ad, #hd-ads, #hd-banner-ad, #hd_ad, #hd_ad_wp, #hdr-ad, #hdr-banner-ad, #hdrAdBanner, #hdrAds, #hdtv_ad_ss, #head-ad-1, #head-ads, #head-advertisement, #head-banner468, #head1ad, #headAd, #headAds, #headAdv, #headGoogleAffiliateLinkblock, #head_ad, #head_ad_area, #head_ads, #head_advert, #headad, #headadvert, #header-ad, #header-ad-background, #header-ad-block, #header-ad-bottom, #header-ad-container, #header-ad-holder, #header-ad-label, #header-ad-left, #header-ad-rectangle-container, #header-ad-right, #header-ad-wrap, #header-ad2, #header-ad2010, #header-adsense, #header-adspace, #header-adv, #header-advert, #header-advert-panel, #header-advertisement, #header-advertising, #header-adverts, #header-advrt, #header-banner-728-90, #header-banner-ad, #header-banner-spc, #header-block-ads, #header-google, #header-house-ad, #header-lb-ad, #header-leader-ad, #header-leader-ad-2, #header-top-ads-text, #headerAdBackground, #headerAdButton, #headerAdSpace, #headerAdUnit, #headerAdWrap, #headerAds, #headerAds4, #headerAdsWrapper, #headerAdv, #headerBannerAdNew, #headerNewAdsContainer, #headerNewAdsContainerB, #headerTopAd, #headerTopAdWide, #header_ad_167, #header_ad_728, #header_ad_728_90, #header_ad_banner, #header_ad_block, #header_ad_container, #header_ad_leaderboard, #header_ad_units, #header_ad_widget, #header_ad_wrap, #header_adbox, #header_adcode, #header_ads, #header_ads2, #header_ads_2, #header_ads_p, #header_adsense, #header_adv, #header_advert, #header_advertisement, #header_advertisement_top, #header_advertising, #header_adverts, #header_bottom_ad, #header_flag_ad, #header_leaderboard_ad_container, #header_publicidad, #header_right_ad, #header_sponsors, #header_top_ad, #headerad, #headeradbox, #headeradcontainer, #headerads, #headeradsbox, #headeradsense, #headeradspace, #headeradvert1div, #headeradvertholder, #headeradwrap, #headergooglead, #headerprimaryad, #headersponsors, #headingAd, #headline-sponsor, #headline_ad, #headlinesAdBlock, #hi5-ad-1, #hidadvnet, #hiddenadAC, #hide_ad_section_v2, #hideads, #hideads1, #hl-sponsored-links, #hl-sponsored-results, #hl-top-ad, #hldhdAds, #hly_ad_side_bar_tower_left, #hly_inner_page_google_ad, #hmt-widget-ad-unit-3, #holder-storyad, #holdunderad, #home-ad, #home-ad-block, #home-ad-slot, #home-adv-300x250, #home-advert-module, #home-advertise, #home-page-listing-ad, #home-rectangle-ad, #home-right-col-ad, #home-side-ad, #home-top-ads, #homeAd, #homeAdLeft, #homeAds, #homeArticlesAd, #homeBottomAdWrapperInner, #homeMPU, #homePageBotAd, #homeSideAd, #homeTopRightAd, #home_ad, #home_ads_top_hold, #home_ads_vert, #home_bottom_ad, #home_contentad, #home_feature_ad, #home_lower_center_right_ad, #home_mpu, #home_sec2_adverts, #home_sidebar_ad, #home_spensoredlinks, #home_top_right_ad, #homegoogletextad, #homeheaderad, #homepage-ad, #homepage-adbar, #homepage-footer-ad, #homepage-header-ad, #homepage-right-rail-ad, #homepage-sidebar-ads, #homepageAd, #homepageAdsTop, #homepageFooterAd, #homepageGoogleAds, #homepage_ad, #homepage_rectangle_ad, #homepage_right_ad, #homepage_right_ad_container, #homepage_top_ad, #homepage_top_ads, #homepagead_300x250, #homepageadvert, #homestream-advert3, #hometop_234x60ad, #hometopads, #horAd, #hor_ad, #horadslot, #horizad, #horizads728, #horizontal-ad, #horizontal-adspace, #horizontal-banner-ad, #horizontal-banner-ad-container, #horizontalAd, #horizontal_ad, #horizontal_ad2, #horizontal_ad_top, #horizontalad, #horizontalads, #hot-deals-ad, #hottopics-advert, #hours_ad, #houseAd, #hp-header-ad, #hp-mpu, #hp-right-ad, #hp-store-ad, #hpSponsor, #hpV2_300x250Ad, #hpV2_googAds, #hp_ad300x250, #hp_right_ad_300, #i_ads_table, #ibt_local_ad728, #icePage_SearchLinks_AdRightDiv, #icePage_SearchLinks_DownloadToolbarAdRightDiv, #icePage_SearchResults_ads0_SponsoredLink, #icePage_SearchResults_ads1_SponsoredLink, #icePage_SearchResults_ads2_SponsoredLink, #icePage_SearchResults_ads3_SponsoredLink, #icePage_SearchResults_ads4_SponsoredLink, #icom-ad-top, #idDivAd, #idMapAdvertising, #idRightAdArea, #idSponsoredresultend, #idSponsoredresultstart, #id_SearchAds, #ifmSocAd, #iframe-ad, #iframe-ad-container-Top3, #iframeAd_2, #iframeRightAd, #iframeTopAd, #iframe_ad_2, #iframe_ad_300, #iframe_ad_728, #iframe_container300x250, #iframead-300x250, #ignad_medrec, #ii_banner_ads, #imPopup, #im_box, #im_popupDiv, #im_popupFixed, #image_selector_ad, #imageadsbox, #imgCollContentAdIFrame, #imgad1, #imu_ad_module, #in-content-ad, #in-story-ad-wrapper, #in_ad_col_a, #in_post_ad_middle_1, #in_serp_ad, #inadspace, #inarticlead, #inc-ads-bigbox, #index-ad, #index-bottom-advert, #indexSquareAd, #index_ad, #indexad, #indiv_adsense, #influads_block, #infoBottomAd, #injectableTopAd, #inline-ad, #inline-advert, #inline-story-ad, #inline-story-ad2, #inlineAd, #inlineAdCont, #inlineAdtop, #inlineAdvertisement, #inlineBottomAd, #inline_ad, #inline_ad_section, #inline_search_ad, #inlinead, #inlineads, #inlinegoogleads, #inlist-ad-block, #inner-ad, #inner-advert-row, #inner-deals-ads, #inner-top-ads, #innerad, #innerpage-ad, #innovativeadspan, #inside-page-ad, #insideCubeAd, #insidearticleBodyAd, #insider_ad_wrapper, #instoryad, #instoryadtext, #instoryadwrap, #insurance-ad-1-container, #int-ad, #intAdUnit, #int_ad, #internalAdvert, #internalads, #interstitialAd, #interstitialAdContainer, #interstitialAdUnit, #interstitial_ad, #interstitial_ad_container, #interstitial_ad_wrapper, #interstitial_ads, #introAds, #invid_ad, #ip-ad-leaderboard, #ip-ad-skyscraper, #ipadv, #iqadcontainer, #iqadoverlay, #iqadtile1, #iqadtile11, #iqadtile14, #iqadtile15, #iqadtile2, #iqadtile3, #iqadtile4, #iqadtile5, #iqadtile8, #iqadtile9, #iqd_align_Ad, #iqd_mainAd, #iqd_rightAd, #iqd_topAd, #ir-sidebar-ad, #irgoogleadsense, #islandAd, #islandAdPan, #islandAdPane, #islandAdPane2, #islandAdPaneGoogle, #islandAdSponsored, #island_ad_top, #islandad, #isliveContainer, #item-detail-feature-ad, #itemGroupAd2, #iwad, #j_ad, #j_special_ad, #ji_medShowAdBox, #jmp-ad-buttons, #jobsAdBox, #joead, #joead2, #js-ad-leaderboard, #js-image-ad-mpu, #js_adsense, #jt-advert, #jupiter-ads, #ka_adFullBanner, #ka_adMediumRectangle, #ka_adsense_container, #ka_samplead, #kamidarticle-adnotice, #kamidarticle-middle-content, #karmaAds, #kaufDA-widget, #kdz_ad1, #kdz_ad2, #keen_overlay_ad_display, #keyadvertcontainer, #khAdSpace, #ksperAD, #l_home-keen_ad_mask, #landing-adserve, #landing-adserver, #lapho-top-ad-1, #large-ads, #large-rectange-ad, #large-rectange-ad-2, #largeAd, #large_rec_ad1, #largead, #lateAd, #lateralAdWrapper, #launchpad-ads-2, #layerAds_layerDiv, #layerTLDADSERV, #layer_ad, #layer_ad_content, #layer_ad_main, #layer_adv1, #layerad, #layeradsense, #lb-ad, #lb-sponsor-left, #lb-sponsor-right, #lbAdBar, #lbAdBarBtm, #lblAds, #lead-ads, #lead_ad, #leadad_1, #leader-ad, #leader-board-ad, #leaderAdContainer, #leaderAdContainerOuter, #leader_ad, #leader_board_ad, #leaderad, #leaderad_section, #leaderadvert, #leaderboard-ad-1, #leaderboard-ad-1-container, #leaderboard-ad-1_iframe, #leaderboard-ad-2, #leaderboard-ad-2_iframe, #leaderboard-ad-3, #leaderboard-ad-3_iframe, #leaderboard-ad-4, #leaderboard-ad-4_iframe, #leaderboard-ad-5, #leaderboard-ad-5_iframe, #leaderboard-ad-bottom, #leaderboard-ad-bottom-container, #leaderboard-ad-container, #leaderboard-bottom-ad, #leaderboardAd, #leaderboardAdArea, #leaderboardAdArea2, #leaderboardAdLabel, #leaderboardAdSibling, #leaderboardAdTop, #leaderboardAds, #leaderboardAdvert, #leaderboardAdvertFooter, #leaderboardBottomAd, #leaderboard_728x90, #leaderboard_Ad, #leaderboard_ad, #leaderboard_ad_gam, #leaderboard_ad_main, #leaderboard_ad_unit, #leaderboard_ads, #leaderboard_bottom_ad, #leaderboard_top_ad, #leaderboardadtagwidget-2, #leads, #learad, #leatherboardad, #left-ad-1, #left-ad-2, #left-ad-col, #left-ad-skin, #left-bottom-ad, #left-col-ads-1, #left-lower-adverts, #left-lower-adverts-container, #leftAD, #leftAdAboveSideBar, #leftAdCol, #leftAdContainer, #leftAdMessage, #leftAdSpace, #leftAd_fmt, #leftAd_rdr, #leftAds, #leftAdsSmall, #leftAdvert, #leftColumnAdContainer, #leftGoogleAds, #leftSectionAd300-100, #leftTopAdWrapper, #left_ad, #left_adsense, #left_adspace, #left_adv, #left_advertisement, #left_bg_ad, #left_block_ads, #left_float_ad, #left_side_ads, #left_sidebar_ads, #left_skyscraper_ad, #left_ws_ad_container, #leftadg, #leftcolAd, #leftcolumnad, #leftframeAD, #lg-banner-ad, #lgfRightBarAd { display: none !important; orphans: 4321 !important; }