/*----------------------------------

	----------------------
		
	/* #Eelements + (Bootstrap elements)
	================================================== */

	
	/* Max Sliders */
	.max-hero .slides-control {margin: 0px; padding: 0px; list-style: none; position: relative; height: 100%; display: block; background-color:#222;}
	.max-hero .slides-control .slides-container {display: none;}
	.max-hero .slides-control .sparallax .slide-image {background-attachment: fixed;background-size: cover; background-position: center center; background-repeat: no-repeat;}
	@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
    .max-hero .slides-control .sparallax .slide-image {background-attachment: scroll;}
	 }
	.max-hero .slides-control .spattern .slide-image:after, .spattern.max-video:after, .video-sec .spattern:after{ background: url(../images/spattern.png); width:100%; height:100%; bottom:0; left:0; position:absolute; z-index: 1; content: ""; }
	.max-hero .mejs-controls {display:none !important;}
	/* Max Sliders Navigation */
	.max-hero .slides-navigation {margin: 0 auto;position: absolute;z-index: 3;top: 46%;width: 100%;}
	.max-hero .slides-navigation a {position: absolute;display: block;width:74px;height:74px;background:url(../images/arrows2.png);opacity:0;-webkit-transition: all 0.5s;-moz-transition: all 0.5s;transition: all 0.5s;}
	.max-hero .slides-navigation a.prev {left: 1%;background-position:bottom center;}
	.max-hero .slides-navigation a.next {right: 1%;background-position:top center;}
	.max-hero .slides-navigation a:hover{opacity:1 !important;}
	.max-hero:hover .slides-navigation a{opacity:0.3;}
	/* Max Sliders Content */
	.slides-content {color:#fff; position: absolute; width: 100%; top: 38% ; margin: 0 auto; z-index: 2;background: transparent; height: 300px; min-height: 300px; text-align: center;-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);transform: translateY(-50%);}
	.tagline-slider.flexslider{background: transparent; text-align:center; margin-bottom:20px; }
	.tagline-slider.flexslider .slides {height:auto; padding:0;margin:0 auto;position:relative; overflow:initial; }
	.tagline-slider.flexslider .slides li{word-break: break-word; color:#fff; list-style:none; font-size:49px; }
	.tagline-slider.flexslider .slides li span{color:#1bbc9b;}
	.tagline-slider .flex-direction-nav {display:none;}
	.tagline-slider .flex-control-nav {position: static;}
	.tagline-slider .flex-control-paging li a { background:none; width:12px; height:12px; border:2px solid rgba(255,255,255,0.6); text-shadow:1px 1px 2px rgba(0,0,0,5);}
	.tagline-slider .flex-control-paging li a.flex-active { border-color:#fff; background:none;}
	
	.slides-content p {line-height: 26px; width: 100%; max-width: 670px; margin: 35px auto; position: relative; text-align: center;color: #fff; font-size:16px; font-weight: 400; letter-spacing:0;}
	.slides-content .button.small { margin-top:50px; font-size: 12px; font-weight:bold; color: #fff; letter-spacing: 2px; text-transform: uppercase;text-shadow:1px 1px 1px rgba(0,0,0,0.3); padding:10px 25px; border-radius:25px; }
	.slides-content .button.small:after { display:none;}
	.slides-content .button.small.gray { background:none;  border: 2px solid rgba(255,255,255,0.77); box-shadow:0px 1px 5px rgba(0,0,0,0.14) inset;}
	.slides-content .button.small:hover { background:rgba(0, 0, 0, 0.4);}
	
	.max-hero h1, .max-hero h2, .max-hero h3, .max-hero h4, .max-hero h5, .max-hero h6 { font-family: 'futura-pt', 'Source Sans Pro',  Helvetica, Arial, sans-serif; color:#fff; line-height:1.2; margin-bottom:10px; text-shadow:1px 1px 2px rgba(0,0,0,0.2); font-weight:400; }
	.max-hero h1, .max-hero h2 { font-weight:300;}
	.max-hero h1 strong, .max-hero h2 strong, .max-hero h3 strong { font-weight:bold;}
	.max-hero h1, .max-hero h1 strong { font-size:110px; letter-spacing:-0.06em;}
	
	.max-hero h2 { font-size:75px;}	
	.max-hero h3 { font-size:59px; padding:7px 12px; margin:20px 0; border:5px solid #fff; line-height:1; text-transform:uppercase; display:inline-block; font-weight:900; position:relative; letter-spacing:-0.06em; opacity:0.91;}
	.max-hero h3:after, .max-hero h3:before, .max-hero h5:before { content:""; display:block; width:80px; height:5px; margin-left:-40px; background:#fff; position:absolute; left:50%; top:-10px;}
	.max-hero h3:after, .max-hero h5:after { top:auto; bottom:-10px;}
	.max-hero h5:before { height:3px; opacity:0.71; background:#f6465f; width:50px; margin-left:-25px;}
	.max-hero h5 { position:relative; font-size:18px; font-weight:400; font-style:italic; margin-bottom:20px;}
	.max-hero h4 { font-size:30px; letter-spacing:-0.04em; font-weight:300;}
	.max-hero h6 { font-size:17px; padding:12px 18px; margin:20px 0 30px; background:rgba(0, 0, 0, 0.3); display:inline-block; line-height:1.8;} 
	
	@media (max-width: 768px) {
	.max-hero h1, .max-hero h1 strong { font-size:48px; letter-spacing:-0.03em;}
	.max-hero h2 { font-size:40px;}	
	.max-hero h3 { font-size:35px; letter-spacing:-0.03em; line-height:1; margin-bottom:10px; padding:6px 11px;}
	.slides-content p, .video-play-btn-wrap { margin:16px auto;}
	}
	
	/* Video Play Button */
	.video-play-btn-wrap { display:block; text-align:center;}
	.video-play-btn i { background:none; font-size:32px; border-radius:50%; color:#41474d; padding: 18px 18px 16px 23px; border: 4px solid;
	 -webkit-transition: 0.3s;-moz-transition: 0.3s;-ms-transition: 0.3s;-o-transition: 0.3s;}
	.blox.dark .video-play-btn i { color:#fff;}
	.video-play-btn i:hover { color:#41474d !important; background-color:#fff !important; border:5px solid #fff !important; box-shadow:0px 1px 15px rgba(0,0,0,0.19);}
	
	
	/* Max Titles */
	
	.sec-divider{ background:url(../images/dividerline1.png) center center repeat-x; margin: 25px auto 30px; display: block; position: relative; height:1px}
	.sec-divider .cir{margin: auto; width: 50px; height: 50px; border: 1px solid #d7d7d7; padding: 11px 0;text-align: center;position: relative;top: -26px; border-radius: 100px; font-size:16px; line-height:26px; color:#b5b9bc}
	.blox.dark .sec-divider {  background:url(../images/dividerline2.png) center center repeat-x;}
	.blox.dark .sec-divider .cir{border: 2px solid rgba(255, 255, 255, 0.7); color:#fff}

	.max-title, .max-title2,.max-title3, .max-title4, .max-title5{text-align: center; margin:45px auto 40px; font-weight: 400; letter-spacing: 1.6px;}
	.max-title { margin-bottom: 5px; display: inline-block; text-align:left; margin-top:40px; }
	.vc_span6 .max-title, .vc_span3 .max-title, .vc_span4 .max-title { margin-top:14px;}
	.max-title *{ font-weight: 400;position: relative;display: inline-block; color: #3b454d; font-size:21px; line-height:1.3; margin-bottom:0; letter-spacing:-0.6px; text-transform:none;}
	.max-title:after{ content: ""; margin: 6px 0 15px; width: 35px; height: 0; display: block; position: relative; border-bottom: 3px solid #494949; }
	.max-title .max-line { display:none;}

	.max-title3 { margin-bottom:35px; position:relative;}
	.max-title3 h2 { font-size: 36px; font-weight: 800; letter-spacing: -2.3px; line-height:1.24; position:relative; padding-bottom:22px;}
	.max-title3:before, .max-title3:after{ content: "";  width: 160px; height: 0; display: block; position:absolute; left:50%; margin-left:-80px; bottom:10px; border-bottom: 1px solid #d7d7d7; }
	.max-title3:after { width:70px; bottom:0; margin-left:-35px;}
	.blox.dark .max-title3:before, .blox.dark .max-title3:after { border-color:rgba(255, 255, 255, 0.76);}
	.max-title3 span, .blox .max-title3 span{color:#27ae60}
	
	
	.max-title5 *, .max-title2 *, .max-title4 *{ font-weight: bold;position: relative;display: inline-block; color: #3b454d; margin-top:20px; font-size:13px; line-height:1.3; margin-bottom:0; letter-spacing:1.6px; text-transform:uppercase;}
	.max-title5 , .max-title2 { margin-top:25px; margin-bottom:20px;} 
	.max-title2 *, .max-title4 *{ font-weight:600; font-size:19px; color:#373e44;}
	.max-title5:after, .max-title2:after, .max-title4:after, .max-title5:before{ content: ""; margin: 8px auto 20px; width: 50px; height: 0; display: block; position: relative; border-bottom: 1px solid #ff5d5e; }
	.max-title2:after, .max-title4:after { width:36px; border-bottom:1px solid #ff5d5e; margin-bottom:35px;}
	.blox.dark .max-title5 *, .blox.dark .max-title4 *{ color:#fff; border-color:#fff;}	
	.blox.dark .max-title2:after, .blox.dark .max-title4:after, .blox.dark .max-title5:before { border-color:#fff;}
	.max-title4 { text-align:left; margin-top:8px; margin-bottom:14px;}
	.max-title4 * { text-align:left; font-size:17px; letter-spacing:1px;}
	.max-title4:after { width:40px; border-bottom: 2px solid #ff5d5e; margin:0; margin-top:8px;}
	.max-title5 * { font-size:29px; font-weight:400; letter-spacing:-0.2px; text-transform:none; margin-bottom:45px; font-family:"Arapey", serif;}
	.max-title5 h2 { line-height:37px;}
	.max-title5:after, .max-title5:before { position:absolute; margin-left:-3px; left:50%; top:auto; margin-top:-24px; }
	.max-title5:before { margin-top:80px; width:100px; margin-left:-50px; border-color:#d9d9d9;}
	.max-title5:after { width:5px; height:5px; border-radius:3px; background:#ff5d5e; border:none;}
	.blox.dark .max-title5:before { border-color:rgba(255,255,255,0.48);}
	
	/* Subtitle */
	.sub-title {padding: 12px 0 14px; margin: 16px 0 20px 1px; border-bottom: 2px solid #27ae60; text-transform: uppercase; font-size: 14px; color: #777; letter-spacing: 1.2px; font-weight: bold;}
	
	/* Max Paragraph */
	.max-p {max-width: 660px; margin: 0 auto 40px; font-size: 19px; line-height: 1.7; color: #a2a5a7; font-weight: 300; text-align:center}
	.blox.blackbox .max-p {color:#808080}
	#wrap .bg-white { background:#fff;}
	
		
	
	/* Max Counter */
	.max-counter { text-align:center; color: #393A3A; font-size: 36px;}
	.max-counter.s-counter .icon-counter { color: rgba(0,0,0,0.4);margin-right: 15px; font-size:64px;}
	.blox.dark .max-counter.s-counter .icon-counter { color: rgba(15,15,16,0.25);}
	.max-counter.s-counter .max-count { font-size:78px; font-weight:300; color: rgba(0,0,0,0.64); }
	.blox.dark .max-counter.s-counter .max-count {color: rgba(255,255,255,0.92);}
	.max-counter h5 { margin-top: 15px;font-size: 13px; font-weight:600; letter-spacing:1px; text-transform:uppercase; position:relative;}
	.max-counter.s-counter h5 { text-transform:none; font-size:16px; font-weight:400; margin-top:20px;}
	.max-counter h5:after { content: ""; margin: 8px auto 20px; width: 24px; height: 0; display: block; position: relative; border-bottom: 2px solid rgba(0,0,0,0.27); }
	.max-counter.s-counter h5:after { border:none;}
	.blox.dark .max-counter.m-counter .max-count, .dark-content .max-counter.m-counter .max-count { border: 2px solid #fff;}
	.max-counter.m-counter { margin: 0 auto; padding: 20px; position:relative;}
	.max-counter.m-counter .max-count{ border: 2px solid #777; border-radius: 100%; position:relative; height: 190px;width: 190px; padding-top:82px; margin: 0 auto;display: block;vertical-align: middle;font-size: 57px; font-weight:300; -webkit-transition: all .3s ease-in-out;-moz-transition: all .3s ease-in-out;-ms-transition: all .3s ease-in-out;-o-transition: all .3s ease-in-out;transition: all .3s ease-in-out; }
	.max-counter.m-counter:hover .max-count,.blox.dark .max-counter.m-counter:hover .max-count,.dark-content .max-counter.m-counter:hover .max-count { background-color:#f08484; border-color:#f08484; color:#fff;}
	.m-counter .icon-counter, .m-counter .suf-counter, .m-counter .pre-counter { display:none}
	.max-counter.s-counter { margin-bottom:10%}
	@media only screen and (min-width: 768px) and (max-width: 1200px) {
	.max-counter.s-counter .icon-counter { font-size:24px;}
	.max-counter.s-counter .max-count { font-size:31px;}
	}
	
	/* Max  Quote */
	.max-quote {text-align: center; padding:10px;}
	.max-quote cite{font-size: 18px; font-style:normal;}
	.max-quote small{font-size: 14px;}
	.max-quote:before { content: ''; content: none; }
	.max-quote h2{font-family:"Cardo",serif; font-size: 24px;}
	.max-quote h2:before { content: '\201C'; }
	.max-quote h2:after { content: '\201D'; }
	.max-quote h2:before, .max-quote h2:after {color: #FF4748;font-family: Times, serif; font-size: 30px; margin: 0 10px; font-weight: bold; }
	.blox.dark .max-quote cite{color:#aaa}
	.blox .max-quote h2{color:#32373b}
	.blox.dark .max-quote h2{color:#fff}
	
		/* Social Media */
	.blox .social-media {text-align: center}
	.blox .social-media a {text-align: center; padding: 0 10px; margin-bottom: 20px; display: inline-block;}
	.blox .social-media a i {border:2px transparent solid;font-size:4em;padding: 30px;border-radius: 50%;color: #fff;margin-bottom: 20px;display: block; -webkit-transition: all .3s ease-in-out;-moz-transition: all .8s ease-in-out;-ms-transition: all .8s ease-in-out;-o-transition: all .8s ease-in-out;transition: all .8s ease-in-out;background:rgba(15, 15, 15, 0.6)}
	.blox .social-media a:hover i {color: #fff;border:2px #fff solid;}
	.blox .social-media a span{-webkit-transition: all .8s ease-in-out; -moz-transition: all .8s ease-in-out; -ms-transition: all .8s ease-in-out; -o-transition: all .8s ease-in-out; transition: all .8s ease-in-out; color:transparent;text-transform: uppercase; font-size:16px; font-weight:600; text-shadow: 0 0 5px rgba(33, 65, 83, 1) }
	.blox .social-media a:hover span{color:#fff;}
	#social-media.active.facebook{ background: #3b5996 !important; }
	#social-media.active.twitter { background: #00acee !important; }
	#social-media.active.vimeo { background: #0dadd6 !important; }
	#social-media.active.dribble { background: #d53e68 !important; }
	#social-media.active.youtube{ background: #cb322c !important; }
	#social-media.active.pinterest{background: #cb2027 !important; }
	#social-media.active.google{background: #c3391c !important; }
	#social-media.active.linkedin { background: #0073b2 !important; }
	#social-media.active.rss{ background: #f29a1d !important; }
	#social-media.active.instagram{ background: #457399 !important; }
	#social-media.active.skype{ background: #00aaf3 !important; }
	#social-media.active.other-social { background: #ff5d5e !important; }
	#social-media.blox .social-media a span{display:none;}
	#social-media.blox .social-media a i{background:none; font-size:2em;border: 1px transparent solid; margin:0; padding:20px;}
	#social-media{transition: background-color .8s ease-in-out;-webkit-transition: background-color .8s ease-in-out;-moz-transition: background-color .8s ease-in-out;-ms-transition: background-color .8s ease-in-out;-o-transition: background-color .8s ease-in-out;}
	#social-media.blox .social-media a{margin: 20px 0;}
	#social-media.blox .social-media a:hover i {border: 1px #fff solid;}
	

	
	/* TEAM */
	.our-team { position:relative; text-align: left; background: #fff;  margin-bottom: 30px; border:1px solid #e7e7e7; overflow:hidden;}
	.social-team { padding-bottom:14px; text-align:left; padding-left:8px;}
	.our-team figure { position: relative; margin: 0 auto; overflow: hidden; -webkit-transition: all .3s ease; -moz-transition: all .3s ease; -ms-transition: all .3s ease; -o-transition: all .3s ease; transition: all .3s ease; }
	.our-team figure img { width: 100%; height: auto; min-width:110px; min-height:80px; background:#ddd;}
	.social-team i { margin: 0px 4px; background: #fff; font-size: 21px; border-radius: 50%; color: #777; height: 41px; padding: 11px; height: 41px; width: 41px; display: inline-block; text-align: center; }
	.our-team i:hover  { color:#fff}
	.our-team i.fa-facebook:hover { background: #3b5996; }
	.our-team i.fa-twitter:hover { background: #00acee; }
	.our-team i.fa-vimeo-square:hover, .our-team i.fa-vimeo:hover { background: #0dadd6; }
	.our-team i.fa-dribbble:hover { background: #d53e68; }
	.our-team i.fa-youtube:hover { background: #cb322c; }
	.our-team i.fa-pinterest:hover { background: #cb2027; }
	.our-team i.fa-linkedin:hover { background: #0073b2; }
	.our-team i.fa-rss:hover { background: #f29a1d; }
	.our-team i.fa-google-plus:hover { background: #c3391c; }
	.our-team i.fa-instagram:hover { background: #457399; }
	.our-team h2 { display:inline-block; font-size: 22px; font-weight: 600; line-height:1.2; letter-spacing:0; position:absolute; left:0; padding:8px 18px; margin-top:-42px; background:rgba(255,255,255,0.7); border-top-right-radius:17px; }
	.vc_span2 .our-team h2 { font-size:18px; margin-top:-37px; }
	.our-team h5 { color: #fb6768; margin-bottom: 10px; margin-left:18px; margin-top:16px; line-height:1.1; font-size:11px; font-weight: 600; text-transform:uppercase; }
	.our-team p { padding: 5px 17px 26px; color: #989898; border-bottom:1px solid #efefef; }
	@media only screen and (min-width: 768px) and (max-width: 959px) {
	.our-team h2 { font-size:18px; margin-top:-37px; padding:8px 12px; letter-spacing:-1px;}
	}
	
	
	/* TESTIMONIALS */
	.testimonial { margin-bottom:20px; clear:both; min-width:220px; }
	.testimonial-content { padding:8px 12px; position:relative; border:1px solid #e9e9e9; background: #DBDBDB;  /* border-radius:9px; */ opacity: 0.4;}
	
	.container .testimonial-content p { margin:6px;}
	.testimonial-content h4 { padding:10px; line-height:1.7; color:#595959; margin-top:7px; }
	.testimonial-content h4 q { font-size:22px; line-height:1.3; font-family: 'Arapey', serif; font-weight:300; font-style:italic;}
	.testimonial-arrow { position:absolute; width:127px; height:14px;  left:50px; bottom:-14px;}
	.testimonial-arrow:after, .testimonial-arrow:before {content: '';display: block;position: absolute;width: 0; right:58px;height: 0;border-style: solid; border-width: 9px;}
	.testimonial-arrow:after {top: -1;border-color: #fcfcfc transparent transparent transparent ;}
	.testimonial-arrow:before {top: 1px;border-color: #e7e7e7 transparent transparent transparent;}​
	.testimonial-brand { position:relative; margin:12px 16px 8px 0px;}
	.testimonial-brand img { width:76px; height:76px; border-radius:45px; float:left; border:1px solid #eee; margin-top:10px; color:transparent; background:#c5c5c5 url(../images/avatr1.png) no-repeat center;}
	.testimonial-brand h5 { float:left; clear:right; margin:20px; margin-left:14px; color:#555; font-size:17px; }
	.testimonial-brand h5 strong { font-weight:600;}
	.testimonial-brand h5 em { font-size:13px; font-style:normal; font-weight:400; color:#777; }
	
	.blox.dark .testimonial-content { background:rgba(0,0,0,0.15); border:none;}
	.blox.dark .testimonial-brand img { border:none;}	
	.blox.dark .testimonial-arrow:before { top:0; border-color: rgba(0,0,0,0.15) transparent transparent transparent;}
	.blox.dark .testimonial-arrow:after { border:none;}​
	
	
	/* TESTIMONIALS Slider */

	.testimonials-slider-w .testimonial { margin-top:10px; margin-bottom:10px; text-align:center; }
	.testimonials-slider-w .testimonial-content { background:none; border:none; }
	@media only screen and (min-width: 960px) {
	.testimonials-slider-w .testimonial-content { margin-left:140px; margin-right:140px;}
	}
	.testimonials-slider-w .testimonial-content h4 { padding-bottom:55px;}
	.testimonials-slider-w .testimonial-content h4 q { font-size:22px; line-height:1.3; font-family: 'Arapey', serif; font-weight:300; font-style:italic;}
	.testimonials-slider-w .testimonial-content h4 q:before, .testimonials-slider-w .testimonial-content h4 q:after { position:absolute; font-family: Times, serif; font-size: 30px; margin: 0 7px; font-weight: bold; opacity:0.7; }
	.testimonials-slider-w .testimonial-content h4 q:before { content: '\201C'; margin-left:-26px; padding-right:3px;  }
	.testimonials-slider-w .testimonial-content h4 q:after { content: '\201D'; padding-right:7px;  }	
	.testimonials-slider-w .testimonial-brand h5 { margin:5px 0 0; line-height:1.5; font-size:14px; }
	.testimonials-slider-w .testimonial-arrow { display:none; }
	.testimonials-slider-w .testimonial-brand h5, .testimonials-slider-w .testimonial-brand img { float:none;}
	.blox.dark .testimonials-slider-w .testimonial-content { background:none; border:none;}

	.testimonials-slider-w.flexslider { background: transparent; text-align:center; margin-bottom:20px; max-width:960px; margin-left:auto; margin-right:auto; }
	.testimonials-slider-w.flexslider .slides { height:auto; padding:0;margin:0 auto;position:relative; overflow:initial; }
	.testimonials-slider-w.flexslider .slides li { word-break: break-word; color:#fff; list-style:none; font-size:49px; }
	.testimonials-slider-w.flexslider .slides li span{ color:#1bbc9b;}
	.testimonials-slider-w.flexslider .flex-direction-nav { display:block; }
	.testimonials-slider-w.flexslider .flex-direction-nav a { width:60px; height:60px; padding:20px; background: none; opacity: 0.65; border:2px solid rgba(0,0,0,0.6); border-radius:50%; transition: all .19s ease; }
	@media only screen and (max-width: 959px) {
	.testimonials-slider-w.flexslider .flex-direction-nav a { top:auto; bottom:-30px; right:auto; left:50%; width:40px; height:40px; padding:10px;}
	.testimonials-slider-w.flexslider .flex-direction-nav .flex-prev { margin-left:-42px;}
	.testimonials-slider-w.flexslider .flex-direction-nav .flex-next { margin-left:2px;}
	}
	.testimonials-slider-w.flexslider .flex-direction-nav a i { color:rgba(0,0,0,0.6); font-size:11px;}
	.testimonials-slider-w.flexslider .flex-direction-nav a:hover { opacity:1; background: none;}
	.testimonials-slider-w.flexslider .flex-control-nav { display:none;}
	.testimonials-slider-w.flexslider .flex-control-paging li a { display:none;}
	.blox.dark .testimonials-slider-w.flexslider .flex-direction-nav a { border:2px solid rgba(255,255,255,0.9); }
	.blox.dark .testimonials-slider-w.flexslider .flex-direction-nav a i { color:rgba(255,255,255,0.9);}
	.testimonials-slider-w.flexslider .testimonial-brand { position:relative; margin-left:auto; width:100%; margin-right:auto; text-align:center; margin-top:-68px;}
	.testimonials-slider-w.flexslider .testimonial-brand img { width:76px; height:76px; border-radius:50%; background:#fff; padding:3px; float:none; display:inline; border:1px solid #ddd; margin-top:10px;}
	.blox.dark .testimonials-slider-w.flexslider .testimonial-brand img { padding:0; border:none;}
	
	
	/*	jCarousel */
	
	.jcarousel-container { max-width: 100%; padding: 0; display: block; position: relative; }
	.jcarousel-clip { position: relative; overflow: hidden; width: 100%; }
	ul.jcarousel-list { overflow: hidden; position: relative; top: 0px; margin: 0px; padding: 0px; left: 0px; }
	ul.jcarousel-list li { float: left; list-style: none; }
	ul.jcarousel-list li img { max-width: 100%; }
	.jcarousel-item { display: block; }
	.jcarousel-next, .jcarousel-prev {  position: absolute; right: 0; top: -55px; cursor: pointer; -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -ms-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease; }
	.jcarousel-next:after, .jcarousel-prev:after { position: absolute; top: 6px; right: 6px; font-family: 'FontAwesome'; font-size: 10px; color: #fff; content: "\f054"; speak: none; font-style: normal; font-weight: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; }
	.jcarousel-prev:after { content: "\f053"; }
	.jcarousel-next:hover, .jcarousel-next:active, .jcarousel-prev:hover, .jcarousel-prev:active { background-color: #da131e; }
	.jcarousel-next-disabled, .jcarousel-next-disabled:hover, .jcarousel-prev-disabled, .jcarousel-prev-disabled:hover { background-color: #e5e8ea; cursor: auto; border-bottom-color: #e0e0e0; }
	
	/*--- our client ---*/
	.client-block { width: 100%; display: block; margin-bottom: 60px; }
	.our-clients-wrap { float: none; margin-top: 10px; position: relative; }
	.our-clients-wrap.crsl { margin-top:60px; margin-left:auto; margin-right:auto; max-width:1100px;}
	.jcarousel-next, .jcarousel-prev { right: auto; left: 50%; margin-left: 61px; top: -85px; color: #929ca3; }
	.jcarousel-prev { margin-left: 8px; }
	.jcarousel-next:hover, .jcarousel-next:active, .jcarousel-prev:hover, .jcarousel-prev:active { border-color: #e84a52; color: #e84a52; }
	.jcarousel-next-disabled, .jcarousel-next-disabled:hover, .jcarousel-prev-disabled, .jcarousel-prev-disabled:hover { border-color: #e5e5e5; color: #e5e5e5; }
	.jcarousel-next:after, .jcarousel-prev:after { position: absolute; top: 10px; right: 9px; font-family: 'FontAwesome'; font-size: 14px; color: inherit; border:2px solid; background:#fff; padding:15px 16px 13px 16px; border-radius:50%;}
	.jcarousel-prev:after { right:11px;}
	
	
	ul.our-clients { display: block; padding-left: 3px; margin: 10px 0 20px; box-shadow: 0px 2px 4px -3px rgba(0,0,0,0.1); -webkit-box-shadow: 0px 2px 4px -2px rgba(0,0,0,0.1); }
	ul.our-clients li { list-style:none; width:20%; padding:25px 15px; text-align:center; float: left; height:130px; margin:0; vertical-align: middle; border-bottom:1px solid #e9e9e9; border-right:1px solid #e9e9e9;}
	ul.our-clients li:nth-child(5n) { border-right:none;}
	ul.our-clients li:nth-child(n+6) { border-bottom:none;}
	ul.our-clients li:nth-child(n+11) { border-top:1px solid #e9e9e9;}
	
	@media only screen and (max-width: 768px) {
	.our-clients-wrap { padding-top: 30px; }
	ul.our-clients li { width:49.979%;}
	ul.our-clients li:nth-child(5n) { border-right:1px solid #e9e9e9; }
	ul.our-clients li:nth-child(2n) { border-right:none;}
	ul.our-clients li:nth-child(n+6) { border-bottom:1px solid #e9e9e9;}
	ul.our-clients li:nth-child(n+3) { border-bottom:none;}
	ul.our-clients li:nth-child(n+5) { border-top:1px solid #e9e9e9;}
	}
		
	ul.our-clients li img { height:auto; width:auto; max-width:100%; max-height:80px; margin:0;}
	#our-clients.crsl.our-clients li { padding:0; margin-left: 20px; text-align: center; width: 168px; border:none; padding-top:35px; }
	ul.our-clients li:first-child { margin-left: 0; }
	ul.our-clients:after { clear: both; }

	

	/* Plans & Pricing */
	#wrap .ptp-pricing-table { display: block; width:auto; margin: 0 auto; }
	#wrap .ptp-pricing-table .ptp-item-container { text-align: center; margin: 12px 0; -webkit-transition: all .03s ease; -moz-transition: all .03s ease; -ms-transition: all .03s ease; -o-transition: all .03s ease; transition: all .03s ease; border: 1px solid transparent; border-radius: 6px;}
	#wrap .ptp-pricing-table .ptp-plan { background-color: #e7e7e7; font-weight: normal; font-size: 20px; margin: 0;padding: 16px;border-radius: 4px 4px 0 0; color:#425b71;}
	#wrap .ptp-pricing-table .ptp-price { padding: 8px 0; color: #fff; font-weight: bold; background: #27ae60; font-size: 12px; letter-spacing:1.2px; text-transform:uppercase; }
	#wrap .ptp-pricing-table .ptp-bullet-item { background-color:#fbfbfb; color:#979797; text-align:center; padding: 16px 0; margin: 0; font-size: 13px; font-weight: 400; border-bottom: 1px dotted #e3e3e3; }
	#wrap .ptp-pricing-table .ptp-bullet-item span{color:#425b71; font-weight:700}
	#wrap .ptp-pricing-table .ptp-item-container .ptp-cta {border-radius: 0 0 4px 4px; background-color: #f7f7f7; border-top:3px solid #f0f0f0;}
	#wrap .ptp-pricing-table .ptp-item-container .ptp-button {padding: 12px 0; border: none; background-color: transparent; color: #4f667a; font-size:12px; font-weight:bold; text-transform:uppercase;}

	#wrap .ptp-pricing-table .ptp-item-container:hover {background-color:#fff; }
	#wrap .ptp-pricing-table .ptp-item-container:hover .ptp-plan{background: #e4644b; color: #fff;}
	#wrap .ptp-pricing-table .ptp-item-container:hover .ptp-price{background: #de5440;}
	#wrap .ptp-pricing-table .ptp-item-container:hover .ptp-button { box-shadow: none; background-color:#e4644b; color:#fff}
	#wrap .ptp-pricing-table .ptp-three-col {width: 33.33333333333333%;}
	#wrap .ptp-pricing-table .ptp-four-col  {width: 25%;}
	
	
	/* OUR PROCESS SECTION */
	
	.our-process-wrap { min-height: 260px; margin-bottom: 40px; }
	.our-process { border-bottom: 1px dashed #e0e0e0; position: relative; height: 62px; overflow:visible;  z-index:11; }
	.our-process:before, .our-process:after { content: "\f192"; position: absolute; left: -8px; bottom: -4px; font-family: 'FontAwesome'; font-size: 16px; color: #ccc; }
	.our-process:after { left: auto; bottom: -11px; right: -8px; content: "\f140"; }

	.our-process.proc4level .our-process-item { width: 25%; }
	.our-process.proc5level .our-process-item { width: 20%; }
	.our-process.proc3level .our-process-item { width: 33.33%; }
	.our-process-item {float: left; position: relative; text-align:center; }
	.our-process-item .our-process-content { text-align:center; }
	.our-process-item i { background:#fff; position:relative; color: #7d7d86; font-size: 32px; display:inline-block; padding: 40px; clear:both; border-radius: 50%; border: 1px solid #e5e5e5; -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -ms-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease; }
	.our-process-item i:after { position:absolute; top: 50%; right:-16px; margin-top:-11px; padding:8px; background:#677842; content: "1"; font-size: 15px; font-weight:400; line-height:1; width:32px; height:32px; color:#fff; border-radius:50%; font-family:"Arapey", serif; font-style:italic; }
	.our-process .our-process-item:nth-child(2n) i:after {content: "2";}
	.our-process .our-process-item:nth-child(3n) i:after {content: "3";}
	.our-process .our-process-item:nth-child(4n) i:after {content: "4";}
	.our-process .our-process-item:nth-child(5n) i:after {content: "5";}
	.our-process-item:hover i { border-color: #40511a;}
	.our-process-item h5 { font-weight: 600; font-size: 15spx; margin: 16px 10px 8px 0; text-align:center; width:100%; letter-spacing:2.4px; color:#222; }
	.our-process-item p { font-size:15px; color:#707275; line-height:1.48;}
	
	@media only screen and (max-width: 767px) {
	.our-process.proc4level,
	.our-process.proc5level,
	.our-process.proc3level { height: auto; }
	.our-process { border: none }
	.our-process:before, .our-process:after { display: none; }
	.our-process:after { left: 31px; }
	.our-process.proc4level .our-process-item, .our-process.proc5level .our-process-item, .our-process.proc3level .our-process-item { width: 100%; }
	}
	@media only screen and (min-width: 768px) and (max-width: 959px) {
	.our-process-item i { font-size:32px; padding:18px;}
	.our-process { height:38px;}
	.our-process-item i:after { font-size:14px; padding:6px; width:26px; height:26px;}
	}
	@media only screen and (max-width: 959px) {
	.our-process-item p { margin-bottom:33px;}
	.our-process-item h5  { font-size:15px;}
	}
	
	
	
	 /* Teaser Box */
    .teaser-box1 .image-wrapper { position: relative; overflow: hidden; }
    .teaser-box1 .image-wrapper .iconbg-w { position: absolute; top: auto; bottom:0; left: 0; width: 100%; height: 60px; text-align: center; background-color: #c4cea3; color: #fff; z-index: 2; opacity:0.8;}
    .teaser-box1 .image-wrapper .iconbg-w i { color: #fff; display: block; width: 100%; height: 60px; line-height: 60px; font-size: 32px; vertical-align: middle;  }
    .teaser-box1 .image-wrapper img { position: relative; display: block; height: auto; z-index: 1;}
    .teaser-box1 .content-wrapper { text-align: center; padding: 20px 25px 15px; border: 7px solid #eee; border-top: none; background: #fbfbfb; }
    .teaser-box1 a { display: block; color: #485159; overflow: hidden; }
    .teaser-box1 .content-wrapper h5, .teaser-box2 .content-wrapper h5 { margin-bottom: 0; font-size:18px; color:#888; font-weight:400; font-style:italic; font-family:"Arapey", serif; }
    .teaser-box1 .content-wrapper h5.subtitle-bg { padding: 0px 6px; display: inline-block; color: #fff; }
    .teaser-box1 .content-wrapper h4, .teaser-box2 .content-wrapper h2 { font-size: 25px; line-height: 1.1; font-weight: bold; letter-spacing:-1px; }
	.teaser-box1 .content-wrapper p, .teaser-box2 .content-wrapper p { color: #62666b; font-size:14px; }
	.teaser-box2 { text-align: left; overflow: hidden; position: relative; }
	.teaser-box2 img { max-width: 100%; height: auto; }
	.teaser-box2 .content-wrapper { padding-bottom:20px; border-bottom: 7px solid #eee;  background: #fbfbfb; z-index: 2; }
	.teaser-box2 .content-wrapper .iconbg-w { position: relative; bottom: 0; display: block; width: 50px; height: 50px; line-height: 50px; position: relative; text-align: center; margin: 0 auto 15px; border-radius: 15px; }
	.teaser-box2 .content-wrapper .iconbg-w i { font-size: 40px; line-height: 50px; color: #fff; }
	.teaser-box2 .content-wrapper h5 { background-color: #48d228; color: #fff; display: block; line-height: normal; letter-spacing: 1px; padding: 4px 20px; margin-bottom: 15px; }
	.teaser-box2 .content-wrapper h2 { padding: 2px 20px; color: #444; font-size: 24px; font-weight: bold; line-height: 26px;  margin: 0; }
	.teaser-box2 .content-wrapper p { padding: 1px 20px; color: #777; line-height: normal;  margin: 0; margin-top: 10px; }

	
	
	/* Latest from blog */
	.latest-b2 { margin:30px 0; }
	.latest-b2 a:hover { text-decoration:underline;}
	.latest-b2-img { float:left; width:140px; margin-right:15px; min-height:140px;}
	.latest-b2-cont { min-height:140px; padding-right:10px;}
	h3.latest-b2-title { font-size:17px; margin-bottom:9px; font-weight:700; margin-top:12px; text-transform:uppercase; line-height:1;}
	h3.latest-b2-title a { color:#2a2a2a;}	
	h6.latest-b2-cat, h5.latest-b2-date {font-size:12px; margin-bottom:10px; font-weight:400; margin-top:2px; letter-spacing:1px; line-height:1; text-transform:uppercase;}
	h6.latest-b2-cat a { color:#616161;}
	h5.latest-b2-date { color:#999; font-size:13px; font-weight:300; font-style:normal;}
	@media only screen and (min-width: 960px) {
	.vc_col-md-8 .col-md-6.col-lg-4, .vc_col-md-6 .col-md-6.col-lg-4, .vc_col-md-10 .col-md-6.col-lg-4,
	.vc_col-sm-8 .col-md-6.col-lg-4, .vc_col-sm-6 .col-md-6.col-lg-4, .vc_col-sm-10 .col-md-6.col-lg-4,
	.vertical-header-enabled .col-md-6.col-lg-4 { width:50%; padding-left:0; }
	}
	@media only screen and (max-width: 479px) {
	.latest-b2-img { width:100%; float:none; margin-bottom:7px;}
	}
	@media only screen and (min-width: 480px) and (max-width: 767px) {
	h3.latest-b2-title { font-size:16px; letter-spacing:2px; }
	}
	
	/* Twitter */
	.twitter-box{ width: 100%; background: #00a0d1; text-align: center; padding: 50px 0; }
	.twitter-box i { display: inline-block; font-size: 60px; color: #fff; padding: 15px; margin: 10px 0; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; }
	.twitter-box h3 { font-size: 20px; color: #fff; width:80%; margin: 0 auto 30px; line-height: 1.5; }
	.twitter-box a { color:#111;}
	.twitter-box a:hover { text-decoration:underline;}
	.twitter-box a.follow-twitter { color:#fff; background: #058dc1;  border-radius: 50px; padding: 10px 30px; font-weight:400; vertical-align:middle; text-decoration:none}
	.twitter-box a.follow-twitter:hover {border: 2px solid #fff;}
	
	/* Contact */

	.contact-form p { color: #555; }
	.contact-form input { width: auto; display: block; height: 45px; padding-left: 15px; background: #f7f7f7;}
	.contact-form textarea { display: block; width: 100%; height: 110px; padding: 5px 15px; background: #f7f7f7;}
	.contact-form textarea:focus, .contact-form input:focus { background: #fff; -moz-box-shadow: 0 0 3px rgba(0,0,0,.2); -webkit-box-shadow: 0 0 3px rgba(0,0,0,.2); box-shadow: 0 0 3px rgba(0,0,0,.2); border: 1px solid #aaa; }
	.contact-form input, .contact-form textarea { border: none; color: #555; width: 100%; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
	.blox .contact-form input, .blox .contact-form textarea { background:#fff;}
	.blox.dark .contact-form input, .blox.dark .contact-form textarea { background:rgba(0,0,0,0.8);}
	.contact-form .btnSend { width: 220px; color: #4b4f5a; background:none; border:3px solid #4b4f5a; text-transform:uppercase; padding:14px 26px; letter-spacing:0.6px; font-size: 13px; height: 48px;font-weight:600; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}
	.contact-form .btnSend:hover { background: #27ae60; border-color:#27ae60; color:#fff; }
	.contact-info h5 { margin-bottom: 15px; }
	.contact-info p { margin:0; font-size: 13px; padding: 7px 0; font-weight:400; color: #555;}
	.contact-info i { font-size: 17px; margin-right: 10px; color: #e84c3d; }
	.our-map:before{content: ''; background: url(../images/map.png) repeat-x 0 0;height: 4px; overflow: hidden; width: 100%; margin: 0; display:block;}
	#nav .btnSend { background:none; padding:8px 14px; font-size:11px; font-weight:600; color:#797979; border:2px solid #e9e9e9; box-shadow:none; text-transform:uppercase;}
	
	
	
	
	/* Pie Chart */
	.easyPieChart { position: relative; text-align: center; }
	.easyPieChart canvas { position: absolute; top: 0; left: 0; }
	.pie { text-align:center; font-size:49px; position:relative; margin:0 auto 20px; }
	.pie p { font-size:16px; color:#888; font-weight:400; position:absolute; bottom:-52px; width:100%; padding-top:10px; border-top:2px solid #f9f9f9;}
	.container .pie p { margin-bottom:0;}
	
  /* Callout (Promo Box) */
	
	.callout { padding: 34px 20px; min-height: 60px; margin: 0px 10px 30px; position: relative; clear: both; border:2px solid #494345; }
	.callout h1, .callout h2, .callout h3 { font-weight: 600; }
	.callout a { text-decoration: underline; }
	.callout a.callurl { display: block; font-size:10px; font-weight:700; padding: 10px 30px; background: #fff; text-decoration: none; color: #05406E; border: 4px solid #5E84A1; text-transform: uppercase; letter-spacing: 1.6px; margin: 4px 0 10px 15px; position: relative; float: right; border-radius: 29px; -webkit-transition: all 0.25s ease; -moz-transition: all 0.25s ease; -ms-transition: all 0.2s ease; -o-transition: all 0.25s ease; transition: all 0.25s ease; }
	.callout a.callurl:hover { border-color: #363f46; border-radius: 0px;}
	.container .callout p { margin: 0; }
	.container div .callout { margin-left: 0; margin-right: 0; }
	
	
	.dpromo h4 { display:inline-block; padding-bottom:7px;}
	.dpromo p { max-width:480px;}
	.dpromo img { float:right; margin-left:3px;}
	.double-btn { text-align:center;}
	.double-btn .button { margin-left:15px; margin-right:15px;}

	
	/* Distance (Vertical Spaces) */
	.vertical-space, .vertical-space1, .vertical-space2, .vertical-space3, .vertical-space4, .vertical-space5 { display: block; width: 100%; margin: 0; clear: both; border: 0 none; height: 20px; }
	.vertical-space2 { height: 40px; }
	.vertical-space3 { height: 60px; }
	.vertical-space4 { height: 80px; }
	.vertical-space5 { height: 100px; }
	*+html hr.vertical-space, *+html hr.vertical-space1, *+html hr .vertical-space2, *+html hr.vertical-space3, *+html hr.vertical-space4, *+html hr.vertical-space5 { height: 0px; margin: 10px 0; background: #fff; border: 1px solid #fff; }
	*+html hr.vertical-space2 { margin: 20px 0; }
	*+html hr.vertical-space3 { margin: 30px 0; }
	*+html hr.vertical-space4 { margin: 40px 0; }
	*+html hr.vertical-space5 { margin: 50px 0; }
		
	/* TITLE */
	h4.subtitle { border-bottom: 1px solid #e5e5e5;  font-weight: bold; letter-spacing:0.6px; text-transform: uppercase; line-height: 1.8; padding-bottom:8px; font-size: 12px; color: #54606b; clear: both; margin: 19px 0 21px 0; }
	h4.subtitle img { float: left; margin-right: 5px; vertical-align: baseline }
	h4.subtitle.r1dd { margin-top: 20px; }
	.title { background: #fff url(../images/title-left1.png) repeat-x 0 6px; overflow: hidden; margin-bottom: 21px; clear: both; }
	.title h4, .title h3 { background: #fff; display: inline; margin-left: 18px; padding: 0 3px; font-weight: 400;  font-size: 18px; }
	h6.h-sub-content { display: inline-block; letter-spacing: 0.2px; font-size: 14px; font-weight: 600; text-transform:uppercase; border-bottom: 1px solid #c4cea3; line-height: 35px; margin-bottom: -1px; width: auto; max-width: 100%; }
	.sub-content span { display: inline-block; font-size: 10px; font-weight: bold; letter-spacing: 2px; }
	.sub-content { border-bottom: 1px solid #e9e9e9; position: relative; margin-bottom: 30px; }
	.mex-title { border-bottom: 1px solid rgba(0, 0, 0, 0.08); display: inline-block; padding-bottom: 20px; margin-bottom: 20px; font-weight: 100; letter-spacing: 0; }
	
	/*	ACCORDION */
	.acc-trigger {	border-top: 1px solid #e4e4e4; cursor: pointer; display: block; margin: 0;	}
	.acc-trigger:last-of-type, .acc-container:last-of-type { border-bottom: 3px solid #f3f2f2; margin-bottom: 20px; }
	.no-js .acc-trigger:last-of-type { border-bottom: none; }
	.acc-trigger a { background: url(../images/accordion-ico.png) no-repeat 6px 18px;	display: block;	color:#656f78;	padding: 19px 14px 16px 40px; text-decoration: none; text-shadow: none; font-weight:bold; font-size:16px; }
	.acc-trigger a:hover { background-color: #fbfbfb;  }
	.acc-trigger a:hover, .acc-trigger.active a, .acc-trigger.active a:hover { color: #0ab1f0; }
	.acc-trigger.active a:hover { background-color: transparent; }
	.acc-trigger.active { cursor: default;  border-top-color:#b0afaf; background-color:#fff; }
	.acc-trigger.active:last-of-type { border-bottom: none; margin-bottom: 0; }
	.acc-trigger.active a { background-position: 6px -54px; cursor: default;	}
	.acc-container .content {  padding: 0 14px 21px 40px;  }
	
	/* Quote of the Week */
	.qot-week { clear: both; margin: 10px; margin-top: 36px; padding-bottom: 18px; position: relative; text-align: center; border-top: 1px solid #e5e5e5; }
	.qot-week .qot-pic { position: relative; margin: 0 auto; margin-top: 7px; height: 40px; width: 74px; }
	.qot-week .qot-pic:before { content: '\201C'; border-top: 2px solid #c4c4c4; border-radius: 50%; font-size: 62px; color: #555; font-weight: bold; background: #fff; padding: 3px 20px; margin-top: 20px; font-family: Georgia, Times, serif }
	.qot-week h6.qot-title { text-transform: uppercase; margin: 8px 0; color: #999; display: block; clear: both; font-size: 10px; font-weight: bold; }
	.qot-week blockquote, .qot-week blockquote cite, .qot-week blockquote cite small { padding: 0; margin: 0; font-style: normal; }
	.qot-week blockquote:before { content: ''; content: none; }
	.qot-week h3 { font-family:"Cardo",serif; font-size: 24px; }
	.qot-week h3:before { content: '\201C'; }
	.qot-week h3:after { content: '\201D'; }
	.qot-week h3:before, .qot-week h3:after { font-family: Times, serif; font-size: 30px; margin: 0 10px; font-weight: bold; }
	.qot-week cite { display: block; font-weight: 400; margin-top: 20px; font-size: 17px; color: #494949; margin-bottom: 8px; }
	.qot-week cite:before { content: '\2014\0020'; }
	.column .qot-week, .columns .qot-week { margin-left: 0; margin-right: 0; }
		
	/* Prgress Bar */
	.progress-barBg { position: relative; z-index: 3; width: 100%; height: 45px; box-shadow: inset 0px 1px 3px rgba(40, 40, 40, 0.1); margin-bottom: 25.5px; background: #fff; background-image: -moz-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,.02) 100%); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0.1)), color-stop(100%, rgba(0,0,0,.02))); background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,.02) 100%); background-image: -o-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,.02) 100%); background-image: -ms-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,.02) 100%); background-image: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%, rgba(0,0,0,.02) 100%);  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40000000', endColorstr='#00000000', GradientType=0 );
	}
	.progress-bar-box h5 { margin-bottom: 11px; }
	.progress-bar { position: absolute; top: 0; left: 0; z-index: 2; height: 45px; -webkit-animation: fillup 5s ease; -moz-animation: fillup 5s ease; -ms-animation: fillup 5s ease; -o-animation: fillup 5s ease; animation: fillup 5s ease; }
	.progress-barFill { width: 100%; height: 45px; -webkit-animation: progress 1s linear infinite; -moz-animation: progress 1s linear infinite; animation: progress 1s linear infinite; background-repeat: repeat-x; background-size: 45px 45px; background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent); background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent); }
	.progress-percent { position: absolute; top: -30px; left: 100%; z-index: 1; width: 38px; margin-left: -19px; text-align: center; background: #000; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; opacity: 0; -webkit-animation: percent-show 1.7s ease 5s forwards; -moz-animation: percent-show 1.7s ease 5s forwards; -o-animation: percent-show 1.7s ease 5s forwards; animation: percent-show 1.7s ease 5s forwards; }
	.progress-percent:after { width: 8px; height: 8px; content: ' '; position: absolute; z-index: 2; top: 100%; left: 50%; margin: -4px 0 0 -4px; background: #000; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); }
	.progress-percent p { display: inline-block; margin: 0; color: #fff; font-size: 12px; line-height: 1; }
	
	.white-space { clear: both; width: 100%; height: 40px; }

	.flrdbtnshow a.button { margin-right:1px;}


/* #Bootstrap elements
================================================== */

	.dropup,
	.dropdown {
	  position: relative;
	}
	
	.dropdown-toggle {
	  *margin-bottom: -3px;
	}
	
	.dropdown-toggle:active,
	.open .dropdown-toggle {
	  outline: 0;
	}
	
	.caret {
	  display: inline-block;
	  width: 0;
	  height: 0;
	  vertical-align: top;
	  border-top: 4px solid #000000;
	  border-right: 4px solid transparent;
	  border-left: 4px solid transparent;
	  content: "";
	  opacity: 0.3;
	  filter: alpha(opacity=30);
	}
	
	.dropdown .caret {
	  margin-top: 8px;
	  margin-left: 2px;
	}
	
	.dropdown:hover .caret,
	.open .caret {
	  opacity: 1;
	  filter: alpha(opacity=100);
	}
	
	.dropdown-menu {
	  position: absolute;
	  top: 100%;
	  left: 0;
	  z-index: 1000;
	  display: none;
	  float: left;
	  min-width: 160px;
	  padding: 4px 0;
	  margin: 1px 0 0;
	  list-style: none;
	  background-color: #ffffff;
	  border: 1px solid #ccc;
	  border: 1px solid rgba(0, 0, 0, 0.2);
	  *border-right-width: 2px;
	  *border-bottom-width: 2px;
	  -webkit-border-radius: 5px;
		 -moz-border-radius: 5px;
			  border-radius: 5px;
	  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
		 -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
			  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	  -webkit-background-clip: padding-box;
		 -moz-background-clip: padding;
			  background-clip: padding-box;
	}
	
	.dropdown-menu.pull-right {
	  right: 0;
	  left: auto;
	}
	
	.dropdown-menu .divider {
	  *width: 100%;
	  height: 1px;
	  margin: 8px 1px;
	  *margin: -5px 0 5px;
	  overflow: hidden;
	  background-color: #e5e5e5;
	  border-bottom: 1px solid #ffffff;
	}
	
	.dropdown-menu a {
	  display: block;
	  padding: 3px 15px;
	  clear: both;
	  font-weight: normal;
	  line-height: 18px;
	  color: #7a7f83;
	  white-space: nowrap;
	}
	
	.dropdown-menu li > a:hover,
	.dropdown-menu .active > a,
	.dropdown-menu .active > a:hover {
	  color: #ffffff;
	  text-decoration: none;
	  background-color: #1eb1e4;
	}
	
	.open {
	  *z-index: 1000;
	}
	
	.open > .dropdown-menu {
	  display: block;
	}
	
	.pull-right > .dropdown-menu {
	  right: 0;
	  left: auto;
	}
	
	
	.well, .promobox {
	  min-height: 20px;
	  padding: 19px;
	  margin-bottom: 20px;
	  background-color: #f9f9f9;
	  border: 1px solid #e1e7ec;
	  border: 1px solid rgba(0, 0, 0, 0.05);
	  -webkit-border-radius: 4px;
		 -moz-border-radius: 4px;
			  border-radius: 4px;
	  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
		 -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
			  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	}
	
	.well blockquote {
	  border-color: #e5e5e5;
	  border-color: rgba(0, 0, 0, 0.15);
	}
	
	.well blockquote:before, blockquote.well:before { content:""; content:none;}
	
	.well-large {
	  padding: 24px;
	  -webkit-border-radius: 6px;
		 -moz-border-radius: 6px;
			  border-radius: 6px;
	}
	
	.well-small {
	  padding: 9px;
	  -webkit-border-radius: 3px;
		 -moz-border-radius: 3px;
			  border-radius: 3px;
	}
	
	.promobox {
	  background: #fdfdfd;
	  padding-bottom: 11px;
	}
	.promobox button, .promobox .button {
	  float:right;
	}
	
	.collapse {
	  position: relative;
	  height: 0;
	  overflow: hidden;
	  -webkit-transition: height 0.35s ease;
		 -moz-transition: height 0.35s ease;
		  -ms-transition: height 0.35s ease;
		   -o-transition: height 0.35s ease;
			  transition: height 0.35s ease;
	}
	
	.collapse.in {
	  height: auto;
	}
	
	.close {
	  float: right;
	  font-size: 20px;
	  font-weight: bold;
	  line-height: 18px;
	  color: #000000;
	  text-shadow: 0 1px 0 #ffffff;
	  opacity: 0.2;
	  filter: alpha(opacity=20);
	}
	
	.close:hover {
	  color: #000000;
	  text-decoration: none;
	  cursor: pointer;
	  opacity: 0.4;
	  filter: alpha(opacity=40);
	}
	
	.nav {
	  margin-bottom: 18px;
	  margin-left: 0;
	  list-style: none;
	}
	   
	.nav > li > a {
	  display: block;
	}
	
	.nav > li > a:hover {
	  text-decoration: none;
	  background-color: #e1e7ec;
	}
	
	.nav > .pull-right {
	  float: right;
	}
	
	.nav .nav-header {
	  display: block;
	  padding: 3px 15px;
	  font-size: 11px;
	  font-weight: bold;
	  line-height: 18px;
	  color: #999999;
	  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	  text-transform: uppercase;
	}
	
	.nav li + .nav-header {
	  margin-top: 9px;
	}
	
	.nav-list {
	  padding-right: 15px;
	  padding-left: 15px;
	  margin-bottom: 0;
	}
	
	.nav-list > li > a,
	.nav-list .nav-header {
	  margin-right: -15px;
	  margin-left: -15px;
	  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	}
	
	.nav-list > li > a {
	  padding: 3px 15px;
	}
	
	.nav-list > .active > a,
	.nav-list > .active > a:hover {
	  color: #ffffff;
	  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
	  background-color: #0088cc;
	}
	
	.nav-list [class^="icon-"] {
	  margin-right: 2px;
	}
	
	.nav-list .divider {
	  *width: 100%;
	  height: 1px;
	  margin: 8px 1px;
	  *margin: -5px 0 5px;
	  overflow: hidden;
	  background-color: #e5e5e5;
	  border-bottom: 1px solid #ffffff;
	}
	.nav-tabs,
	.nav-pills {
	  *zoom: 1;
	}
	
	.nav-tabs:before,
	.nav-pills:before,
	.nav-tabs:after,
	.nav-pills:after {
	  display: table;
	  content: "";
	}
	
	.nav-tabs:after,
	.nav-pills:after {
	  clear: both;
	}
	
	.nav-tabs > li,
	.nav-pills > li {
	  float: left;
	}
	
	.nav-tabs > li > a,
	.nav-pills > li > a {
	  padding-right: 18px;
	  padding-left: 18px;
	
	  line-height: 14px;
	}
	
	.nav-tabs {
	  border-bottom: 1px solid #e5e5e5;
	  
	}
	
	.nav-tabs > li {
	  margin-bottom: -1px;
	  
	}
	
	.nav-tabs > li > a {
	  padding-top: 12px;
	  background:#f7f7f7;
	  padding-bottom: 12px;
	  color:#555;
	  line-height: 18px;
	  border: 1px solid #e5e5e5;
	  border-right:0 none;
	  font-family:Arial, Helvetica, sans-serif; font-size:13px; 
	
	}
	
	.nav-tabs > li > a:hover {
	  background:#fbfbfb;
	}
	
	.nav-tabs > .active > a,
	.nav-tabs > .active > a:hover {
	  cursor: default;
	  background-color: #ffffff;
	  border: 1px solid #e5e5e5;
	  border-bottom: 0 none;
	  padding-top:20px;
	  margin-top:-7px;
	  
	}
	
	.nav-pills > li > a {
	  padding-top: 8px;
	  padding-bottom: 8px;
	  margin-top: 2px;
	  margin-bottom: 2px;
	  -webkit-border-radius: 5px;
		 -moz-border-radius: 5px;
			  border-radius: 5px;
	}
	
	.nav-pills > .active > a,
	.nav-pills > .active > a:hover {
	  color: #ffffff;
	  background-color: #0088cc;
	}
	
	.nav-stacked > li {
	  float: none;
	}
	
	.nav-stacked > li > a {
	  margin-right: 0;
	}
	
	.nav-tabs.nav-stacked {
	  border-bottom: 0;
	}
	
	.nav-tabs.nav-stacked > li > a {
	  border: 1px solid #e5e5e5;
	  -webkit-border-radius: 0;
		 -moz-border-radius: 0;
			  border-radius: 0;
	}
	
	.nav-tabs.nav-stacked > li:first-child > a {
	  -webkit-border-radius: 4px 4px 0 0;
		 -moz-border-radius: 4px 4px 0 0;
			  border-radius: 4px 4px 0 0;
	}
	
	.nav-tabs.nav-stacked > li:last-child > a {
	  -webkit-border-radius: 0 0 4px 4px;
		 -moz-border-radius: 0 0 4px 4px;
			  border-radius: 0 0 4px 4px;
	}
	
	.nav-tabs.nav-stacked > li > a:hover {
	  z-index: 2;
	  border-color: #e5e5e5;
	}
	
	.nav-pills.nav-stacked > li > a {
	  margin-bottom: 3px;
	}
	
	.nav-pills.nav-stacked > li:last-child > a {
	  margin-bottom: 1px;
	}
	
	.nav-tabs .dropdown-menu {
	  -webkit-border-radius: 0 0 5px 5px;
		 -moz-border-radius: 0 0 5px 5px;
			  border-radius: 0 0 5px 5px;
	}
	
	.nav-pills .dropdown-menu {
	  -webkit-border-radius: 4px;
		 -moz-border-radius: 4px;
			  border-radius: 4px;
	}
	
	.nav-tabs .dropdown-toggle .caret,
	.nav-pills .dropdown-toggle .caret {
	  margin-top: 6px;
	  border-top-color: #0088cc;
	  border-bottom-color: #0088cc;
	}
	
	.nav-tabs .dropdown-toggle:hover .caret,
	.nav-pills .dropdown-toggle:hover .caret {
	  border-top-color: #005580;
	  border-bottom-color: #005580;
	}
	
	.nav-tabs .active .dropdown-toggle .caret,
	.nav-pills .active .dropdown-toggle .caret {
	  border-top-color: #333333;
	  border-bottom-color: #333333;
	}
	
	.nav > .dropdown.active > a:hover {
	  color: #000000;
	  cursor: pointer;
	}
	
	.nav-tabs .open .dropdown-toggle,
	.nav-pills .open .dropdown-toggle,
	.nav > li.dropdown.open.active > a:hover {
	  color: #ffffff;
	  background-color: #999999;
	  border-color: #999999;
	}
	
	.nav li.dropdown.open .caret,
	.nav li.dropdown.open.active .caret,
	.nav li.dropdown.open a:hover .caret {
	  border-top-color: #ffffff;
	  border-bottom-color: #ffffff;
	  opacity: 1;
	  filter: alpha(opacity=100);
	}
	
	.tabs-stacked .open > a:hover {
	  border-color: #999999;
	}
	
	.tabbable {
	  *zoom: 1;
	}
	
	.tabbable:before,
	.tabbable:after {
	  display: table;
	  content: "";
	}
	
	.tabbable:after {
	  clear: both;
	}
	
	.tab-content {
	  overflow: auto;
	  border:1px solid #e5e5e5;
	  border-top:0 none;
	  padding-top:18px;
	  margin-top:-18px;	
	}
	
	.tab-content .columns {
	   max-width:100%;
	   }
	 
	.tab-content .columns p {
	   padding:0;
	   }
	
	.tabs-below > .nav-tabs,
	.tabs-right > .nav-tabs,
	.tabs-left > .nav-tabs {
	  border-bottom: 0;
	}
	
	.tab-content > .tab-pane,
	.pill-content > .pill-pane {
	  display: none;
	  padding:15px 25px;
	}
	
	.tab-content > .active,
	.pill-content > .active {
	  display: block;
	}
	
	.tabs-below > .nav-tabs {
	  border-top: 1px solid #e5e5e5;
	}
	
	.tabs-below > .nav-tabs > li {
	  margin-top: -1px;
	  margin-bottom: 0;
	}
	
	.tabs-below > .nav-tabs > li > a {
	  -webkit-border-radius: 0 0 4px 4px;
		 -moz-border-radius: 0 0 4px 4px;
			  border-radius: 0 0 4px 4px;
	}
	
	.tabs-below > .nav-tabs > li > a:hover {
	  border-top-color: #e5e5e5;
	  border-bottom-color: transparent;
	}
	
	.tabs-below > .nav-tabs > .active > a,
	.tabs-below > .nav-tabs > .active > a:hover {
	  border-color: transparent #e5e5e5 #e5e5e5 #e5e5e5;
	}
	
	.tabs-left > .nav-tabs > li,
	.tabs-right > .nav-tabs > li {
	  float: none;
	}
	
	.tabs-left > .nav-tabs > li > a,
	.tabs-right > .nav-tabs > li > a {
	  min-width: 190px;
	  margin-right: 0;
	  margin-bottom: 3px;
	  text-transform:uppercase;
	  font-size:12px;
	  font-weight:bold;
	  border-left:0 none;
	  background:#fdfdfd;
	  color:#838383;
	}
	
	.tabs-left > .nav-tabs {
	  float: left;
	  margin-right:-1px;
	  padding-top:40px;
	}
	
	.tabs-left > .nav-tabs > li > a {
	  margin-right: -1px;
		border: 1px solid #e5e5e5;
		padding:10px;
		margin:0;
		border-left:0 none;

	}
	
	.tabs-left > .nav-tabs > li > a:hover {
	  border-bottom:1px solid #e5e5e5;
	  color:#444;
	}
	
	.tabs-left > .nav-tabs .active > a,
	.tabs-left > .nav-tabs .active > a:hover {
	  border-bottom:1px solid #e5e5e5;
	  border-right-color: #ffffff;
	  padding:10px;
	  border-left:0 none;
	  margin:0;
	  color:#333;
	  background:#fff;
	}
	
	.tabs-right > .nav-tabs {
	  float: right;
	  border-left: 1px solid #e5e5e5;
	}
	
	.tabs-right > .nav-tabs > li > a {
	  margin-left: -1px;
		border: 1px solid #e5e5e5;
	}
	
	.tabs-right > .nav-tabs > li > a:hover {
	  border-color: #e5e5e5 #e5e5e5 #e5e5e5 #e5e5e5;
	  border-width:1px;
	}
	
	.tabs-right > .nav-tabs .active > a,
	.tabs-right > .nav-tabs .active > a:hover {
	  border-color: #e5e5e5 #e5e5e5 #e5e5e5 transparent;
	  *border-left-color: #ffffff;
	}
	.tabs-right > .tab-content,
	.tabs-left > .tab-content,
	.tabs-below > .tab-content {
	  margin:0;
	  padding:4px;
	  padding-top:10px;
	  display:block;
	  border:0 none;
	  border-left:1px solid #e5e5e5;
	  box-shadow : 0 0 0 0;
	}
	
	.tabs-below > .tab-content {
	  border:1px solid #e5e5e5;
	  border-bottom:0 none;
	  }
	
	
	.tooltip {
	  position: absolute;
	  z-index: 1020;
	  display: block;
	  padding: 5px;
	  font-size: 11px;
	  opacity: 0;
	  filter: alpha(opacity=0);
	  visibility: visible;
	}
	
	.tooltip.in {
	  opacity: 0.8;
	  filter: alpha(opacity=80);
	}
	
	.tooltip.top {
	  margin-top: -2px;
	}
	
	.tooltip.right {
	  margin-left: 2px;
	}
	
	.tooltip.bottom {
	  margin-top: 2px;
	}
	
	.tooltip.left {
	  margin-left: -2px;
	}
	
	.tooltip.top .tooltip-arrow {
	  bottom: 0;
	  left: 50%;
	  margin-left: -5px;
	  border-top: 5px solid #000000;
	  border-right: 5px solid transparent;
	  border-left: 5px solid transparent;
	}
	
	.tooltip.left .tooltip-arrow {
	  top: 50%;
	  right: 0;
	  margin-top: -5px;
	  border-top: 5px solid transparent;
	  border-bottom: 5px solid transparent;
	  border-left: 5px solid #000000;
	}
	
	.tooltip.bottom .tooltip-arrow {
	  top: 0;
	  left: 50%;
	  margin-left: -5px;
	  border-right: 5px solid transparent;
	  border-bottom: 5px solid #000000;
	  border-left: 5px solid transparent;
	}
	
	.tooltip.right .tooltip-arrow {
	  top: 50%;
	  left: 0;
	  margin-top: -5px;
	  border-top: 5px solid transparent;
	  border-right: 5px solid #000000;
	  border-bottom: 5px solid transparent;
	}
	
	.tooltip-inner {
	  max-width: 200px;
	  padding: 3px 8px;
	  color: #ffffff;
	  text-align: center;
	  text-decoration: none;
	  background-color: #000000;
	  -webkit-border-radius: 4px;
		 -moz-border-radius: 4px;
			  border-radius: 4px;
	}
	
	.tooltip-arrow {
	  position: absolute;
	  width: 0;
	  height: 0;
	}	
	
	.pull-right {
	  float: right;
	}
	
	.pull-left {
	  float: left;
	}
	
	.hide {
	  display: none;
	}
	
	.show {
	  display: block;
	}
	
	.invisible {
	  visibility: hidden;
	}
	
	.pagination2 {
	  height: 36px;
	  margin: 18px 0;
	}
	
	.pagination2 ul {
	  display: inline-block;
	  *display: inline;
	  margin-bottom: 0;
	  margin-left: 0;
	  -webkit-border-radius: 3px;
		 -moz-border-radius: 3px;
			  border-radius: 3px;
	  *zoom: 1;
	  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
		 -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
			  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	}
	
	.pagination2 li {
	  display: inline;
	}
	
	.pagination2 a {
	  float: left;
	  padding: 0 14px;
	  line-height: 34px;
	  text-decoration: none;
	  border: 1px solid #e5e5e5;
	  border-left-width: 0;
	}
	
	.pagination2 a:hover,
	.pagination2 .active a {
	  background-color: #f5f5f5;
	}
	
	.pagination2 .active a {
	  color: #999999;
	  cursor: default;
	}
	
	.pagination2 .disabled span,
	.pagination2 .disabled a,
	.pagination2 .disabled a:hover {
	  color: #999999;
	  cursor: default;
	  background-color: transparent;
	}
	
	.pagination2 li:first-child a {
	  border-left-width: 1px;
	  -webkit-border-radius: 3px 0 0 3px;
		 -moz-border-radius: 3px 0 0 3px;
			  border-radius: 3px 0 0 3px;
	}
	
	.pagination2 li:last-child a {
	  -webkit-border-radius: 0 3px 3px 0;
		 -moz-border-radius: 0 3px 3px 0;
			  border-radius: 0 3px 3px 0;
	}
	
	.pagination2-centered {
	  text-align: center;
	}
	
	.pagination2-right {
	  text-align: right;
	}
	
	
	.alert {
	  padding: 8px 35px 8px 36px;
	  background:url(../images/alert-notice-ico.png) no-repeat;
	  background-position: 9px 50%;
	  margin-bottom: 18px;
	  color: #c09853;
	  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	  background-color: #fcf8e3;
	  border: 2px solid #f3d9a6;
	  -webkit-border-radius: 2px;
		 -moz-border-radius: 2px;
			  border-radius: 2px;
	}
	
	.alert img {
	   float: left;
	   margin:-2px 6px 4px -4px;
	   }
	
	.alert-heading {
	  color: inherit;
	}
	
	.alert .close {
	  position: relative;
	  top: -2px;
	  right: -21px;
	  line-height: 18px;
	}
	
	.alert-success {
	  color: #699801;
	  background:url(../images/alert-success-ico.png) no-repeat;
	  background-position: 8px 50%;
	  background-color: #e0f0bd;
	  border-color: #afd65f;
	}
	
	.alert-danger,
	.alert-error {
	  color: #b94a48;
	  background:url(../images/alert-error-ico.png) no-repeat;
	  background-position: 9px 50%;
	  background-color: #fce6e9;
	  border-color: #ed9aa3;
	}
	
	.alert-info {
	  color: #3a87ad;
	  background:url(../images/alert-info-ico.png) no-repeat;
	  background-position: 9px 50%;
	  background-color: #d9edf7;
	  border-color: #98cdd8;
	}
	
	.alert-block {
	  padding-top: 14px;
	  padding-bottom: 14px;
	}
	
	.alert-block > p,
	.alert-block > ul {
	  margin-bottom: 0;
	}
	
	.alert-block p + p {
	  margin-top: 5px;
	}
	
	button.close {
		padding:0;
		margin:0;
		border:0;
		background:none;
		box-shadow:none !important;
		}
	
	table {
	  max-width: 100%;
	  background-color: transparent;
	  border-collapse: collapse;
	  border-spacing: 0;
	}
	
	.table {
	  width: 100%;
	  margin-bottom: 18px;
	}
	
	.table th,
	.table td {
	  padding: 8px;
	  line-height: 18px;
	  text-align: left;
	  vertical-align: top;
	  border-top: 1px dotted #e5e5e5;
	}
	
	.table th {
	  font-weight: bold;
	}
	
	.table thead th {
	  vertical-align: bottom;
	  border-top:0 none;
	  background:#f7f7f7;
	}
	
	
	.table tbody + tbody {
	  border-top: 2px solid #e5e5e5;
	}
	
	.table-condensed th,
	.table-condensed td {
	  padding: 4px 5px;
	}
	
	.table-bordered {
	  border: 1px solid #e5e5e5;
	  border-collapse: separate;
	  *border-collapse: collapsed;
	  border-left: 0;
	  -webkit-border-radius: 4px;
		 -moz-border-radius: 4px;
			  border-radius: 4px;
	}
	
	.table-bordered th,
	.table-bordered td {
	  border-left: 1px solid #e5e5e5;
	}
	
	
	.table tbody tr:hover td,
	.table tbody tr:hover th {
	  background-color: #fcfcfc;
	}
	
	@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
	
	@-moz-keyframes progress-bar-stripes {
	  from {
		background-position: 40px 0;
	  }
	  to {
		background-position: 0 0;
	  }
	}
	
	@-ms-keyframes progress-bar-stripes {
	  from {
		background-position: 40px 0;
	  }
	  to {
		background-position: 0 0;
	  }
	}
	
	@-o-keyframes progress-bar-stripes {
	  from {
		background-position: 0 0;
	  }
	  to {
		background-position: 40px 0;
	  }
	}
	
	@keyframes progress-bar-stripes {
	  from {
		background-position: 40px 0;
	  }
	  to {
		background-position: 0 0;
	  }
	}


fieldset, label { margin: 0; padding: 0; }


.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 

.ratings-center {
	position: center;
}
