/*----------------------------------
	----------------------
		
	/* NAVIGATION BAR  */
	
	#nav-wrap .container { position:relative;}
	.nav-wrap1, .nav-wrap2 { height:60px;  position:relative; }
	.nav-wrap2 { height:77px; border-top:1px solid #f0f0f0; margin-bottom:-31px; /*border-bottom:4px solid #f3f3f3;*/  }
	.nav-wrap2.mn4 { height:50px; margin-bottom:-31px; }
	
	
	/* menu icon */
	#menu-icon { display: none; /* hide menu icon initially */}
	
	#nav { float:right;}
	#nav li { list-style: none; padding:0 12px; margin:0; float:left; display:block; height:100%; vertical-align:middle; }
	
	
	/* nav link */
	#nav a { display: block; font-size: 13px; font-weight:400; padding: 0px; line-height: 30px; color: #485059; outline: 0; opacity:1; text-align:center; -webkit-transition:all .15s ease-in-out;	-moz-transition:all .15s ease-in-out;	-ms-transition:all .15s ease-in-out;	-o-transition:color .15s ease-in-out; transition:all .15s ease-in-out;}
	#nav a:hover, #nav li:hover > a, #nav li.current > a, #nav li.active > a { color:#71814E; background:transparent }
	#nav a i { font-size:16px; display:inline; color:inherit; margin-right:4px; vertical-align:baseline;}
	#nav > li > a i { margin-right:6px; font-weight:normal; line-height:13px;}

	#nav > li.current > a, #nav > li.active > a { position:relative;}

	#nav > li > a { margin:18px 0 26px; }
	#header.sticky #nav-wrap #nav > li { padding:0 12px;}
	#header.sticky #nav-wrap #nav > li:hover { background:#f9f9f9; transition: background 0.25s ease;}
	#header.sticky #nav-wrap #nav > li > a { margin:0; padding:21px 0; line-height:18px; }
	#header.sticky #nav-wrap #nav #nav > li:hover > a { color:#677842; }
	
	@media only screen and (min-width: 1200px) {
	#nav li, #header.sticky #nav-wrap #nav > li { list-style: none; padding:0 21px; }
	}

	
	/* nav dropdown */
	#nav ul { position: absolute; width: 182px; background: #fff;  padding: 10px 0 12px; margin:0;  border: 3px solid #a2a7b1; box-shadow:0 2px 12px rgba(0,0,0,0.082); z-index:91000; display: none; /* hide dropdown */ margin-left:-21px;}
	
	#nav > li > ul:before { content: '';display: block;position: absolute; left:18px;width: 0;height: 0;border-style: solid; border-width: 9px;}
	#nav > li > ul:before { top: -18px;border-color: transparent transparent #a2a7b1 transparent;}
	/* #nav > li:last-child ul { left:auto; right:0;}
	#nav > li:last-child > ul:after, #nav > li:last-child > ul:before { left:auto; right:18px;}*/
	
	#header.sticky #nav li ul:before,
	#header.sticky #nav li ul:after,
	#nav > li > ul.mega:after, #nav > li > ul.mega:before { border-width:0px; display:none;}

	
	@media only screen and (min-width: 960px) {
		#nav > li:last-child ul ul{ margin-left:0; margin-right: 174px;}
		#nav > li:last-child ul.mega ul, #nav > li:last-child ul.mega { margin-right:0;}
		#nav > li:last-child ul { padding-left:0;}
		#nav > li:last-child ul li{ padding-left:20px;}
		#nav > li:last-child ul.mega li{ padding-left:0;}
	}
	
	#nav ul li { float: none; display:block; position:relative;	margin: 0; padding:0; border-bottom:1px solid #f0f0f0;}
	#nav ul li:hover { background-color:#fafafa;}
	#nav ul li:last-child { border:none;}
	#nav ul li a, #nav ul li:hover > a { color:#818181; width:auto; display:block; text-align:left; padding: 11px 4px 10px 19px; border-radius:0; font-size:13px; font-weight:400; border:0 none; text-t ransform:capitalize; line-height:24px; }



	#nav ul li a:hover, #nav li.current ul li a:hover, .nav-wrap2 #nav ul li a:hover, .nav-wrap2.darknavi #nav ul li a:hover, #nav ul li.current > a , #nav ul li:hover > a { color:#677842; }
	#nav li:hover > ul { display: block; visibility:visible; /* show dropdown on hover */}
	#nav ul li ul { margin:-58px 0 0 176px; width:170px; }

	#nav li.submenux:after { font-family: 'FontAwesome'; content: "\f054"; position:absolute; color:#cdcdcd; font-size:8px; display:inline; speak: none; cursor:pointer; right:9px; top:12px;} 
	#nav ul.mega li.submenux:after { display:none;} 
	
	#nav ul.mega, #nav > li:last-child ul.mega { width:100%; left:auto; right:0; float:right; border-radius:0; max-width:940px; padding:0;}	
	#nav ul.mega div:last-child { margin-right:0 !important;}
	#nav ul.mega, #nav ul.mega li, #nav ul.mega li:hover { background-color:#fff;}
	#nav h4.subtitle { margin:14px 0; border-color:#e8e8e8; border-width:1px; font-size:12px;}
	#nav img { max-width:100%; margin-bottom:10px;}
	#nav p { font-size:13px; font-weight:400; color:#747474;}
	#header #nav h6 { margin:0; margin-bottom:7px; color:#555;}
	#nav .sendbtn { padding:7px 20px; font-size:13px;}
	#nav ul.mega ul, #nav ul.mega ul.mega { position:static; display:block; width:auto; border:none; margin:0; padding:0; box-shadow:none;}	
	#nav ul.mega ul li, #nav ul.mega ul li a { margin:0;}
	#nav ul.mega ul li { padding:8px 0; border-bottom:none;}
	#nav ul.mega ul li a { display:inline; line-height:1.4; padding-left:0; padding-right:3px;}
	#nav ul.mega .wpb_content_element { margin-bottom:5px;}
	#nav ul.mega .wpb_row { padding:0; margin:0;}
	.mega-custom-bg1 { background:url(%%%.jpg) no-repeat bottom left; }
	#nav ul.mega input, #nav ul.mega textarea { min-width:inherit;}
	
	/* nav link Header2 */
	.nav-wrap2 #nav { float:left; margin-bottom:0; }
	.nav-wrap2 #nav li { margin:0; padding:0; }
	.nav-wrap2 #nav > li > ul { margin-left:-2px;}
	#header.sticky .nav-wrap2 #nav > li > ul { margin-left:-21px;}
	.nav-wrap2 #nav > li > a { margin:0; padding: 20px 20px 12px; font-size: 13px; line-height:18px; text-align:left; border-right:1px solid #eee; }
	.nav-wrap2 #nav > li:first-child { margin-left:7px;}
	.nav-wrap2 #nav > li:first-child > a { border-left:1px solid #eee;}
	.nav-wrap2 #nav ul.mega { right:auto; left:0; float:left;}
	#header.sticky .nav-wrap2 #nav ul.mega { right:0; left:auto; float:right;}
	#nav a span, #nav > li > a:after { margin-top:4px; display:block; font-size:11px;  color:#919191; text-transform:lowercase; font-weight:400;  }
	#nav > li > a:after  { content: attr(data-description);}
	.nav-wrap1 #nav > li > a:after, .nav-wrap2.mn4 #nav > li > a:after, #nav ul li > li > a:after { content:""; display:none; }
	.nav-wrap2.mn4 #nav > li > a { padding:15px 20px 12px; margin-bottom:3px;}
	
	.nav-wrap2.darknavi { background: #333; border-top:2px solid #202020; border-bottom-color: #222;}
	.nav-wrap2.darknavi #nav > li > a { color:#fff; background:#333; border-color:#222; padding-bottom:11px;}
	.nav-wrap2.darknavi #nav > li > a:hover, .nav-wrap2.darknavi #nav > li:hover > a { background-color:#222;}
	
	#header.sticky .nav-wrap2 #nav { float:right;}
	#header.sticky .nav-wrap2 #nav > li { padding:0 12px;} 
	#header.sticky .nav-wrap2 #nav > li > a { margin:0; padding:21px 0 20px; border:none; background:none;}
	#header.sticky #nav a span, #header.sticky #nav a:after { display:none;}
	#header.sticky .nav-wrap2 {border:none;}
	#header.sticky .nav-wrap2.darknavi, #header.sticky .nav-wrap2.darknavi #nav > li > a { border:none; background:none;}
	#header.sticky .nav-wrap2.darknavi #nav > li > a { color:inherit;}
	#header.sticky .nav-wrap2.darknavi #nav > li > a:hover { color:#677842; }
	
	
	
	/* nav dropdown for(ie7) */
	
	*+html #nav li { position:relative; display:block; }
	*+html #nav li ul, *+html #nav li.current ul {  left:0; clear:both; position:absolute; border:1px solid #d4d4d4; }
	*+html .container { z-index:2; }
	*+html #header { z-index:3; position:relative;  }
	*+html #nav ul li ul { position:absolute; left:0; margin-top:-31px; display:none; visibility:hidden; }
	*+html #nav ul li:hover > ul { display:block; visibility:visible; }

/* --------------------- */

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 959px) { 
	
			/* nav-wrap */
	#nav-wrap {	position: relative; height:30px; text-align:center; margin:0 0 32px 0; }

	/* menu icon */
	#menu-icon { color: rgba(255,255,255,0.7); margin:0 auto; font-size:16px; font-weight:400; height: 37px; border-radius:2px; background: #363f46; padding: 7px 10px 7px 42px; cursor: pointer;	 clear:both; box-shadow:  0 2px 2px -2px rgba(0,0,0,0.3); text-align:left; display: block; /* how menu icon */	}
	#menu-icon i { font-size:16px; color:rgba(0,0,0,0.6); float:left; margin-left:-28px; margin-top:3px; }
	#menu-icon:hover, #menu-icon.active {background-color: #677842; }
	.mn-clk { font-size:12px; color:rgba(255,255,255,0.5);}

	
	/* main nav */
	#nav { clear: both; margin:0 auto; background:#fff; position: absolute; width: 260px; z-index: 10000; padding:2px 0 44px 18px; border: 1px solid #d2d2d2; border-top:0 none;	display: none; /* visibility will be toggled with jquery */	}
	#nav ul { padding:5px 0;}
	#header.sticky #nav-wrap #nav > li, #nav li, .nav-wrap2 #nav li { clear: both; text-align:left; float: none; border:0 none; margin:0; margin-left:10px; padding:0 !important; border-bottom:1px solid #dcdee2; }
	#nav ul li { border-color:#dcdee2;}
	#nav ul li:last-child, .nav-wrap2 #nav ul li:last-child { border:none;}
	#nav > li > ul:after, #nav > li > ul:before { display:none; visibility:hidden; }
	#nav a, .nav-wrap2 #nav > li > a, .nav-wrap2.mn4 #nav li a { line-height:24px;}
	#nav a, #nav ul a, .nav-wrap2 #nav > li > a, .nav-wrap2.mn4 #nav li a, #nav ul li a, #nav ul li:hover > a, .nav-wrap2.darknavi #nav > li > a { background:none; width:auto; display:inline-block; padding:11px 11px 11px 0; text-align:left; border:0 none; margin:0; line-height:1.2; }
	#header.sticky #nav-wrap #nav > li > a, #nav > li  > a { margin:0; padding:14px 0; line-height:16px; display:block;}
	#nav > li:hover > a, #nav li.current > a, #nav li.active > a{ background:none; color:#677842;}
	
	.nav-wrap2 #nav > li > a , .nav-wrap2 #nav > li:first-child > a { border:0 none; }
	.nav-wrap2 #nav > li > a { font-size:14px; font-weight:400;}
	.nav-wrap2.darknavi #nav > li > a { color:#666;}
	.nav-wrap2.darknavi #nav > li > a:hover, .nav-wrap2.darknavi #nav > li:hover > a { background:none;}
	#nav a span, #nav a:after { display:none; visibility:hidden; }
	#nav > li.current:after { display:none;}
	#nav ul.mega ul li a { display:block;}
	
	
	
	/* dropdown */
	#nav li ul { display:none; margin:0; padding:0; padding-left:10px; }
	#nav.ie10mfx li ul { display:block;}
	#nav a:hover > #nav li ul { display:block; }
	#nav ul { width: auto; margin:0; box-shadow: none; position: static; display: block; border: none;  }
	#nav ul li ul { margin:0; display: block;  width: auto; padding:0; padding-left:10px; }
	#nav:not( :target ) > a:first-of-type, #nav:target > a:last-of-type { display: block; }
	#nav li.submenux:after { content: "\f078"; }
	
	.nav-wrap2, .nav-wrap2.darknavi { border:0 none; box-shadow:0 0 0 0; background:none;}
	#nav ul.mega, #nav ul.mega div, #nav ul.mega, #nav > li:last-child ul.mega { width:auto; max-width:100%; clear:both; float:none;}	
	
	}
	

	@media only screen and (min-width: 480px) and (max-width: 959px) {
	#nav { left:51px; width: 278px;}
	.nav-wrap2 #nav { left:71px;}
	#menu-icon { width: 278px; }
	#header.sm-rgt-mn #nav { width:100%; left:0;}
	#header.sm-rgt-mn #menu-icon { width:32px;}
	}
	
	@media only screen and (min-width: 767px) and (max-width: 959px) {
	#nav { left:131px; }
	.nav-wrap2 #nav { left:245px;}
	}
	@media only screen and (max-width: 480px) {
	.nav-wrap2 #menu-icon { width: 260px;}
	.nav-wrap2 #nav { left:20px;}
	}
	
	
	@media only screen and (max-width: 959px) { 
	
	#header.sm-rgt-mn, #header.hi-header.sm-rgt-mn { padding:10px 0 0; height:82px;}
	#header.sm-rgt-mn .logo-wrap { float:left; height:45px; }
	#header.sm-rgt-mn .logo-wrap .logo { text-align:left !important;}
	#header.sm-rgt-mn .logo-wrap .logo img { max-height:48px; width:auto;}
	#nav > li.current > a, #nav > li.active > a { border-bottom:none;}
	#header.sm-rgt-mn .alignright { display:none;}
	#header.sm-rgt-mn .nav-wrap2 { height:0; margin-top:-57px;}


	/* menu icon */
	#header.sm-rgt-mn #menu-icon { margin-top:21px; margin-right:4px; overflow:hidden; z-index:98; padding:0; box-shadow:none;  float:right; width: 40px; height:40px; font-size:16px;  position:absolute; right:0; background: transparent; cursor: pointer; display: block; /* how menu icon */	}
	#header.sm-rgt-mn #menu-icon i { display:none;}
	#header.sm-rgt-mn #menu-icon:hover i, #header.sm-rgt-mn #menu-icon.active i { color:#677842; cursor: pointer; }
	#header.sm-rgt-mn #menu-icon span { display:none;}
	#header.sm-rgt-mn #menu-icon span.mn-ext1,
	#header.sm-rgt-mn #menu-icon span.mn-ext2,
	#header.sm-rgt-mn #menu-icon span.mn-ext3 { display:block; width:24px; height:3px; background:#677842; margin-bottom:3px; margin-top:2px;}
	#header.sm-rgt-mn #menu-icon.active span.mn-ext1 { display:none;}
	#header.sm-rgt-mn #menu-icon.active span.mn-ext2 { -webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg); margin-top:9px; border-radius:2px;}
	#header.sm-rgt-mn #menu-icon.active span.mn-ext3 { -webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-ms-transform: rotate(-45deg);transform: rotate(-45deg); margin-top:-6px; border-radius:2px;}
	#header.sm-rgt-mn #menu-icon i:before { display:none; }
	#header.sm-rgt-mn .nav-wrap2 #menu-icon { margin-right:35px; margin-top:22px;}
	
	/* main nav */
	#header.sm-rgt-mn #nav { clear: both; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; margin:0 auto; width:100%;  top:72px; position: absolute; border: 7px solid #8593a6; border-top:1px solid #dcdee2;  display: none;  /* visibility will be toggled with jquery */	}
	#header.sm-rgt-mn .nav-wrap2 #nav { width:98%;}
	}
	
	@media screen and (min-width: 959px) {
	/* ensure #nav is visible on desktop version */
	#nav {	display: block !important;	}	
	}
	
	
	
	
/* End Normal Menu Style
 ----------------------------------- */	
 
	

	/* #Vertical Header
	================================================== */
	
	#header.vertical-w .nav-wrap3 #nav > li > a:after { content:""; display:none; }

	@media only screen and (min-width: 960px) {
	
	#wrap.vertical-header-enabled { padding-left: 250px; }
	#wrap.vertical-toggle-header-enabled { padding-left: 0px; }
	.transparent-header-w #header.vertical-w { position: initial; }

	#vertical-header-wrapper { position: fixed; width: 250px; height: 100%; top: 0; left: 0; z-index: 1001; background-color: #fff; border-right:3px solid #a2a7b1;}

	#header.vertical-w #nav > li > a { margin: 0; line-height: 48px; }

	#header.vertical-w .vheader-container { width: 100%; padding: 0; margin: 0; }
	#header.vertical-w #nav-wrap, #header.vertical-w .logo-wrap { float: none; width: 100%; padding: 0; margin: 0; }
	#header.vertical-w #nav-wrap { margin-bottom: 40px; }
	#header.vertical-w .logo-wrap { overflow: hidden; }

	#header.vertical-w .logo { float: none; text-align: center; margin: 60px 0 50px; padding-left: 15px; padding-right: 15px; }
	#header.vertical-w .logo a { display: block; }
	#header.vertical-w .logo img { margin: auto; margin-top: 0; }

	#header.vertical-w #nav { float: none; margin: 0; }
	#header.vertical-w #nav ul { margin: 0; padding: 0; left: 100%; top: 0; }
	#header.vertical-w #nav li { position: relative; float: none; padding: 0 !important; width: 100%; height: auto; border-bottom: 1px solid #f0f0f0; }
	#header.vertical-w #nav li:hover { background-color: #fafafa; }
	#header.vertical-w #nav > li:last-child { border: none; }
	#header.vertical-w #nav > li > ul:before { display: none; }

	#header.vertical-w #search-form { float: none; border-left: none; padding-left: 0; margin: 0 19px; height: 38px; z-index: 9999; }
	#header.vertical-w #search-form .search-text-box { width: 140px; background-color: #f3f3f3;  background-image: url(../images/search-icon.png); background-position: 12px 50%; background-repeat: no-repeat; border: 0 none; border-radius: 18px; box-shadow: none; font-size: 13px; color:#444; height:18px; line-height: 18px; padding: 7px 5px 8px 30px; } 


		

	/* vertical toggle header */
	.vertical-toggle-header-enabled #header.vertical-w { display: none; }
	.vertical-toggle-header-enabled #header { background:none;}
	.vertical-toggle-header-enabled #header.vertical-w #nav > li { border:none; background:none;}
	.vertical-toggle-header-enabled #header.vertical-w #nav > li > a { line-height:36px; color:#999; text-shadow:none; font-family: 'futura-pt', 'Source Sans Pro',  Helvetica, Arial, sans-serif; font-size:19px;}
	.vertical-toggle-header-enabled #header.vertical-w #nav > li > a:hover { color:#eee; background:#0c0c0c;}
	.vertical-toggle-header-enabled #vertical-header-wrapper { border-right:40px solid #242424; background:rgba(0,0,0,0.9); }
	.vertical-toggle-header-enabled #header.vertical-w #nav ul { background:#191919;}
	.vertical-toggle-header-enabled #header.vertical-w #nav ul li {border-color:#222;}
	.vertical-toggle-header-enabled #header.vertical-w #nav > li:hover, .vertical-toggle-header-enabled #header.vertical-w #nav ul li:hover { background:#0c0c0c;}
	#toggle-icon { display: block; position: absolute; top: 0; right: -99px; margin-right: 13px; margin-top: 20px; cursor: pointer; z-index: 100; background:#242424; width: 46px; height: 42px; padding: 11px; border-radius:0 5px 5px 0; }
	#toggle-icon.active { right: -95px; }

	#toggle-icon span.mn-ext1,
	#toggle-icon span.mn-ext2,
	#toggle-icon span.mn-ext3 { display:block; width:24px; height:3px; background:#777; margin-bottom:3px; margin-top:2px; -webkit-transition: all .4s ease-in-out; -o-transition: all .4s ease-in-out; transition: all .4s ease-in-out; }
	#toggle-icon.active span.mn-ext1 { display:none; background:#677842;}
	#toggle-icon.active span.mn-ext2 { -webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg); margin-top:9px; border-radius:2px; background:#677842;}
	#toggle-icon.active span.mn-ext3 { -webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-ms-transform: rotate(-45deg);transform: rotate(-45deg); margin-top:-6px; border-radius:2px; background:#677842;}


	ul.vertical-socials { position: absolute; bottom: 15px; right: 0; width: 50px; margin: 0; }
	ul.vertical-socials li { list-style: none; display: block;   width: 100%;  text-align: center;   margin-bottom: 5px; line-height: 1.7; }
	ul.vertical-socials li a { font-size: 15px; color: #7f7f7f; }
	
	
	.vertical-toggle-header-enabled #header.vertical-w #search-form .search-text-box { min-width: 170px; width: 170px; background-color: #222;  background-image: url(../images/search-icon.png); background-position: 12px 50%; background-repeat: no-repeat; color:#fff;} 
	
	

	/* socials style */
	.socials-wrapper { position: absolute; bottom: 0; top: auto; clear: both; padding: 0 20px; width: 100%; display:none !important; }
	.socials { float: none; text-align: center; margin: 0; margin-bottom: 20px; }
	.socials li { display: inline-block; margin-right: 16px; }
	.socials i { font-size: 18px; color: #7f7f7f; }
	.socials a.facebook:hover i, .vertical-socials a.facebook:hover i { color: #3b5996; }
	.socials a.facebook:hover i, .vertical-socials a.facebook:hover i { color: #3b5996; }
	.socials a.twitter:hover i, .vertical-socials a.twitter:hover i { color: #00acee; }
	.socials a.vimeo:hover i, .vertical-socials a.vimeo:hover i { color: #0dadd6; }
	.socials a.dribble:hover i, .vertical-socials a.dribble:hover i { color: #d53e68; }
	.socials a.youtube:hover i, .vertical-socials a.youtube:hover i { color: #cb322c; }
	.socials a.pinterest:hover i, .vertical-socials a.pinterest:hover i { color: #cb2027; }
	.socials a.google:hover i, .vertical-socials a.google:hover i { color: #c3391c; }
	.socials a.linkedin:hover i, .vertical-socials a.linkedin:hover i { color: #0073b2; }
	.socials a.rss:hover i, .vertical-socials a.rss:hover i { color: #f29a1d; }
	.socials a.instagram:hover i, .vertical-socials a.instagram:hover i { color: #457399; }
	.socials a.other-social:hover i, .vertical-socials a.other-social:hover i { color: #ff5d5e; }

	}
	.vertical-socials, .vertical-socials * { display:none !important;}
	

	
	/* #logo alignment center
	================================================== */
	#header.sticky .col-md-4.col-empty { display: none; }
	#header .right-side h6 { margin: 17px 0; }
	#header .logo-wrap.center .logo { float: none; }
	#header .center .img-logo-w1 { margin: auto; }
	#header .nav-wrap2.center { text-align: center; border-top:none; }
	#header .nav-wrap2.center #nav { float: none; }
	#header.sticky .nav-wrap2 #nav { float: right; }
	#header .nav-wrap2.center #nav > li { float: none; display: inline-block; }
	#header .nav-wrap2.center #nav > li > a { border:none;} 

	
	/* #logo alignment right
	================================================== */
	#header.sm-rgt-mn .logo-wrap.right, #header .logo-wrap.right, #header .logo-wrap.right .logo { float: right; }
	#header .left-side h6 { margin-top: 0; }
	#header.sm-rgt-mn .nav-wrap2.left #menu-icon { right: auto; left: 0; float: left;  margin-left: 35px; }
	#header.sticky #nav-wrap.nav-wrap2.left .container { padding-right: 300px; padding-left: 30px; }
	#header.sticky .nav-wrap2.left #nav { float: left; }
	#header.sticky .right .logo-sticky { left: auto; right: 110px; }
	#header .left-side .header-saerch { float: left; }	
	

	@media only screen and (max-width: 959px) {

		#vertical-header-wrapper { padding:0; }
		#header.sm-rgt-mn .alignright, #header.sm-rgt-mn .right-side, #header.sm-rgt-mn .left-side { display: none; }
		.vertical-toggle-header-enabled #header { background:rgba(0,0,0,0.9); }
		
		/*vertical header*/
		.socials-wrapper, .vertical-socials { display: none !important; }
		.vertical-toggle-header-enabled #header.vertical-w { display: block !important; }

		/*logo alignment center*/
		#header .right-side { display: none; }
		#header #nav-wrap.nav-wrap2.center #nav > li { display:block; }

	}


	@media only screen and (max-width: 767px) {

		/*logo alignment right*/
		#header .logo-wrap.right, #header .left-side { float: none; display: block; overflow: hidden; text-align: center; }
		#header .left-side .header-saerch { float: none; }

		/*logo alignment left*/
		#header .alignright { text-align: center; }

	}	
	
	
	
	/* #Duplex Menu
	================================================== */
	@media (min-width: 959px){
	nav.full-menu{display:none !important;}
	}
	@media (max-width: 959px) {
	nav.duplex-menu{display:none !important;}
	}
	@media only screen and (min-width: 960px) {
	.col-md-4.duplex-menu { width:50%; padding:0;}
	#header.duplex-hd .col-md-4.logo-wrap { text-align:center; width:120px; height:120px; padding:0; position:absolute; top:0; left:50%; margin-left:-60px;}	
	#nav.duplex-menu { float:none;}	
	#nav.duplex-menu > li { float:none; padding:0 12px; display:inline-block;}
	.duplex-menu.dm-left { text-align:right; padding-right:100px;}
	.duplex-menu.dm-right { text-align:left; padding-left:100px;}
	}
		
	
/* End
 --------------------- */